@charset "utf-8";

/* brand > aboutN */
.brand .video_wrap .search-container {
  margin-bottom: 6.25rem;
}

.video_list li > a .card_img {
  position: relative;
}

.video_list li > a .card_img_foot .detail_box {
  width: 100%;
  height: 44px;
  padding: 14px 24px;
  display: block;
  background-color:#de3111;
  color:#fff;
  text-align: center;
  position:absolute;
  bottom: 0;
  left:0;
  display: none;
}

.video_list li:hover .card_img .card_img_foot .detail_box {  
  display: block;
}

.video_list li:hover .card_img .card_img_foot .detail_box span {
  margin-bottom: -3px;
}

.content-box .banner-box {
  position: relative;
  max-width: 1440px;
  margin: 100px auto;
}
.content-box .banner-box .banner-titbox {
  position: absolute;
  top: 40px;
  left: 60px;
  color:#fff;
}
.content-box .banner-box .btn-wrap {
  position: absolute;
  left: 60px;
  bottom: 44px;
}
.content-box .banner-box .banner-titbox .banner-tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;  
}
.content-box .banner-box .banner-titbox .banner-des {
  margin-top: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.content-box .card_type04 .card_con p.tit-type03.fw-type03 {
  -webkit-line-clamp : 4;
  max-height: calc(11.25em);
}

.content-box .paging {
  margin-left: 8px;
}

.conts-section-wrap {
 padding-top:200px;
 padding-bottom:200px;
}
.conts-section-wrap.type-tab {
  padding-bottom: 0;
}
.conts-section-wrap.type-tab .tab-head {
  flex-direction: column;
}
.conts-section-wrap.type-tab .tab-head .title {
  margin-bottom: 60px;
}
.conts-section-wrap.type-tab .tab-content {
  margin-top: 80px;
}

.conts-section-wrap.type-tab .tab-content .text-normal {
  max-width: 1200px;
  font-weight: 500;
}
.models-wrap .conts-section-wrap .conts-bnr-box .img-wrap {
  width: 100%;
}
.models-wrap .conts-section-wrap .conts-bnr-box img {
  height: 805px;
}
.brand .models-wrap .content-item03 {
  padding:0;
  margin:0;
}

.brand .models-wrap [class*="max1440"] {
  gap: 60px;
}
.brand .models-wrap [class*="max1200"] {
  max-width: 1200px;
  margin:0 auto;
}

.models-wrap .video_thumnail_wrap {
  position: static;
}

.models-nofull-box .img-conts-wrap .img-area > img {
 margin:160px 0  60px;
}
.brand .models-wrap .models-nofull {
  padding: 200px 24px;
  margin-bottom: 0;
}

.models-wrap .location-wrap  .models-full {
  background: url(../../inc/images/img/img_aboutN_loca.png);
  background-size: cover;
  background-position: center;
  padding: 200px 240px;
  display: flex;
  align-items: flex-end;
}
.models-wrap .location-wrap [class*="max1440"] {  
  text-align: left;
  display: block;  
}

.models-wrap .text-col .text-sub {
  font-family: "Hyundai Sans Head";
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #fff;
  margin-top: 40px;
}
.models-wrap .location-wrap .text-col .text-normal {
  margin-top: 20px;  
}

.n-story-box .img-conts-wrap .img-area {
  position: relative;
}
.n-story-box .img-conts-wrap .img-area .ico-logo {
  position: absolute;
  top:56%;
  left: 50%;
  transform: translate(-50%,-50%);  
}

.brand .models-wrap .text-strong {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.brand .models-wrap .text-normal-s {
  margin-top:20px;
}

.content-item07 .models-nofull-box .img-conts-wrap .img-area > img {
  margin-top:0;
}

.brand .models-wrap .content-item08  .models-full {
  background: url(../../inc/images/img/img_aboutN_conts05.png);
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 979px;
}
.brand .models-wrap .content-item08 .text-col {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.brand .models-wrap .content-item08 .text-col .text-sub {
  color: #000;
}
.brand .models-wrap .content-item08 .text-col .text-normal {
  margin-top:20px;
}
.brand .history-box .history-list li .text-area .sub-text-list {
  margin-top: 12px;  
}
.brand .history-box .history-list li .text-area .sub-text-list li {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.brand .history-box .history-list li .text-area .info .desc {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.brand .history-box {
  margin-bottom: 0;
}

.models-wrap .poster-bnr-wrap .models-full {
  background: url(../../inc/images/img/img_dna_conts02.png);
  background-size: cover;
  background-position: center;
  padding: 200px 240px;
  display: flex;
  align-items: flex-end;
  height: 2924px;
}
.models-wrap .poster-bnr-wrap .text-normal {
  font-size: 20px;  
  line-height: 28px;
}

.bg-bnr-type .conts-section-wrap {
  padding-bottom:60px;
}
.bg-bnr-wrap {
  background: url(../images/img/img_people_conts01.png) no-repeat center center;
  background-size: cover;
  height: 1080px;
}

.article-box-wrap .conts-section-wrap {
  padding-top: 160px;
  padding-bottom: 200px;
  max-width: 1440px;
  margin:0 auto;
}
.article-box-wrap .article:not(:last-child) {
  padding-bottom: 160px;
}
.article-box-wrap .article .img-area {
  height: 810px;
}
.article-box-wrap .article .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-box-wrap .article .text-area {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap:24px;
}
.article-box-wrap .article .text-area > div {
  padding:0 16px;
  font-family: "Hyundai Sans Text";
}
.article-box-wrap .article .text-area .left-side {
  width: 70%;
}
.article-box-wrap .article .text-area .right-side {
  width: 30%;
}
.article-box-wrap .article .text-area .left-side .desc {
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  word-break: keep-all;
}
.article-box-wrap .article .text-area .right-side .info .sub {  
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.article-box-wrap .article .text-area .right-side .info .name {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 8px;
}

.models-wrap .poster-bnr-wrap.people .models-full {
  background-image: url(../images/img/img_people_Nginners01.png);
  height: 1400px;
  padding: 200px 240px;
  align-items: flex-start;
}
.gallery-box .conts-section-wrap {
  padding:60px 0 0;
}

.models-wrap .gallery-box .conts-bnr-box {
  margin-bottom: 200px;
}
.gallery-box .swiper-status-wrap {
  bottom:auto;
  top:720px;
}
.gallery-box .ty02Swiper .swiper-wrapper {
  align-items: revert;
}
.gallery-box .ty02Swiper .swiper-slide a {
  height: 743px;
  display: flex;
  align-items: center;
}
.gallery-box .gallery-conts-box .ty02Swiper .swiper-button-next, 
.gallery-box .gallery-conts-box .ty02Swiper .swiper-button-prev {
  top:400px
}
.gallery-box .gallery-conts-box .text-area {
  max-width: 952px;
  margin: 0 auto;
  font-family: "Hyundai Sans Text";
  text-align: center;
  margin-top: 80px;
  display: none;
}
.gallery-box .gallery-conts-box .swiper-slide.swiper-slide-active .text-area {
  display: block;
}
.gallery-box .gallery-conts-box .text-area .gallery-desc {
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
}
.gallery-box .gallery-conts-box .text-area .gallery-dept {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 20px;
}

.conts-section-wrap > article {
  gap:40px !important; 
}
.brand .models-wrap .info-bnr-wrap {
  padding-top: 40px;
}
.brand .models-wrap .info-bnr-wrap .text-normal-s {
  margin-top: 0;
}
.info-video-wrap {
  padding-top: 160px;
}
.info-video-wrap .img-wrap {
  position: relative;
}
.info-video-wrap .img-wrap::before {
  content: "";
  display: block;
  width: 240px;
  height: 240px;
  background: url(../images/icon/icon-play-video.svg) no-repeat center center / 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.info-video-wrap a:hover .img-wrap::before {
  background-image: url(../images/icon/icon-play-video-hover.svg);
}

.calendar-list-wrap {
  
}

/* mobile */
@media screen and (max-width:1023px) {
  .brand .video_wrap .search-container {
    margin-bottom: 4rem;  
  }
  .content-box .banner-box {
    margin:64px 0;
  }

  .content-box .banner-box img {
    max-height: 400px;
  }
  .content-box .banner-box .banner-titbox {
    top: 32px;
    left: 24px;
  }

  .content-box .banner-box .banner-titbox  .banner-tit {
    font-size: 24px;
    line-height: 33.6px;
  }

  .content-box .banner-box .banner-titbox  .banner-des {
    font-size: 18px;
    line-height: 25.2px;
  }
  .content-box .banner-box .btn-wrap {
    left: 17px;
    bottom: 234px;
  }

  .content-box .paging {
    margin-left: 4px;
  }

  /* aboutN - BR020102 */
  .conts-section-wrap {
    padding:120px 24px;
  }
  
  .models-wrap .conts-section-wrap .conts-bnr-box img {
    height: 240px;
  }
  
  .brand .models-wrap [class*="max1440"] {
    gap: 36px;
  }

  .brand .models-wrap .content-item02 {
    max-height: 100%;
  }
  
  .brand .models-wrap .video-wrap video {
    max-height:360px;
  }

  .brand .models-wrap .video-wrap video + .btn {
    top:307px;
    right: 12px;
  }

  .pyramid-box .img-wrap {
    min-height: 312px;
  }

  .bnr-info-wrap {
    width: 100%;
    margin-top: -24px;
  }
  .bnr-info-wrap .info-list li a {
    display: flex;    
    align-items: center;

  }
  .bnr-info-wrap .info-list li .img-area {
    width: 96px;
    height: 43px;
    padding-right: 13px;
  }
  .bnr-info-wrap .info-list li .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bnr-info-wrap .info-list li .model_logo {
    margin-bottom: 8px;
    display: inline-flex;
  }
  .bnr-info-wrap .info-list li .model_logo img {
    width: 100%;
    height: 23px;
    object-fit: contain;
    
  }
  .bnr-info-wrap .info-list li .text-area {
    text-align: left;
    justify-content: flex-start;
  }
  .bnr-info-wrap .info-list li .text-area .model_title {
    color:#000;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .bnr-info-wrap .info-list li .text-area .model_title strong {
    font-family: "Hyundai Sans Head";
    color:#de3111;
    font-weight: 700;
  }
  .bnr-info-wrap .info-list li .text-area .model_info {
    margin-top:4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .bnr-info-wrap .info-list li:not(:first-child):before {
    content:'';
    background: #bbb;
    width: 100%;
    height: 1px;
    display: block;
    margin:28px 0;
  }
  .models-nofull-box .img-conts-wrap .img-area > img {
    
    margin:100px 0  36px;
    width: 100%;
  }
  .brand .models-wrap .models-nofull {
    padding: 120px 24px;
    margin-bottom: 0;
  }
  
  .brand .models-wrap .text-strong {
    font-size: 36px;
    line-height: 45px;
  }
  .brand .models-wrap .text-normal-s {
    margin-top:12px;
  }

  .models-wrap .location-wrap .full-1600 {
    height: 840px;    
    padding:120px 24px;
  }    
  
  .brand .models-wrap .content-item08  .models-full {
    height: 240px;
  }
  .brand .models-wrap .content-item08 .text-col {
    padding:36px 24px 0;
  } 
  .brand .models-wrap .content-item08 .text-col .text-sub {
    margin-top: 28px;
  }
  .brand .models-wrap .content-item08 .text-col .text-normal {
    margin-top:12px;
  }

  .brand .history-box-wrap {
    margin:auto 24px 0;
  }

  .brand .history-box .history-list li .text-area .sub-text-list li {
    font-size: 17px;
    line-height: 23.8px;
  }
  .models-wrap .poster-bnr-wrap .models-full {
    height: 840px;
    padding: 152px 24px 120px;
  }
  .models-wrap .poster-bnr-wrap .text-strong {
    font-size: 30px;
    line-height: 42px;
    word-break: break-all;
  }
  .models-wrap .poster-bnr-wrap .text-normal {
    font-size: 17px;  
    line-height: 23.8px;
  }
  
  .conts-section-wrap.type-tab .tab-head {
    padding: 0 49px;
  }
  .conts-section-wrap.type-tab .tab-head .title {
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs {
    margin:0 5px 0;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs li {
    float: revert;
    border-right: 1px solid #777;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs li:not(:last-child) {
    border-bottom:0;
  }
  .conts-section-wrap.type-tab .tab-content {
    margin-top: 44px;
  }
  .conts-section-wrap.type-tab .tab-content .conts-bnr-box img {
    height: 200px;
  }
  .conts-section-wrap.type-tab .tab-content .text-strong {
    font-size: 30px;
    line-height: 42px;
  }
  .conts-section-wrap.type-tab .tab-content .text-normal {
    font-size: 17px;
    line-height: 23.8px;
  }

  .bg-bnr-type .conts-section-wrap {
    padding-bottom:36px;
  }
  .bg-bnr-wrap {
    height: 240px;
  }
  .article-box-wrap .conts-section-wrap {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .article-box-wrap .article:not(:last-child) {
    padding-bottom: 100px;
  }
  .article-box-wrap .article .img-area {
    height: 200px;
  }
  .article-box-wrap .article .img-area img {
    object-fit: revert;
  }
  
  .article-box-wrap .article .text-area {
    margin-top: 36px;
    display: block;
  }
  .article-box-wrap .article .text-area > div {
    padding:0;
    width: 100% !important;
  }
  .article-box-wrap .article .text-area .left-side {
    margin-bottom: 20px;
  }
  .article-box-wrap .article .text-area .left-side .desc {
    font-size: 20px;
    line-height: 28px;
  }
  .article-box-wrap .article .text-area .right-side .info .sub {  
    font-size: 17px;
    line-height: 23.8px;
  }
  .article-box-wrap .article .text-area .right-side .info .name {
    font-size: 20px;
    line-height: 23.8px;
  }

  .models-wrap .poster-bnr-wrap.people .models-full {
    padding:100px 24px;
    height: 725px;
  }
  .models-wrap .poster-bnr-wrap .models-full .text-normal{
    margin-top: 20px !important;
  }
  .gallery-box .conts-section-wrap {
    padding:36px 0 0;
  }
  .gallery-box .swiper-status-wrap {
    bottom:auto;
    top:340px;    
  }
  .gallery-box .ty02Swiper .swiper-slide a {
    height: 356px;    
    align-items: flex-start;
  }
  .gallery-box .ty02Swiper .swiper-slide .img-area {
    height: 312px;
  }
  .models-wrap .gallery-box .conts-bnr-box {
    margin-bottom:120px;
    padding:0 24px;
  }
  .gallery-box .gallery-conts-box .text-area {    
    text-align: left;
    margin-top: 44px;
    padding:0 0;
  }
  .gallery-box .gallery-conts-box .text-area .gallery-desc {
    font-size: 20px;    
    line-height: 28px;
  }
  .gallery-box .gallery-conts-box .text-area .gallery-dept {
    font-size: 17px;
    line-height: 23.8px;
  }

  .brand .models-wrap .info-bnr-wrap {
    padding-top: 36px;
  }
  .conts-section-wrap > article {
    gap:28px !important;
  }
  .info-video-wrap {
    padding-top: 100px;
  }
  
  .info-video-wrap .img-wrap::before {
    width: 60px;
    height: 60px;
  }
  
}