@charset "utf-8";

/* brand > aboutN */
.brand .video_wrap .search-container {
  margin-bottom: 6.25rem;
}

.video_list li > a .card_img {
  position: relative;
}

.video_list li > a .card_img_foot .detail_box {
  width: 100%;
  height: 44px;
  padding: 14px 24px;
  display: block;
  background-color: #de3111;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.video_list li:hover .card_img .card_img_foot .detail_box {
  display: block;
}

.video_list li:hover .card_img .card_img_foot .detail_box span {
  margin-bottom: -3px;
}

.content-box .banner-box {
  position: relative;
  max-width: 1440px;
  margin: 100px auto;
}
.content-box .banner-box .banner-txt-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-box .banner-box .banner-titbox .banner-tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.content-box .banner-box .banner-titbox .banner-des {
  margin-top: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.content-box .card_type04 .card_con p.tit-type03.fw-type03 {
  -webkit-line-clamp: 4;
  max-height: calc(11.25em);
}

.content-box .paging {
  margin-left: 8px;
}

.conts-section-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 80px;
  padding-right: 80px;
}
.conts-section-wrap.type-tab {
  padding-bottom: 0;
}
.conts-section-wrap.type-tab .tab-head {
  flex-direction: column;
}
.conts-section-wrap.type-tab .tab-head .desc {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 20px;
  text-align: center;
}
.conts-section-wrap.type-tab .tab-head .tabs-wrap {
  margin-top: 60px;
}
.conts-section-wrap.type-tab .tabs li {
  width: 222px;
  text-align: center;
}
.conts-section-wrap.type-tab .tab-content {
  margin-top: 80px;
}

.conts-section-wrap.type-tab .tab-content .text-normal {
  max-width: 1200px;
  font-weight: 500;
}
.models-wrap .conts-section-wrap .conts-bnr-box .img-wrap {
  width: 100%;
}
.models-wrap .conts-section-wrap .conts-bnr-box img {
  object-fit: cover;
}
.brand.models-wrap .content-item03 {
  padding: 0;
  margin: 0;
}

.brand.models-wrap [class*="max1440"] {
  gap: 60px;
}
.brand.models-wrap [class*="max1200"] {
  max-width: 1360px;
  padding: 0 80px;
  margin: 0 auto;
}
.brand .conts-section-wrap .max1440,
.brand .conts-section-wrap .max1200,
.brand.models-wrap .max1440 .max1440,
.brand.models-wrap .max1440 .max1200 {
  padding-left: 0;
  padding-right: 0;
}
.brand .conts-section-wrap .max1440,
.brand.models-wrap .max1440 .max1440 {
  max-width: 1440px;
}
.brand .conts-section-wrap .max1200,
.brand.models-wrap .max1440 .max1200 {
  max-width: 1200px;
}

.models-wrap .video_thumnail_wrap {
  position: static;
}

.models-nofull-box .img-conts-wrap .img-area > img {
  margin: 160px 0 60px 0;
}
.brand.models-wrap .models-nofull {
  padding: 200px 80px;
  margin-bottom: 0;
}

.models-wrap .location-wrap .models-full {
  background: url(../../inc/images/img/img_aboutN_loca.png);
  background-size: cover;
  background-position: center;
  padding: 200px 160px;
  display: flex;
  align-items: flex-end;
  height: 1600px;
}
.models-wrap .location-wrap [class*="max1440"] {
  text-align: left;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
}

.models-wrap .text-col .text-sub {
  font-family: "Hyundai Sans Head";
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #fff;
  margin-top: 40px;
}
.models-wrap .location-wrap .text-col .text-normal {
  margin-top: 20px;
  font-weight: 500;
}

.n-story-box .img-conts-wrap .img-area {
  position: relative;
}
.n-story-box .img-conts-wrap .img-area .ico-logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand.models-wrap .text-strong {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.brand.models-wrap .motor_tit {
  font-family: "Hyundai Sans Head";
  font-size: 68px;
  font-weight: 700;
  line-height: 125%;
}
.brand.models-wrap .text-normal-s {
  margin-top: 20px;
}

.content-item07 .models-nofull-box .img-conts-wrap .img-area > img {
  margin-top: 0;
}

.brand.models-wrap .content-item08 .models-full {
  background: url(../../inc/images/img/img_aboutN_conts05.png);
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 979px;
}
.brand.models-wrap .content-item08 .text-col {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.brand.models-wrap .content-item08 .text-col .text-sub {
  color: #000;
}
.brand.models-wrap .content-item08 .text-col .text-normal {
  margin-top: 20px;
}
.brand .history-box-wrap {
  padding-top: 0;
}
.brand .history-box .history-list li .text-area .sub-text-list {
  margin-top: 12px;
}
.brand .history-box .history-list li .text-area .sub-text-list li {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.brand .history-box .history-list li .text-area .info .desc {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.brand .history-box {
  margin-bottom: 0;
}

.models-wrap .poster-bnr-wrap .models-full {
  background: url(../../inc/images/img/img_dna_conts02.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  display: flex;
  align-items: flex-end;
  height: 2924px;
}
.models-wrap .poster-bnr-wrap .text-normal {
  font-size: 20px;
  line-height: 28px;
}

.bg-bnr-type .conts-section-wrap {
  padding-bottom: 60px;
}
.bg-bnr-wrap {
  background: url(../images/img/img_people_conts01.png) no-repeat center center;
  background-size: cover;
  height: 1080px;
}

.article-box-wrap .conts-section-wrap {
  padding-top: 160px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.article-box-wrap .article:not(:last-child) {
  padding-bottom: 160px;
}
.article-box-wrap .article .img-area {
  width: 100%;
}
.article-box-wrap .article .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-box-wrap .article .text-area {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.article-box-wrap .article .text-area > div {
  padding: 0 16px;
  font-family: "Hyundai Sans Text";
}
.article-box-wrap .article .text-area .left-side {
  width: 70%;
}
.article-box-wrap .article .text-area .right-side {
  width: 30%;
}
.article-box-wrap .article .text-area .left-side .desc {
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  word-break: break-word;
}
.article-box-wrap .article .text-area .right-side .info .sub {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.article-box-wrap .article .text-area .right-side .info .name {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 8px;
}

.models-wrap .poster-bnr-wrap.people .models-full {
  background-image: url(../images/img/img_people_Nginners01.png);
  height: 1400px;
  padding: 200px 240px;
  align-items: flex-start;
}
.gallery-box .conts-section-wrap {
  padding: 60px 0 0;
}

.models-wrap .gallery-box .conts-bnr-box {
  margin-bottom: 200px;
}
.gallery-box .swiper-status-wrap {
  bottom: auto;
  top: 720px;
}
.gallery-box .ty02Swiper .swiper-wrapper {
  align-items: revert;
}
.gallery-box .ty02Swiper .swiper-slide a {
  height: 743px;
  display: flex;
  align-items: center;
}
.gallery-box .gallery-conts-box .ty02Swiper .swiper-button-next,
.gallery-box .gallery-conts-box .ty02Swiper .swiper-button-prev {
  top: 400px;
}
.gallery-box .gallery-conts-box .text-area {
  max-width: 952px;
  margin: 0 auto;
  font-family: "Hyundai Sans Text";
  text-align: center;
  margin-top: 80px;
  display: none;
  background-color: transparent;
}
.gallery-box .gallery-conts-box .swiper-slide.swiper-slide-active .text-area {
  display: block;
}
.gallery-box .gallery-conts-box .text-area .gallery-desc {
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
}
.gallery-box .gallery-conts-box .text-area .gallery-dept {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 20px;
}

.conts-section-wrap > article {
  gap: 40px !important;
}
.brand.models-wrap .info-bnr-wrap {
  width: 100%;
  padding-top: 40px;
}
.brand.models-wrap .info-bnr-wrap .img-wrap {
  width: 100%;
}
.brand.models-wrap .info-bnr-wrap .text-normal-s {
  margin-top: 0;
}
article.info-bnr-wrap + article.info-video-wrap {
  margin-top: 160px;
}
.info-video-wrap {
  padding-top: 160px;
}
.info-video-wrap .img-wrap {
  position: relative;
}
.info-video-wrap .img-wrap::before {
  content: "";
  display: block;
  width: 240px;
  height: 240px;
  background: url(../images/icon/icon-play-video.svg) no-repeat center center /
    100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-video-wrap a:hover .img-wrap::before {
  background-image: url(../images/icon/icon-play-video-hover.svg);
}

.calendar-list-wrap {
  text-align: center;
  color: #fff;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../../inc/images/content/img_wrc_cal_bg.png) 50% / cover no-repeat;
  mix-blend-mode: luminosity;
}
.calendar-list {
  margin-top: 3.75rem;
}
.calendar-list .calendar_img {
  position: relative;
  width: 100%;
}
.calendar-list .img_badge {
  position: absolute;
  left: 1rem;
  top: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #de3111;
  font-family: "Hyundai Sans Head";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.calendar-list .calendar_info {
  padding: 1rem 1rem 1.25rem 1rem;
  background-color: #fff;
  color: #000;
  text-align: left;
}
.calendar-list .calendar_info .info_main {
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
}
.calendar-list .calendar_info .info_main .title {
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.calendar-list .calendar_info .info_main .md-txt-btn01 {
  margin: 1rem 0 0.5rem 0;
}
.calendar-list .calendar_info .info_detail dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.calendar-list .calendar_info .info_detail .date {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.calendar-list .calendar_info .info_detail .ico_flag {
  width: 2.625rem;
  height: 1.75rem;
}
.brand .motor_technical {
  padding: 15rem 5rem;
}
.brand .motor_tab .tab-head {
  flex-direction: column;
  row-gap: 2.5rem;
}
.brand .motor_tab .tab-head .title {
  font-family: "Hyundai Sans Head";
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 125%;
}
.brand .motor_tab .tab-head .tabs li a {
  width: 15.688rem;
  text-align: center;
}
.brand .motor_tab .motor_tab_con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand .motor_tab .motor_tab_img {
  width: 59.5rem;
}
.brand .motor_tab .mypage-withdrawal-table {
  margin-top: 1.25rem;
  max-width: 54rem;
  text-align: left;
}
.brand .motor_tab .mypage-withdrawal-table tr {
  border-top: 1px solid #aaaaaa;
}
.brand .motor_tab .mypage-withdrawal-table th {
  padding: 2rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  vertical-align: top;
}
.brand .motor_tab .mypage-withdrawal-table td {
  padding: 2rem 0;
  padding-right: 2.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.brand .motor_tab .motor_tab_con .lg-txt-btn01 {
  margin-top: 2.5rem;
  padding: 0.75rem 0;
}
.brand .motor_wrap {
  padding-left: 5rem;
  padding-right: 5rem;
}
.brand .motor_wrap .grid_2 {
  width: 100%;
}
.line-up-wrap {
  background: url(../../inc/images/content/img_wrc_lineUp_bg.png) center / cover
    no-repeat;
  text-align: center;
  color: #fff;
}
.line-up-wrap .text-normal + .motor_tit {
  margin-top: 0.5rem;
}
.line-up-wrap .max1200 + .max1440 {
  display: block;
  margin-top: 6.25rem;
}
.lineup_wrap {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin: 0 auto;
  max-width: 59.5rem;
}
.lineup_wrap img {
  width: 100%;
  max-width: 29rem;
}
.lineup_box {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 5rem auto 5rem auto;
  max-width: 59.5rem;
}
.lineup_info {
  width: 100%;
}
.lineup_info .lineup_subtit {
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.lineup_info .lineup_tit {
  margin: 1.75rem auto 0.5rem auto;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  color: #aacae6;
}
.lineup_info .lineup_detail {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.wrc_swiper .swiper-bottom-wrap {
  left: 0;
  width: 100%;
  top: 12.63rem;
  bottom: auto;
}
.wrc_swiper .swiper-button-prev,
.wrc_swiper .swiper-button-next {
  margin-top: 0;
}
.wrc_swiper .swiper-button-prev:after {
  background-image: url(../images/icon/icon-arrow-box-white_left.svg);
}
.wrc_swiper .swiper-button-next:after {
  background-image: url(../images/icon/icon-arrow-box-white_right.svg);
}
.wrc_swiper .swiper-button-prev.swiper-button-disabled,
.wrc_swiper .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.wrc_swiper .swiper-status-wrap {
  bottom: 0;
  height: fit-content;
}
.wrc_swiper .swiper-pagination-bullet {
  background-color: #fff;
}
.wrc_article_img {
  width: 100%;
  height: auto;
}
.wrc_article_wrap {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: left;
}
.wrc_article_italic {
  padding: 0rem 1rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 140%;
}
.wrc_article_wrap > div {
  flex-shrink: 0;
  padding: 0rem 1rem;
  width: 29rem;
}
.wrc_article_wrap > div p:first-of-type {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.wrc_article_wrap > div p:last-of-type {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.brand .gallery-wrap.barnd-gallery {
  padding: 0;
}
.brand .gallery-wrap .btn-wrap-default {
  margin-top: 3.75rem;
}
.brand .gallery-wrap .btn-wrap-default.sns_wrap {
  gap: 2rem;
  margin-top: 12.5rem;
}
.brand .gallery-wrap .lg-txt-btn01 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
}

/* BR030103 */
.brand .ty02Swiper .swiper-slide .img-area img.mo-only {
  display: none;
}
.brand.models-wrap .max1440.tcr_winner_wrap {
  gap: 0;
  color: #fff;
}
.tcr_winner_wrap .text-col img {
  margin-bottom: 2.5rem;
  width: 13.625rem;
}
.tcr_winner_wrap .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
  margin-top: 6.25rem;
  width: 100%;
  max-width: 77.1875rem;
}
.tcr_winner_wrap img {
  width: calc(33% - 1.25rem);
}
.text-year {
  margin-bottom: 20px;
}
.brand .info-video-wrap.info-bnr-wrap + .max1440 {
  margin-top: 10rem;
}
.brand .fame_grid {
  row-gap: 5rem;
}
.brand .fame_date {
  margin-bottom: 0.75rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  color: #de3111;
}
.brand .fame_text {
  font-family: "Hyundai Sans Head";
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}
.brand .fame_img {
  margin: 1.75rem 0;
}
.tcr_choice_wrap .conts-section-wrap {
  height: 87.5rem;
  background-image: url(../images/content/img_tcr_choice_bg_pc.png);
  background-position: bottom center;
  background-size: cover;
  color: #fff;
}
.dropdown-btn.tcr_dropdown .wrap-dropdown-selected {
  margin: 0 auto;
  max-width: 90rem;
  cursor: default;
}
.dropdown-btn.tcr_dropdown .dropdown-btn-title {
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.dropdown-btn.tcr_dropdown .btn-md-outline01 {
  margin-left: auto;
}
.tcr_team_wrap {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/content/img_tcr_team_bg.png) lightgray 50% / cover no-repeat;
  color: #fff;
}
.brand.models-wrap .tcr_team_wrap .max1440 {
  gap: 0;
}
.tcr_team_wrap .motor_tit_wrap {
  margin-bottom: 0;
}
.tcr_team_wrap .img-wrap,
.tcr_team_wrap .tcr_team {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 6.25rem;
  width: 100%;
}
.tcr_team_wrap .tcr_team {
  margin-top: 5rem;
}
.tcr_team_wrap .tcr_team div {
  width: 100%;
}
.tcr_team_wrap .tcr_team_tit {
  margin-bottom: 1.25rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  color: #aacae6;
}
.tcr_team_wrap .tcr_team_text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.tcr_discover_btn {
  margin-top: 1.25rem;
  padding: 0.75rem 0;
}

/* BR030104 */
.motor_tit_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 0 auto 3.75rem auto;
  padding: 0 5rem;
  max-width: 84.75rem;
  text-align: center;
}
.honed_wrap {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../../inc/images/content/img_24h_conts02_bg.png) lightgray 50% / cover
      no-repeat;
}
.honed_wrap .motor_tit {
  text-align: center;
  color: #fff;
}
.honed_wrap .img-wrap {
  margin: 0 auto;
  margin-top: 6.25rem;
  max-width: 105rem;
}
.motor_paddig_wrap {
  padding: 200px 0;
}
.motor_team_list {
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
  padding: 0 1.38rem;
  width: 100%;
  color: #fff;
}
.motor_team_list > li {
  width: 100%;
}
.motor_team_list p {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #595c5f;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.motor_team_list_detail {
  padding-top: 3rem;
}
.motor_team_list_detail li {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  font-family: "Hyundai Sans Head";
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}
.motor_team_list_detail li + li {
  margin-top: 1rem;
}
.motor_team_list_detail li img {
  width: 2.625rem;
  height: auto;
}
.motor_link_card {
  display: flex;
  flex-direction: column;
}
.motor_link_card img {
  width: 100%;
}
.motor_link_card p {
  margin-top: 2.5rem;
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
}
.motor_link_card .btn {
  margin-top: 0.75rem;
  padding: 0.75rem 0;
}
/* BR040101 */
.brand .performance_wrap .max1440 {
  gap: 5rem;
}
.performance_tit_area {
  padding: 8.75rem 5rem;
  text-align: center;
}
.performance_tab_area {
  padding: 12.5rem 5rem;
  width: 100%;
}
.performance_tab_area .motor_tab {
  width: 100%;
}
.performance_tab_area .tabs-wrap {
  width: 100%;
}
.performance_tab_area .motor_tab .tab-head .tabs li {
  width: 20%;
}
.performance_tab_area .motor_tab .tab-head .tabs li a {
  width: 100%;
}
.performance_tab_area .tab-content {
  margin-top: 3.75rem;
}
.performance_tab_tit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}
.performance_tab_tit .text-normal {
  margin: 1.25rem 0 0.75rem 0;
}
.performance_tab_notice {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
  color: #666666;
}
.performance_tab_tit .btn-lg-outline01 {
  margin-top: 2.75rem;
}
.performance_tab_area .motor_tab_con .grid_3 {
  margin-top: 3.75rem;
}
.performance_tab_area .motor_tab_con .grid_3 p {
  margin-top: 1.25rem;
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
}
.models-wrap.performance_wrap .gallery-wrap {
  margin: 0;
  padding: 0;
}
.performance_slide_tit {
  margin: 2.5rem auto 0 auto;
  padding: 0.69rem 2rem;
  width: fit-content;
  min-width: 9.625rem;
  background-color: #000000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.brand .gallery-wrap .swiper-bottom-wrap {
  top: 50%;
}
.performance_slide_wrap + .performance_slide_wrap {
  margin-top: 12.5rem;
}
.brand .gallery-wrap .performance_slide_wrap .btn-wrap-default {
  margin-top: 5rem;
  padding: 0.75rem 0;
}
.performance_garage_wrap {
  height: 90rem;
  background-image: url(../images/content/img_performance_garage_bg_pc.png);
  background-position: bottom center;
  background-size: cover;
  color: #fff;
}
.performance_garage_wrap .text-col .btn-lg-outline02 {
  margin-top: 3.75rem;
}
.performance_garage {
  padding: 5rem 5rem 15rem 5rem;
}
/* BR050101 */
.merchandise-wrap .swiper-slide img.pc-only {
  display: block;
}
.merchandise-wrap .swiper-slide img.mo-only {
  display: none;
}
.merchandise-wrap .merchandise-w1440 {
  max-width: 1440px;
  margin: 0 auto;
}
.merchandise-wrap .merchandise-w1096 {
  max-width: 1096px;
  margin: 0 auto;
  text-align: center;
}
.merchandise-wrap .collection-wrap {
  padding: 160px 80px 200px 80px;
}
.merchandise-wrap .merchandise-kv .swiper-button-prev {
  bottom: 40px;
  left: 40px;
  top: auto;
  height: 36px;
  width: 36px;
}
.merchandise-wrap .merchandise-kv .swiper-button-next {
  bottom: 40px;
  right: 40px;
  top: auto;
  height: 36px;
  width: 36px;
}
.merchandise-wrap .merchandise-kv .swiper-button-prev:after {
  background: url(../../inc/images/icon/icon-arrow01_left_white.svg) no-repeat
    center top / 100%;
  opacity: 0.5;
}
.merchandise-wrap .merchandise-kv .swiper-button-next:after {
  background: url(../../inc/images/icon/icon-arrow01_right_white.svg) no-repeat
    center top / 100%;
  opacity: 0.5;
}
.merchandise-wrap .merchandise-kv .swiper-status-wrap {
  bottom: 46px;
}
.merchandise-wrap .collection-wrap .collection-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}
.merchandise-wrap .collection-wrap .collection-col {
  display: flex;
  gap: 24px;
}
.merchandise-wrap .collection-wrap .collection-each {
  position: relative;
}
.merchandise-wrap .collection-wrap .btn-wrap {
  position: absolute;
  bottom: 28px;
  left: 40px;
  width: calc(100% - 80px);
}
.merchandise-wrap .collection-wrap .btn-wrap .btn {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.merchandise-wrap .collectiontab-wrap {
  padding: 291px 80px 362px 80px;
  position: relative;
  height: 1440px;
}
.merchandise-wrap .collectiontab-wrap .merchandise-w1096 {
  color: #fff;
}
.merchandise-wrap .collectiontab-wrap .tab-head.ty04 {
  justify-content: center;
  margin-top: 60px;
}
.merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs li {
  border-color: #fff;
}
.merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs li a {
  color: #fff;
  text-align: center;
}
.merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs li.on a {
  background-color: #fff;
  color: #000;
}
.merchandise-wrap .collectiontab-wrap .tab-content {
  margin-top: 80px;
}
.content-item04.collectiontab-wrap.tab01-bg {
  background: url("../../inc/images/content/img_Merchandise_tabbg_01.png")
    center no-repeat;
  background-size: cover;
}
.content-item04.collectiontab-wrap.tab02-bg {
  background: url("../../inc/images/content/img_Merchandise_tabbg_02.png")
    center no-repeat;
  background-size: cover;
}
.content-item04.collectiontab-wrap.tab03-bg {
  background: url("../../inc/images/content/img_Merchandise_tabbg_03.png")
    center no-repeat;
  background-size: cover;
}
.content-item04.collectiontab-wrap.tab04-bg {
  background: url("../../inc/images/content/img_Merchandise_tabbg_04.png")
    center no-repeat;
  background-size: cover;
}
.content-item04.collectiontab-wrap.tab05-bg {
  background: url("../../inc/images/content/img_Merchandise_tabbg_05.png")
    center no-repeat;
  background-size: cover;
}
.merchandise-wrap .collectiontab-wrap .swiper-wrapper {
  padding-bottom: 115px;
}
.merchandise-wrap .collectiontab-wrap .collection_swiper-txt {
  font-family: "Hyundai Sans Head";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  color: #fff;
  margin-top: 20px;
}
.merchandise-wrap .collectiontab-wrap .swiper-txt-red {
  color: #de3111;
}
.merchandise-wrap
  .collectiontab-wrap
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #fff;
  opacity: 0.5;
}
.brand .collection_swiper .swiper-bottom-wrap {
  width: 100%;
  left: 0;
  top: 35%;
  bottom: auto;
}
.brand .collection_swiper .swiper-button-next.swiper-button-disabled,
.brand .collection_swiper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.merchandise-wrap .productlist-wrap {
  padding: 200px 80px 240px 80px;
}
.merchandise-wrap .productlist-wrap .merchandise-w1096 {
  text-align: left;
  margin: 0;
}
.merchandise-wrap .productlist-wrap .productlist-bigbox {
  margin-top: 60px;
  display: flex;
  column-gap: 28px;
}
.merchandise-wrap .productlist-wrap .productlist-bigbox p {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.merchandise-wrap .productlist-wrap .productlist-col1 {
  flex: 0 0 calc(100% / 3 - 28px);
}
.merchandise-wrap .productlist-wrap .productlist-col2 {
  flex: 1;
}
.merchandise-wrap .productlist-wrap .productlist-col2 > div {
  display: flex;
  gap: 28px;
}
.merchandise-wrap .productlist-wrap .productlist-col2 > div > div {
  flex: 0 0 calc(100% / 2 - 14px);
}
.merchandise-wrap .productlist-wrap .productlist-col1 > div + div {
  margin-top: 60px;
}
.merchandise-wrap .productlist-wrap .productlist-subbox {
  font-family: "Hyundai Sans Text";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 36px;
}
.merchandise-wrap .productlist-wrap .productlist-subbox li {
  position: relative;
  padding-left: 16px;
}
.merchandise-wrap .productlist-wrap .productlist-subbox li + li {
  margin-top: 16px;
}
.merchandise-wrap .productlist-wrap .productlist-subbox li::before {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
  top: 12.5px;
  left: 4.5px;
  content: "";
}
.merchandise-wrap .merchandise_related-wrap {
  padding: 95.56px 80px 120px 80px;
  background-color: #f0f0f0;
}
.merchandise-wrap .merchandise_related-wrap .merchandise-w1096 {
  margin: 0;
  text-align: left;
  font-family: "Hyundai Sans Head";
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.merchandise-wrap .merchandise_related-wrap .merchandise_related {
  margin-top: 47.55px;
  display: flex;
  gap: 24px;
}
.merchandise-wrap .merchandise_related-wrap .merchandise_related > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 calc(100% / 3 - 8px);
}
.merchandise-wrap .merchandise_related-wrap .merchandise_related > div p {
  font-family: "Hyundai Sans Head";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

/*  브랜드 내 팝업 시작 */
.popup.forBrand {
  max-width: 1200px;
  overflow: hidden;
}

.popup.forBrand .popup-wrapper .popup-header {
  padding: 28px 40px 27px 40px;
}

.popup.forBrand .popup-body {
  max-height: calc(100vh - 160px);
  padding: 40px 40px 160px 40px;
  margin-bottom: 0;
}

.popup.forBrand .popup-wrapper .popup-body .brand-pd {
  display: grid;
  gap: 44px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.popup.forBrand .popup-wrapper .popup-body .brand-pd .popup-body-innerbox {
  width: 100%;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc {
  padding: 40px 0 0 0;
  max-height: 100%;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc:first-child {
  padding-top: 0;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc:last-child {
  padding-top: 60px;
  padding-bottom: 0;
  border-bottom: 0;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc {
  padding: 60px 0;
  border-bottom: 1px solid #bbbbbb;
}

.popup.forBrand .btn-wrap button.btn-only-icon-notbg.popup-close-btn-x {
  top: 32px;
}

.popup.forBrand .popup-wrapper .popup-body .txt-type03 {
  font-weight: 500;
}

/* .nogap: BR040101P04에만  */
.popup.forBrand .popup-wrapper .popup-body .inner-body-model .wrap-desc.nogap {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.nogap
  .tit-type04.desc-tit {
  margin-bottom: 12px;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.nogap
  .desc-note {
  margin-top: 8px;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc
  .inner-mainDesc {
  display: grid;
  gap: 12px;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc
  .inner-mainDesc
  .inner-subDesc {
  display: grid;
  gap: 4px;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc
  .inner-mainDesc
  .inner-subDesc:last-child {
  padding-bottom: 0px;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .box-brand-tit {
  margin-bottom: 32px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .box-brand-tit.no-mb {
  margin-bottom: 0;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox:nth-child(2)
  .wrap-brand-desc:last-child
  .inner-mainDesc
  .inner-subDesc:last-child {
  padding-bottom: 0;
}

/* 공통 박스 추가  */

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 28px 0 60px 0;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox:last-child
  .container-desc {
  padding: 24px 0 0 0;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body.single
  .inner-body-model
  .popup-body-innerbox:last-child
  .container-desc {
  padding: 28px 0 0 0;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .wrap-function {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .desc-note {
  font-family: "Hyundai Sans Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  color: #555;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .wrap-function
  .wrap-desc
  .tit-type04 {
  font-size: 20px;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.lg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.sm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popup.forBrand .pop-brand-gap {
  display: grid;
  gap: 60px;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model.pop-brand-gap
  .container-desc {
  border-bottom: 1px solid #bbb;
}

.popup.model-popup.forBrand
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox:last-child
  .container-desc {
  border-bottom: 0;
}

.popup.forBrand
  .popup-wrapper
  .popup-body
  .brand-pd
  .popup-body-innerbox
  .wrap-brand-desc
  .mb24 {
  margin-bottom: 24px;
}
/* 브랜드 내 팝업 끝  */

/* 0705 버튼 내 아이콘 호버될 때 사이즈 고정을 위해 수정 */
.performance_wrap .content-area .btn:hover [class*="icon-link"],
.performance_wrap .content-area .btn:active [class*="icon-link"] {
  background-size: contain;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .nChannel .content-box.bnr,
  .nChannel .conts-section-wrap,
  .nChannel [class^="content-item"]:not(.gallery-wrap) .conts-sect {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* mobile */
@media screen and (max-width: 1023px) {
  .brand .video_wrap .search-container {
    margin-bottom: 4rem;
  }
  .content-box .banner-box {
    margin: 64px 0;
  }

  .content-box .banner-box img {
    height: 400px;
    object-fit: cover;
    object-position: bottom;
  }
  .content-box .banner-box .banner-txt-wrap {
    padding: 32px 24px;
    justify-content: flex-start;
    row-gap: 43px;
  }

  .content-box .banner-box .banner-titbox .banner-tit {
    font-size: 24px;
    line-height: 33.6px;
  }

  .content-box .banner-box .banner-titbox .banner-des {
    font-size: 18px;
    line-height: 25.2px;
  }

  .content-box .paging {
    margin-left: 4px;
  }

  /* aboutN - BR020102 */
  .conts-section-wrap {
    padding: 120px 24px;
  }

  .models-wrap .conts-section-wrap .conts-bnr-box img {
    object-fit: cover;
  }

  .brand.models-wrap [class*="max1440"] {
    gap: 36px;
  }

  .brand.models-wrap .content-item02 {
    max-height: 100%;
  }

  .brand.models-wrap .video-wrap video {
    max-height: 360px;
  }

  .brand.models-wrap .video-wrap video ~ .btn {
    top: 307px;
    right: 12px;
  }

  .pyramid-box .img-wrap {
    min-height: 312px;
  }

  .bnr-info-wrap {
    width: 100%;
    margin-top: -24px;
  }
  .bnr-info-wrap .info-list li a {
    display: flex;
    align-items: center;
  }
  .bnr-info-wrap .info-list li .img-area {
    width: 96px;
    height: 43px;
    padding-right: 13px;
  }
  .bnr-info-wrap .info-list li .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bnr-info-wrap .info-list li .model_logo {
    margin-bottom: 8px;
    display: inline-flex;
  }
  .bnr-info-wrap .info-list li .model_logo img {
    width: 100%;
    height: 23px;
    object-fit: contain;
  }
  .bnr-info-wrap .info-list li .text-area {
    text-align: left;
    justify-content: flex-start;
  }
  .bnr-info-wrap .info-list li .text-area .model_title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .bnr-info-wrap .info-list li .text-area .model_title strong {
    font-family: "Hyundai Sans Head";
    color: #de3111;
    font-weight: 700;
  }
  .bnr-info-wrap .info-list li .text-area .model_info {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .bnr-info-wrap .info-list li:not(:first-child):before {
    content: "";
    background: #bbb;
    width: 100%;
    height: 1px;
    display: block;
    margin: 28px 0;
  }
  .models-nofull-box .img-conts-wrap .img-area > img {
    margin: 100px 0 36px 0;
    width: 100%;
  }
  .brand.models-wrap .models-nofull {
    padding: 120px 24px;
    margin-bottom: 0;
  }

  .brand.models-wrap .text-strong {
    font-size: 30px;
    line-height: 140%;
  }
  .brand.models-wrap .text-strong.motor_tit {
    font-size: 36px;
    line-height: 125%;
  }
  .brand.models-wrap .text-normal-s {
    margin-top: 12px;
  }

  .models-wrap .location-wrap .full-1600 {
    height: 840px;
    padding: 120px 48px;
  }
  .models-wrap .location-wrap .text-col .text-strong {
    font-size: 30px;
    line-height: 140%;
  }
  .models-wrap .text-col .text-sub {
    font-size: 20px;
    line-height: 28px;
    margin-top: 28px;
  }
  .models-wrap .location-wrap .text-col .text-normal {
    margin-top: 12px;
    font-size: 17px;
    line-height: 140%;
  }

  .brand.models-wrap .content-item08 .models-full {
    height: 240px;
  }
  .brand.models-wrap .content-item08 .text-col {
    padding: 36px 24px 0 24px;
  }
  .brand.models-wrap .content-item08 .text-col .text-sub {
    margin-top: 28px;
  }
  .brand.models-wrap .content-item08 .text-col .text-normal {
    margin-top: 12px;
  }

  .brand .history-box-wrap {
    margin: auto 24px 0;
  }

  .brand .history-box .history-list li .text-area .sub-text-list li {
    font-size: 17px;
    line-height: 23.8px;
  }
  .models-wrap .poster-bnr-wrap .models-full {
    height: 840px;
    padding: 152px 0 120px 0;
    background-image: url(../images/img/img_dna_conts02_mo.png);
    background-position: top center;
  }
  .models-wrap .poster-bnr-wrap .text-strong {
    font-size: 30px;
    line-height: 42px;
    word-break: break-all;
  }
  .models-wrap .poster-bnr-wrap .text-normal {
    font-size: 17px;
    line-height: 23.8px;
  }

  .conts-section-wrap.type-tab .tab-head {
    padding: 0 30px;
  }
  .conts-section-wrap.type-tab .tab-head .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }
  .conts-section-wrap.type-tab .tab-head .desc {
    font-size: 18px;
    line-height: 25.2px;
    margin-top: 12px;
  }

  .conts-section-wrap.type-tab .tab-head .tabs-wrap {
    margin-top: 36px;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs {
    margin: 0 5px;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs li {
    width: 100%;
    float: revert;
    border-right: 1px solid #777;
  }
  .conts-section-wrap.type-tab .tabs-wrap .tabs li:not(:last-child) {
    border-bottom: 0;
  }
  .conts-section-wrap.type-tab .tab-content {
    margin-top: 44px;
  }
  .conts-section-wrap.type-tab .tab-content .conts-bnr-box img {
    height: 200px;
  }
  .conts-section-wrap.type-tab .tab-content .text-strong {
    font-size: 30px;
    line-height: 42px;
  }
  .conts-section-wrap.type-tab .tab-content .text-normal {
    font-size: 17px;
    line-height: 23.8px;
  }

  .bg-bnr-type .conts-section-wrap {
    padding-bottom: 36px;
  }
  .bg-bnr-wrap {
    height: 240px;
  }
  .article-box-wrap .conts-section-wrap {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .article-box-wrap .article:not(:last-child) {
    padding-bottom: 100px;
  }
  .article-box-wrap .article .img-area {
    /* height: 200px; */
  }
  .article-box-wrap .article .img-area img {
    object-fit: revert;
  }

  .article-box-wrap .article .text-area {
    margin-top: 36px;
    display: block;
  }
  .article-box-wrap .article .text-area > div {
    padding: 0;
    width: 100% !important;
  }
  .article-box-wrap .article .text-area .left-side {
    margin-bottom: 20px;
  }
  .article-box-wrap .article .text-area .left-side .desc {
    font-size: 20px;
    line-height: 28px;
  }
  .article-box-wrap .article .text-area .right-side .info .sub {
    font-size: 17px;
    line-height: 23.8px;
  }
  .article-box-wrap .article .text-area .right-side .info .name {
    font-size: 20px;
    line-height: 23.8px;
  }

  .models-wrap .poster-bnr-wrap.people .models-full {
    padding: 100px 24px;
    height: 725px;
  }
  .models-wrap .poster-bnr-wrap .models-full .text-normal {
    margin-top: 20px !important;
  }
  .gallery-box .conts-section-wrap {
    padding: 36px 0 0 0;
  }
  .gallery-box .swiper-status-wrap {
    bottom: auto;
    top: 340px;
  }
  .gallery-box .ty02Swiper .swiper-slide a {
    height: 356px;
    align-items: flex-start;
  }
  .gallery-box .ty02Swiper .swiper-slide .img-area {
    height: 312px;
  }
  .models-wrap .gallery-box .conts-bnr-box {
    margin-bottom: 120px;
    padding: 0 24px;
  }
  .gallery-box .gallery-conts-box .text-area {
    text-align: left;
    margin-top: 44px;
    padding: 0 0;
  }
  .gallery-box .gallery-conts-box .text-area .gallery-desc {
    font-size: 20px;
    line-height: 28px;
  }
  .gallery-box .gallery-conts-box .text-area .gallery-dept {
    font-size: 17px;
    line-height: 23.8px;
  }

  .brand.models-wrap .info-bnr-wrap {
    padding-top: 36px;
  }
  .conts-section-wrap > article {
    gap: 28px !important;
  }
  .brand.models-wrap .info-bnr-wrap .text-normal-s,
  .brand.models-wrap .info-video-wrap .text-normal-s {
    font-size: 17px;
    line-height: 140%;
  }
  article.info-bnr-wrap + article.info-video-wrap {
    margin-top: 100px;
  }
  .info-video-wrap {
    padding-top: 100px;
  }

  .info-video-wrap .img-wrap::before {
    width: 60px;
    height: 60px;
  }

  .calendar-list-wrap .text-normal {
    font-size: 18px;
    line-height: 140%;
  }
  .calendar-list {
    margin-top: 2.25rem;
  }
  .calendar-list .img_badge {
    left: 0.75rem;
    top: 1rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.125rem;
  }
  .calendar-list .calendar_info {
    padding: 1rem 1rem 1.06rem 1rem;
  }
  .calendar-list .calendar_info .info_main .title {
    font-size: 1.125rem;
  }
  .calendar-list .calendar_info .info_main .md-txt-btn01 {
    margin: 1rem 0 0.5rem 0;
  }
  .calendar-list .calendar_info .info_detail .ico_flag {
    width: 1.875rem;
    height: 1.25rem;
  }
  .brand .motor_technical {
    padding: 9.5rem 1.5rem;
  }
  .brand .motor_tab .tab-head {
    display: flex;
    row-gap: 1.75rem;
  }
  .brand .motor_tab .tab-head .title {
    font-size: 2.25rem;
  }
  .brand .motor_tab .tab-head .tabs {
    display: flex;
    flex-direction: column;
  }
  .brand .motor_tab .motor_tab_img {
    width: 100%;
  }
  .brand .motor_tab .mypage-withdrawal-table {
    margin-top: 0.75rem;
  }
  .brand .motor_tab .mypage-withdrawal-table th {
    margin: 0;
    padding: 1.25rem 0 0.75rem;
    font-size: 1rem;
  }
  .brand .motor_tab .mypage-withdrawal-table td {
    padding: 0 0 1.25rem 0;
    font-size: 1.25rem;
  }
  .brand .motor_wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .line-up-wrap .text-normal + .motor_tit {
    margin-top: 0.75rem;
  }
  .line-up-wrap .max1200 + .max1440 {
    margin-top: 4rem;
  }
  .lineup_wrap {
    column-gap: 0.75rem;
  }
  .lineup_wrap img {
    width: calc(50% - 0.4rem);
  }
  .lineup_box {
    flex-direction: column;
    gap: 2.25rem;
    margin: 3rem auto 3rem auto;
  }
  .lineup_info {
    text-align: left;
  }
  .lineup_info .lineup_subtit {
    font-size: 1.125rem;
  }
  .lineup_info .lineup_tit {
    margin: 1rem auto 0.5rem auto;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .lineup_info .lineup_detail {
    margin-top: 0.75rem;
    font-size: 1.0625rem;
  }
  .wrc_article_wrap {
    flex-direction: column;
    gap: 1.25rem;
  }
  .wrc_article_italic {
    padding: 0;
    font-size: 1.22rem;
  }
  .wrc_article_wrap > div {
    padding: 0;
    width: 100%;
  }
  .wrc_article_wrap > div p:first-of-type {
    font-size: 1.0625rem;
  }
  .wrc_article_wrap > div p:last-of-type {
    font-size: 1.25rem;
  }
  .brand .gallery-wrap.barnd-gallery {
    padding: 0;
  }
  .brand .gallery-wrap .btn-wrap-default {
    margin-top: 2.25rem;
  }
  .brand .gallery-wrap .btn-wrap-default.sns_wrap {
    gap: 1.25rem;
    margin-top: 7.5rem;
  }
  .brand .gallery-wrap .lg-txt-btn01 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
  }
  .brand .gallery-wrap .ty02Swiper .swiper-slide .img-area {
    height: 19.5rem;
  }

  /* BR030103 */
  .brand .ty02Swiper .swiper-slide .img-area img.pc-only {
    display: none;
  }
  .brand .ty02Swiper .swiper-slide .img-area img.mo-only {
    display: block;
  }
  .tcr_winner_wrap .text-col img {
    margin-bottom: 1.75rem;
    width: 6rem;
  }
  .tcr_winner_wrap .img-wrap {
    column-gap: 0.75rem;
    margin-top: 4rem;
  }
  .tcr_winner_wrap img {
    width: calc(33% - 0.375rem);
  }
  .text-year {
    margin-bottom: 12px;
  }
  .brand .info-video-wrap.info-bnr-wrap + .max1440 {
    margin-top: 6.25rem;
  }
  .brand .fame_grid {
    row-gap: 2.75rem;
    width: 100%;
  }
  .brand .fame_date {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .brand .fame_text {
    font-size: 1.25rem;
  }
  .brand .fame_img {
    margin: 1.25rem 0;
  }
  .tcr_choice_wrap .conts-section-wrap {
    height: 56.25rem;
    background-image: url(../images/content/img_tcr_choice_bg_mo.png);
  }
  .dropdown-btn.tcr_dropdown .wrap-dropdown-selected {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    text-align: center;
  }
  .dropdown-btn.tcr_dropdown .dropdown-btn-title {
    font-size: 1.125rem;
  }
  .dropdown-btn.tcr_dropdown .btn-md-outline01 {
    width: 100%;
  }
  .tcr_team_wrap {
    text-align: left;
  }
  .tcr_team_wrap .img-wrap {
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 1.25rem;
    margin-top: 4rem;
  }
  .tcr_team_wrap .img-wrap div {
    width: calc(33% - 0.375rem);
    min-width: 9.375rem;
  }
  .tcr_team_wrap .tcr_team {
    flex-direction: column;
    row-gap: 2.25rem;
    margin-top: 2.75rem;
    text-align: left;
  }
  .tcr_team_wrap .tcr_team div {
    width: 100%;
  }
  .tcr_team_wrap .tcr_team_tit {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tcr_team_wrap .tcr_team_text {
    font-size: 1.0625rem;
    font-weight: 500;
  }
  .tcr_discover_btn {
    margin-top: 0.5rem;
    padding: 0.5rem 0;
  }

  /* BR030104 */
  .brand.models-wrap .img-wrap.info-bnr-wrap {
    padding-top: 0;
  }
  .motor_tit_wrap {
    row-gap: 0.75rem;
    margin: 0 auto 2.25rem auto;
    padding: 0 1.5rem;
  }
  .brand.models-wrap .motor_tit_wrap .motor_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .brand.models-wrap .motor_tit_wrap .text-normal {
    font-size: 1.0625rem;
    line-height: 140%;
  }
  .honed_wrap .img-wrap {
    margin-top: 4rem;
  }
  .motor_paddig_wrap {
    padding: 120px 0;
  }
  .motor_team_list {
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    padding: 0;
  }
  .motor_team_list p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .motor_team_list_detail {
    padding-top: 1.75rem;
  }
  .motor_team_list_detail li {
    font-size: 1.25rem;
  }
  .motor_team_list_detail li + li {
    margin-top: 0.75rem;
  }
  .motor_team_list_detail li img {
    width: 1.875rem;
  }
  .motor_link_wrap .text-strong.motor_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .motor_link_wrap .grid_mo_drop {
    gap: 2.75rem;
    width: 100%;
  }
  .motor_link_card p {
    margin-top: 1.75rem;
    font-size: 1.125rem;
  }
  .motor_link_card .btn {
    padding: 0.5rem 0;
  }
  /* BR040101 */
  .brand .performance_wrap .max1440 {
    gap: 2.75rem;
  }
  .performance_tit_area {
    padding: 6.25rem 1.5rem;
  }
  .performance_tab_area {
    padding: 7.5rem 1.5rem;
  }
  .performance_tab_area .motor_tab {
    width: 100%;
  }
  .performance_tab_area .motor_tab .tab-head .tabs {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .performance_tab_area .motor_tab .tab-head .tabs li {
    width: 50%;
    border: 1px solid #777;
  }
  .performance_tab_area .motor_tab .tab-head .tabs li:nth-child(even) {
    border-left: none;
  }
  .performance_tab_area
    .motor_tab
    .tab-head
    .tabs
    li:not(:nth-child(1), :nth-child(2)) {
    border-top: none;
  }
  .performance_tab_area .tab-content {
    margin-top: 2.25rem;
  }
  .performance_tab_tit {
    flex-direction: column;
  }
  .performance_tab_tit .text-normal {
    margin: 0.75rem 0;
  }
  .performance_tab_tit .btn-lg-outline01 {
    margin-top: 1.75rem;
    width: 100%;
  }
  .performance_tab_area .motor_tab_con .grid_3 {
    row-gap: 1.75rem;
    margin-top: 4rem;
    width: 100%;
  }
  .performance_tab_area .motor_tab_con .grid_3 p {
    margin-top: 0.75rem;
    font-size: 1.125rem;
  }
  .performance_slide_tit {
    margin: 1.75rem auto 0 auto;
  }
  .performance_slide_wrap + .performance_slide_wrap {
    margin-top: 7.5rem;
  }
  .brand .gallery-wrap .performance_slide_wrap .btn-wrap-default {
    margin-top: 2.75rem;
    padding: 0.5rem 0;
  }
  .performance_garage_wrap {
    height: 57.5rem;
    background-image: url(../images/content/img_performance_garage_bg_mo.png);
  }
  .performance_garage_wrap .text-col .btn-lg-outline02 {
    margin-top: 2.25rem;
  }
  .performance_garage {
    padding: 2.75rem 1.5rem 10rem 1.5rem;
  }
  /* BR050101 */
  .merchandise-wrap .swiper-slide img.pc-only {
    display: none;
  }
  .merchandise-wrap .swiper-slide img.mo-only {
    display: block;
  }
  .merchandise-wrap .merchandise-w1440 {
    max-width: 100%;
  }
  .merchandise-wrap .merchandise-w1096 {
    max-width: 100%;
  }
  .merchandise-wrap .collection-wrap {
    padding: 100px 24px 120px 24px;
  }
  .merchandise-wrap .merchandise-kv .swiper-status-wrap {
    bottom: 20px;
  }
  .merchandise-wrap .collection-wrap .collection-box {
    gap: 20px;
    margin-top: 36px;
  }
  .merchandise-wrap .collection-wrap .collection-col {
    flex-direction: column;
    gap: 20px;
  }
  .merchandise-wrap .collection-wrap .btn-wrap {
    bottom: 20px;
    left: 28px;
    width: calc(100% - 56px);
  }
  .merchandise-wrap .collectiontab-wrap {
    padding: 120px 0 148px 0;
    height: fit-content;
  }
  .merchandise-wrap .tab-container .merchandise-w1096 {
    padding: 0 24px;
  }
  .merchandise-wrap .collectiontab-wrap .tab-head.ty04 {
    margin-top: 36px;
    padding: 0 24px;
  }
  .merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs {
    margin-top: 0;
  }
  .merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs {
    display: flex;
    flex-direction: column;
  }
  .merchandise-wrap .collectiontab-wrap .tab-head.ty04 .tabs-wrap .tabs li {
    border-right: 1px solid #fff;
    text-align: center;
  }
  .merchandise-wrap .collectiontab-wrap .tab-content {
    margin: 48px 0 0 0;
  }
  .merchandise-wrap
    .collectiontab-wrap
    .tab-head.ty04
    .tabs-wrap
    .tabs
    li:not(:nth-child(1)) {
    border-top: 0;
  }
  .merchandise-wrap .collectiontab-wrap .swiper-wrapper {
    padding-bottom: 76px;
  }
  .merchandise-wrap .collectiontab-wrap .collection_swiper-txt {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    margin-top: 12px;
  }
  .merchandise-wrap .productlist-wrap {
    padding: 120px 24px 160px 24px;
  }
  .merchandise-wrap .productlist-wrap .productlist-bigbox {
    display: block;
    margin-top: 36px;
  }
  .merchandise-wrap .productlist-wrap .productlist-bigbox p {
    font-size: 24px;
    line-height: 33.6px;
  }
  .merchandise-wrap .productlist-wrap .productlist-subbox {
    font-size: 17px;
    line-height: 23.8px;
    margin-top: 24px;
  }
  .merchandise-wrap .productlist-wrap .productlist-subbox li + li {
    margin-top: 12px;
  }
  .merchandise-wrap
    .productlist-wrap
    .productlist-subbox
    + .productlist-subbox {
    margin-top: 28px;
  }
  .merchandise-wrap .productlist-wrap .productlist-col1 {
    flex: 0 0 100%;
  }
  .merchandise-wrap .productlist-wrap .productlist-col2 {
    margin-top: 36px;
  }
  .merchandise-wrap .productlist-wrap .productlist-col2 > div {
    display: block;
  }
  .merchandise-wrap .productlist-wrap .productlist-col1 > div + div {
    margin-top: 36px;
  }
  .merchandise-wrap .merchandise_related-wrap {
    padding: 80px 0 120px 24px;
  }
  .merchandise-wrap .merchandise_related-wrap .merchandise-w1096 {
    font-size: 30px;
    line-height: 37.5px;
  }
  .merchandise-wrap .merchandise_related-wrap .merchandise_related {
    margin-top: 36px;
    flex-wrap: nowrap;
    overflow-y: auto;
  }
  .merchandise-wrap .merchandise_related-wrap .merchandise_related > div {
    flex: 0 0 71.25%;
  }
  .merchandise-wrap .merchandise_related-wrap .merchandise_related > div p {
    font-size: 20px;
    line-height: 25px;
  }
  .merchandise-wrap
    .merchandise_related-wrap
    .merchandise_related
    > div:last-child {
    margin-right: 24px;
  }

  /* 브랜드 내 팝업 시작 */
  .popup.forBrand .popup-wrapper .popup-header {
    padding: 16px 24px;
  }

  .popup.forBrand .btn-wrap button.btn-only-icon-notbg.popup-close-btn-x {
    top: 18px;
  }

  .popup.forBrand .popup-wrapper .popup-body {
    padding: 28px 24px 100px 24px;
    max-height: calc(100vh - 60px);
  }

  /* BR030102P01, BR030102P02, BR030103P01에만 .brand-onlyTxt 클래스 추가 */
  .popup.forBrand .popup-wrapper .popup-body.brand-onlyTxt {
    padding: 40px 24px 100px 24px;
    max-height: calc(100vh - 60px);
  }

  .popup.forBrand .popup-wrapper .popup-body .brand-pd {
    display: block;
  }

  .popup.forBrand .popup-wrapper .popup-body .brand-pd .popup-body-innerbox {
    display: grid;
    gap: 36px;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc:first-child {
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    gap: 32px; /* BR030102P01의 첫번째 wrap-brand-desc 간격 유지 */
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .box-brand-tit {
    margin-bottom: 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc
    .inner-mainDesc.onlyOne {
    padding-bottom: 36px;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc
    .inner-mainDesc
    .inner-subDesc:last-child {
    padding-bottom: 36px;
  }

  /* 첫번째(pc에서는 좌측 박스)의 맨 아래 요소에 padding: 0 적용 */
  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(1)
    .wrap-brand-desc:last-child
    .inner-mainDesc
    .inner-subDesc:last-child {
    padding-bottom: 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc {
    padding: 0 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(1)
    .wrap-brand-desc:last-child {
    padding-top: 0;
    padding-bottom: 36px;
    border-bottom: 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(1)
    .wrap-brand-desc:last-child
    .inner-mainDesc {
    padding-bottom: 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(3n-1)
    .wrap-brand-desc:last-child {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(2) {
    border-top: 1px solid #bbb;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(2)
    .wrap-brand-desc:first-child {
    padding-top: 36px;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox:nth-child(2)
    .wrap-brand-desc:last-child
    .inner-mainDesc
    .inner-subDesc:last-child {
    padding-bottom: 0;
  }

  .popup.forBrand .popup-wrapper .popup-body .brand-pd .tit-type04 {
    font-size: 20px;
  }

  .popup.forBrand .popup-wrapper .popup-body .brand-pd .tit-type05 {
    font-size: 18px;
  }

  .popup.forBrand .pop-brand-gap {
    display: grid;
    gap: 36px;
  }

  .popup.model-popup.forBrand
    .popup-wrapper
    .popup-body
    .inner-body-model.pop-brand-gap
    .container-desc {
    padding: 20px 0 36px 0;
    border-bottom: 1px solid #bbb;
  }

  .popup.model-popup.forBrand
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox:last-child
    .container-desc {
    border-bottom: 0;
  }

  .popup.model-popup.forBrand
    .popup-wrapper
    .popup-body.single
    .inner-body-model
    .popup-body-innerbox:last-child
    .container-desc {
    padding: 20px 0 0 0;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc
    .mb24 {
    margin-bottom: 12px;
  }

  .popup.forBrand
    .popup-wrapper
    .popup-body
    .brand-pd
    .popup-body-innerbox
    .wrap-brand-desc
    .mb24.mobile-mb20 {
    /* BR030103P01에만 해당함 */
    margin-bottom: 20px;
  }
}
