/*********
    font
  **********/
/* tit */
[class*="tit-type"] {
  color: #000;
  font-family: "Hyundai Sans Head Office";
  font-weight: 600;
}
.tit-type01 {
  font-size: 5rem;
  line-height: 125%;
}
.tit-type02 {
  font-size: 3.5rem;
  line-height: 125%;
}
.tit-type03 {
  font-size: 2rem;
  line-height: 140%;
}
.tit-type04 {
  font-size: 1.5rem;
  line-height: 140%;
}
.tit-type05 {
  font-size: 1.25rem;
  line-height: 140%;
}

/* txt */
[class*="txt-type"] {
  color: #000;
  font-family: "Hyundai Sans Text Office";
  line-height: 140%;
  font-weight: 400;
}
.txt-type01 {
  font-size: 1.5rem;
}
.txt-type02 {
  font-size: 1.25rem;
}
.txt-type03 {
  font-size: 1rem;
}
.txt-type04 {
  font-size: 0.875rem;
}
.txt-type05 {
  font-size: 0.75rem;
}

/* weight */
.fw-type01 {
  font-weight: 400;
}
.fw-type02 {
  font-weight: 500;
}
.fw-type03 {
  font-weight: bold;
}

/* 말줄임 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(2.8em);
}
.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(4.2em);
}

/* 텍스트 가리기 */
.hide-txt {
  overflow: hidden;
  color: transparent;
  font-size: xx-small;
}

/* text-align */
.ta-ctr {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}

/*********
    button, link
  **********/

/* 웹접근성 포커스 */
input[type="checkbox"],
input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  -webkit-appearance: none;
  z-index: -1;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  outline: 1px solid #3792ef;
  z-index: 1;
}

/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty02 li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  padding: 10px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty02 li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* btn */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.btn {
  border-radius: 4px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn:focus {
  outline: 2px solid #000;
  outline-offset: 4px;
}
.btn-bg01 {
  background: #fff;
  color: #000;
}
.btn-bg02 {
  background: #000;
  color: #fff;
}
.btn-bg03 {
  background: #de3111;
  color: #fff;
}
.btn-bg04 {
  box-shadow: 0 0 0 2px #000 inset;
}
.btn-lg {
  padding: 20px 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.btn-md01 {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.btn-xs {
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}
[class*="btn-icon"] {
  display: inline-block;
  margin-left: 4px;
}
[class*="icon-right"] {
  background: url(../../../inc/images/icon/icon-arrow01_right.svg);
  background-size: contain;
}
[class*="icon-right-wh"] {
  background: url(../../../inc/images/icon/icon-arrow01_right_white.svg);
  background-size: contain;
}
[class*="icon-link-wh"] {
  background: url(../../../inc/images/icon/icon-link_white.svg);
  background-size: contain;
}
[class*="icon-down"] {
  background: url(../../../inc/images/icon/icon-arrow01_down.svg);
  background-size: contain;
}
[class*="icon-sns01"] {
  background: url(../../../inc/images/icon/icon-facebook.svg);
  background-size: contain;
}
[class*="icon-sns01-wh"] {
  background: url(../../../inc/images/icon/icon-facebook_white.svg);
  background-size: contain;
}
[class*="icon-sns02"] {
  background: url(../../../inc/images/icon/icon-Instagram.svg);
  background-size: contain;
}
[class*="icon-sns02-wh"] {
  background: url(../../../inc/images/icon/icon-Instagram_white.svg);
  background-size: contain;
}
[class*="icon-sns03-wh"] {
  background: url(../../../inc/images/icon/icon-twitter_white.svg);
  background-size: contain;
}
[class*="icon16"] {
  width: 16px;
  height: 16px;
}
[class*="icon20"] {
  width: 20px;
  height: 20px;
}
.btn-bg04.btn-lg .btn-paging {
  margin-left: 8px;
}
.btn-lg [class*="btn-icon"],
.btn-xs [class*="btn-icon"] {
  margin-left: 8px;
}
[class*="btn-wrap-"] {
  display: flex;
}
.btn-wrap-type2 {
  justify-content: center;
  gap: 8px;
}
.btn-wrap-type3 {
  justify-content: center;
  gap: 10px;
}
.btn-only-icon-type2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}
[class*="btn-only-icon"] [class*="btn-icon"] {
  margin-left: 0;
}
.link-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

/*********
    button, link
  **********/

/* 웹접근성 포커스 */
input[type="checkbox"],
input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  -webkit-appearance: none;
  z-index: -1;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  outline: 1px solid #3792ef;
  z-index: 1;
}

/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.tab-head.ty02 {
  justify-content: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
  border-right: 0;
}

.tabs-wrap .tabs li:last-child {
  border-right: 1px solid #555;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty-blue li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 11px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty-blue li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* contents-box */
.conts-box-wrap {
  display: flex;
  justify-content: center;
}

.conts-box-wrap.ty02 {
  flex-direction: column;
}

.conts-box-wrap article {
  padding: 80px 0;
  border-bottom: 1px solid #bbb;
}

.conts-box-wrap article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.conts-box-wrap article .tit {
  text-align: left;
}

.conts-box-wrap .tit {
  font-size: 68px;
  font-weight: 700;
  line-height: 70px;
}

.conts-box-wrap.ty02 .tit {
  color: #000;
  line-height: 85px;
  padding-bottom: 40px;
}

.conts-box-wrap .bg-img-wrap {
  background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
  width: 100%;
  max-width: 1440px;
  min-height: 810px;
  overflow: hidden;
  padding: 60px 80px;
  position: relative;
  color: #fff;
}

.conts-box-wrap .img-area {
  height: 810px;
}
.conts-box-wrap .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conts-box-wrap .txt-area {
  padding-top: 60px;
}
.conts-box-wrap .desc {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.conts-box-wrap .bg-img-wrap .more_btn {
  position: absolute;
  top: 348px;
  left: 80px;
  padding: 14px 24px;
  background: #fff;
  border-radius: 4px;
}
.conts-box-wrap .bg-img-wrap .more_btn .btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.txt-list-wrap {
  display: flex;
  text-align: left;
}
.txt-list-wrap li {
  margin-right: 24px;
}

.txt-list-wrap li:last-child {
  margin-right: 0;
}

.txt-list-wrap li .num {
  color: #de3111;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.txt-list-wrap li .desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 12px;
}

/* checkbox */

/* accodion */

/*********
  card
**********/
/* card layout */
.card_scroll {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  height: max-content;
}
.card_scroll li {
  width: 100%;
}
.card_drop {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 29rem));
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
}

/* card_type01 */
.card_type01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 29rem;
  height: 40vmax;
  min-height: 28.5rem;
  max-height: 40.25rem;
  font-family: "Hyundai Sans Head Office";
}
.card_type01.card_swiper {
  min-height: 16.3rem;
  max-height: 23.1rem;
}
.card_type01 .card_top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.5rem 0;
  flex-grow: 1;
}
.card_type01.card_swiper .card_top {
  justify-content: end;
}
.card_type01 .card_profile {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  background-image: url("../images/N_Festival/driver/bg_driver-464x478.png");
  background-position: center;
  background-size: cover;
  background-color: #aacae6;
  z-index: -1;
}
.card_type01 .card_profile img {
  width: 68.96%;
}
.card_type01.card_team .card_profile {
  background-color: #e6eff8;
  background-image: none;
  padding-bottom: 15.48%;
}
.card_type01.card_white .card_profile {
  background-image: none;
  background-color: #fff;
}
.card_type01.card_swiper .card_profile {
  background-image: none;
}
.card_type01.card_team .card_profile img {
  width: 77.58%;
}
.card_type01.card_swiper .card_profile img {
  width: 13rem;
}
.card_type01:hover .card_profile img {
  margin-bottom: -0.75rem;
}
.card_type01 .card_rank {
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  line-height: 125%;
}
.card_type01 .card_num {
  color: #de3111;
  text-align: right;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 125%;
  text-shadow: calc(0.125rem * 1) 0 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * 0.9239) 0 #fff,
    0 calc(0.125rem * 1) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * 0.9239) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * -1) 0 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * -0.3827) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * -0.9239) 0 #fff,
    0 calc(0.125rem * -1) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * -0.9239) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * -0.3827) 0 #fff;
}
.card_type01 .card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 10.375rem;
  background-color: #003777;
  color: #ffffff;
}
.card_type01.card_swiper .card_bottom {
  height: 7.13rem;
}
.card_type01 .card_tit {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type01 .card_subtit {
  color: #aacae6;
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type01 .card_detail {
  display: flex;
  justify-content: space-between;
  gap: 0.88rem;
  margin-bottom: 0.5rem;
}
.card_type01 .card_detail li {
  width: 100%;
  max-width: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.card_type01 .card_detail li span:first-of-type {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type01 .card_detail li span:last-of-type {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  text-align: right;
}
.card_type01:hover .card_more {
  display: flex;
}
.card_type01 .card_more {
  /* 임시로 확인용 - 디스플레이 논 말고 다른거로 처리하기 */
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0.81rem 1.5rem;
  background-color: #de3111;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type01 .card_more::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  /* 아이콘 없어서 임시 */
  background-color: #fff;
  mask-image: url("../images/icon/icon-arrow02_right.svg");
  mask-position: center;
  mask-size: contain;
}

.card_drop .card_type01 {
  height: 26.375rem;
  min-height: 0;
}
.card_drop .card_type01 .card_profile {
  background-image: none;
}
.card_drop .card_type01 .card_profile img {
  width: 13rem;
  height: 13rem;
}
.card_drop .card_type01:hover .card_profile img {
  margin-bottom: -0.75rem;
}
.card_drop .card_type01.card_team .card_profile {
  align-items: center;
  padding-bottom: 0;
}
.card_drop .card_type01.card_team .card_profile img {
  width: 17.5rem;
}
.card_drop .card_type01.card_team:hover .card_profile img {
  margin-bottom: 0;
}
.card_drop .card_type01 .card_rank {
  font-size: 3.5rem;
}
.card_drop .card_type01 .card_num {
  font-size: 3.5rem;
}

/* card_type02 */
.card_type02 {
  width: 100%;
  height: 38.6875rem;
  padding: 1.5rem 1.5rem 2.5rem;
  background-color: #ffffff;
}
.card_type02 .card_tit {
  font-family: "Hyundai Sans Text Office";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type02 .card_img {
  width: 100%;
  height: 13.9rem;
  margin-top: 1.25rem;
  background-color: #aacae6;
  text-align: center;
}
.card_type02 .card_img img {
  width: auto;
  height: 100%;
}
.card_type02 .card_detail {
  margin: 1.5rem 0 3.75rem;
  font-family: "Hyundai Sans Head Office";
  font-weight: 700;
}
.card_type02 .card_month {
  font-size: 1.25rem;
  line-height: 140%;
}
.card_type02 .card_day {
  font-size: 5rem;
  line-height: 125%;
}
.card_type02 .card_track {
  font-family: "Hyundai Sans Text Office";
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type02 .btn {
  padding: 0.87rem 0;
  width: 100%;
  font-family: "Hyundai Sans Text Office";
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
}
.card_type02 .btn:hover {
  background: #de3111;
}
.card_type02 .btn span {
  margin-left: 0.25rem;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

/* card_type03 */
/* ranker 위드 깨지는 거 확인해서 고치기 */
.card_type03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 18.8rem;
  background-color: #aacae6;
}
.card_type03.card_ranker {
  height: 25.9rem;
}
.card_type03 .card_top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.25rem 2.5rem 0;
  font-family: "Hyundai Sans Head Office";
  text-align: right;
}
.card_type03.card_ranker .card_top {
  align-items: center;
}
.card_type03 .card_rank {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
}
.card_type03.card_ranker .card_rank {
  font-size: 5rem;
}
.card_type03 .card_top .card_detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card_type03 .card_point {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type03 .card_mission {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type03 .card_bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 8.75rem;
  background-color: #000000;
}
.card_type03 .card_bottom img {
  width: auto;
  height: 100%;
}
.card_type03 .card_bottom .card_detail {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  color: #ffffff;
}
.card_type03.card_ranker .card_bottom .card_detail {
  gap: 0.25rem;
}
.card_type03 .card_name {
  font-family: "Hyundai Sans Head Office";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type03 .card_community {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.8;
}

/* list */
/**/

.wrap-list,
.wrap-list__planvisit {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.wrap-list * {
  font-family: "Hyundai Sans Text Office";
}

.wrap-list .__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 2fr auto;
}

.wrap-list .__top .wrap-list-tab li.active {
  background-color: var(--ro);
  color: var(--ff);
}

/* bottom list start */
.wrap-list .__bottom {
  border-top: 3px solid;
  margin-top: 40px;
  margin-bottom: 60px;
}
.wrap-list .__bottom .wrap-lists:first-child {
  border-top: none;
}

.wrap-list .__bottom .wrap-lists p {
  /*
  font-size: 16px;
  line-height: 22.4px;*/
  padding: 0px 12px 0px 12px;
  font-weight: 700;
  margin-right: 24px;
}

.wrap-list .__bottom .wrap-lists p:last-child {
  margin-right: 0;
}

.wrap-list .__bottom .wrap-lists h3.tit {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;

  padding: 0px 12px 0px 12px;
  gap: 10px;
  margin-right: 24px;
  max-width: 950px;
  width: 100%;
}

.wrap-list .__bottom .wrap-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #bbb;
  /* max-height: 92px; */
  padding: 29px 0px 29px 0px;
  gap: 0 12px;
}

.wrap-list .__bottom.list02 .wrap-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  gap: 0 24px;
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(1) {
  width: 220px;
}
.wrap-list .__bottom .wrap-lists .list-box:nth-child(1) p,
.wrap-list .__bottom .wrap-lists .list-box:nth-child(3) p {
  font-weight: 700;
}
.wrap-list .__bottom .wrap-lists .list-box:nth-child(2) {
  width: 100%;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(2) p {
  max-width: 100%;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(3) {
  width: 220px;
  max-width: 100%;
}

.wrap-list .__bottom.list02 .wrap-lists .list-box:nth-child(3) {
  width: 100%;
}

/* list 03 - track guide */

section.wrap-list__trackguide {
  /* padding: 163px 240px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6eff8;
}

section.wrap-list__trackguide .left {
  margin-right: 24px;
  display: flex;
  justify-content: center;
}

section.wrap-list__trackguide .left img {
  width: 100%;
  max-width: 708px;
  object-fit: contain;
}

section.wrap-list__trackguide .right {
  max-width: 708px;
  width: 100%;
  padding: 0 20px;
  padding: 0 20px;
}
section.wrap-list__trackguide .right .track-info .descwrap {
  padding: 0 20px;
  border: 1px solid;
}

section.wrap-list__trackguide .right.descwrap h2.tit {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
  text-align: left;
}

section.wrap-list__trackguide .right.descwrap h2.sub-tit {
  font-family: Hyundai Sans Head;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

section.wrap-list__trackguide .right.descwrap .list-trackinfo {
  margin-top: 60px;
  border-top: 2px solid #787d80;
}

section.wrap-list__trackguide .right.descwrap .list-trackinfo .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 28px;
  border-bottom: 1px solid #787d80;
}

section.wrap-list__trackguide
  .right.descwrap
  .list-trackinfo
  .inner:last-child {
  border-bottom: none;
}

section.wrap-list__trackguide
  .right.descwrap
  .list-trackinfo
  .inner
  p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

section.wrap-list__trackguide
  .right.descwrap
  .list-trackinfo
  .inner
  p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: right;
}

/* list04  plan your guide */
section.wrap-list__planvisit h3.tit {
  font-size: 68px;
  font-weight: 700;
  /* line-height: 85px; */
}
section.wrap-list__planvisit .inner {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-top: 2px solid #787d80;
}

section.wrap-list__planvisit .inner .box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 40px 0;
}

section.wrap-list__planvisit .inner .box.box01 {
  border-bottom: 1px solid #bbb;
}

section.wrap-list__planvisit .inner .box .box-desc.right .desc-location {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  max-width: 706px;
  width: 100%;
  font-family: "Hyundai Sans Text Office";
}

section.wrap-list__planvisit .inner .box .box-desc.right .desc-note {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
}

section.wrap-list__planvisit .inner .box.box02 {
  flex-direction: column;
  border-bottom: 1px solid #bbb;
}

section.wrap-list__planvisit .inner .box.box02 h3.tit.single {
  width: 100%;
  margin-bottom: 50px;
  font-size: 32px;
  padding: 0 20px;
}

section.wrap-list__planvisit .inner .box .box-desc {
  padding: 0 20px;
}

section.wrap-list__planvisit .inner .box.box01 h3.tit {
  font-size: 32px;
}

section.wrap-list__planvisit .inner .box.box02 .box-desc.left h3.tit {
  font-size: 24px;
}
