/*********
    font
  **********/
/* tit */
[class*="tit-type"] {
  color: #000;
  font-family: "Hyundai Sans Head";
  font-weight: 600;
}
.tit-type01 {
  font-size: 5rem;
  line-height: 125%;
}
.tit-type02 {
  font-size: 3.5rem;
  line-height: 125%;
}
.tit-type03 {
  font-size: 2rem;
  line-height: 140%;
}
.tit-type04 {
  font-size: 1.5rem;
  line-height: 140%;
}
.tit-type05 {
  font-size: 1.25rem;
  line-height: 140%;
}

/* txt */
[class*="txt-type"] {
  color: #000;
  font-family: "Hyundai Sans Text";
  line-height: 140%;
  font-weight: 400;
}
.txt-type01 {
  font-size: 1.5rem;
}
.txt-type02 {
  font-size: 1.25rem;
}
.txt-type03 {
  font-size: 1rem;
}
.txt-type04 {
  font-size: 0.875rem;
}
.txt-type05 {
  font-size: 0.75rem;
}

/* weight */
.fw-type01 {
  font-weight: 400;
}
.fw-type02 {
  font-weight: 500;
}
.fw-type03 {
  font-weight: bold;
}

/* 말줄임 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(2.8em);
}
.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(4.2em);
}

/* 텍스트 가리기 */
.hide-txt {
  overflow: hidden;
  color: transparent;
  font-size: xx-small;
}

/* text-align */
.ta-ctr {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}

/*********
    button, link
  **********/

/* 웹접근성 포커스 */
input[type="checkbox"],
input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  -webkit-appearance: none;
  z-index: -1;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  outline: 1px solid #3792ef;
  z-index: 1;
}

/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty02 li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  padding: 10px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty02 li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* btn */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.btn {
  border-radius: 4px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn[class*="-primary"]:hover,
.btn[class*="-primary"]:active {
  background-color: #de3111;
  color: #fff;
}
.btn[class*="-outline"]:hover,
.btn[class*="-outline"]:active {
  box-shadow: 0 0 0 2px #000 inset;
  color: #fff;
  background-color: #de3111;
}
.btn[class*="txt-btn"]:hover,
.btn[class*="txt-btn"]:active {
  color: #de3111;
  position: relative;
}
.btn[class*="lg-txt-btn"]:hover::after,
.btn[class*="lg-txt-btn"]:active::after {
  width: 100%;
  height: 3px;
  background-color: #de3111;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
}
.btn[class*="md-txt-btn"]:hover::after,
.btn[class*="md-txt-btn"]:active::after {
  width: 100%;
  height: 2px;
  background-color: #de3111;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
}
.btn[class*="btn-only-icon"]:hover,
.btn[class*="btn-only-icon"]:active {
  background-color: #de3111;
}
.btn:hover [class*="icon-down"],
.btn:active [class*="icon-down"] {
  background: url(../../../inc/images/icon/icon-arrow01_down_white.svg);
  background-size: contain;
}
.btn:hover [class*="icon-right"],
.btn:active [class*="icon-right"] {
  background: url(../../../inc/images/icon/icon-arrow01_right_white.svg);
  background-size: contain;
}
.btn[class*="txt-btn"]:hover [class*="icon-right"],
.btn[class*="txt-btn"]:active [class*="icon-right"] {
  background: url(../../../inc/images/icon/icon-arrow01_right_red.svg);
  background-size: contain;
}
.btn[class*="txt-btn"]:hover [class*="icon-left"],
.btn[class*="txt-btn"]:active [class*="icon-left"] {
  background: url(../../../inc/images/icon/icon-arrow01_left_red.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-play"],
.btn[class*="btn-only-icon"]:active [class*="icon-play"] {
  background: url(../../../inc/images/icon/icon-play_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-pause"],
.btn[class*="btn-only-icon"]:active [class*="icon-pause"] {
  background: url(../../../inc/images/icon/icon-pause_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-soundon"],
.btn[class*="btn-only-icon"]:active [class*="icon-soundon"] {
  background: url(../../../inc/images/icon/icon-soundon_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-soundoff"],
.btn[class*="btn-only-icon"]:active [class*="icon-soundoff"] {
  background: url(../../../inc/images/icon/icon-soundoff_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-search"],
.btn[class*="btn-only-icon"]:active [class*="icon-search"] {
  background: url(../../../inc/images/icon/icon-search_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-copylink"],
.btn[class*="btn-only-icon"]:active [class*="icon-copylink"] {
  background: url(../../../inc/images/icon/icon-copylink_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-facebook"],
.btn[class*="btn-only-icon"]:active [class*="icon-facebook"] {
  background: url(../../../inc/images/icon/icon-facebook_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-instagram"],
.btn[class*="btn-only-icon"]:active [class*="icon-instagram"] {
  background: url(../../../inc/images/icon/icon-instagram_white.svg);
  background-size: contain;
}
.btn[class*="btn-only-icon"]:hover [class*="icon-twitter"],
.btn[class*="btn-only-icon"]:active [class*="icon-twitter"] {
  background: url(../../../inc/images/icon/icon-twitter_white.svg);
  background-size: contain;
}
[class*="btn-lg"] {
  padding: 20px 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
[class*="lg-txt-btn"] {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
[class*="btn-md"] {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
[class*="md-txt-btn"] {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
[class*="-primary01"] {
  background: #000;
  color: #fff;
}
[class*="-primary02"] {
  background: #fff;
  color: #000;
}
[class*="-primary01"]:disabled {
  background-color: #e6e6e6 !important;
  color: #a1a1a1 !important;
}
[class*="-outline01"] {
  box-shadow: 0 0 0 2px #000 inset;
  color: #000;
}
[class*="-outline02"] {
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff;
}
[class*="-outline01"]:disabled {
  box-shadow: 0 0 0 2px #a1a1a1 inset !important;
  color: #a1a1a1 !important;
  background-color: transparent !important;
}
[class*="txt-btn01"] {
  color: #000;
}
[class*="txt-btn02"] {
  color: #fff;
}
[class*="txt-btn03"] {
  color: #a1a1a1 !important;
}
.btn[class*="txt-btn03"]:hover::after,
.btn[class*="txt-btn03"]:active::after {
  display: none;
}
[class*="btn-icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
[class*="btn-icon20"] {
  width: 20px;
  height: 20px;
}
[class*="btn-icon16"] {
  width: 16px;
  height: 16px;
}
[class*="btn-icon24"] {
  width: 24px;
  height: 24px;
}
.btn[class*="-primary"] [class*="btn-icon20"],
.btn[class*="-outline"] [class*="btn-icon20"] {
  margin-left: 8px;
}
.btn[class*="-primary"] [class*="btn-icon16"],
.btn[class*="-outline"] [class*="btn-icon16"] {
  margin-left: 4px;
}
.btn[class*="txt-btn"] [class*="icon-right"],
.btn[class*="txt-btn"] [class*="icon-right"] {
  margin-left: 4px;
}
.btn[class*="txt-btn"] [class*="icon-left"],
.btn[class*="txt-btn"] [class*="icon-left"] {
  margin-right: 4px;
}
.btn[class*="btn-lg-outline"] .btn-paging {
  margin-left: 8px;
}
.btn[class*="btn-md-outline"] .btn-paging {
  margin-left: 4px;
}
.icon-right {
  background: url(../../../inc/images/icon/icon-arrow01_right.svg);
  background-size: contain;
}
.icon-right-wh {
  background: url(../../../inc/images/icon/icon-arrow01_right_white.svg);
  background-size: contain;
}
.icon-right.icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_right_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-right"].icon-disabled,
.btn:active [class*="icon-right"].icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_right_disabled.svg);
  background-size: contain;
}
.icon-left {
  background: url(../../../inc/images/icon/icon-arrow01_left.svg);
  background-size: contain;
}
.icon-left-wh {
  background: url(../../../inc/images/icon/icon-arrow01_left_white.svg);
  background-size: contain;
}
.icon-left.icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_left_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-left"].icon-disabled,
.btn:active [class*="icon-left"].icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_left_disabled.svg);
  background-size: contain;
}
.icon-link-wh {
  background: url(../../../inc/images/icon/icon-link_white.svg);
  background-size: contain;
}
.icon-down {
  background: url(../../../inc/images/icon/icon-arrow01_down.svg);
  background-size: contain;
}
.icon-down.icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_down_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-down"].icon-disabled,
.btn:active [class*="icon-down"].icon-disabled {
  background: url(../../../inc/images/icon/icon-arrow01_down_disabled.svg);
  background-size: contain;
}
.icon-play {
  background: url(../../../inc/images/icon/icon-play.svg);
  background-size: contain;
}
.icon-play-wh {
  background: url(../../../inc/images/icon/icon-play_white.svg);
  background-size: contain;
}
.icon-play.icon-disabled {
  background: url(../../../inc/images/icon/icon-play_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-play"].icon-disabled,
.btn:active [class*="icon-play"].icon-disabled {
  background: url(../../../inc/images/icon/icon-play_disabled.svg);
  background-size: contain;
}
.icon-pause {
  background: url(../../../inc/images/icon/icon-pause.svg);
  background-size: contain;
}
.icon-pause-wh {
  background: url(../../../inc/images/icon/icon-pause_white.svg);
  background-size: contain;
}
.icon-pause.icon-disabled {
  background: url(../../../inc/images/icon/icon-pause_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-pause"].icon-disabled,
.btn:active [class*="icon-pause"].icon-disabled {
  background: url(../../../inc/images/icon/icon-pause_disabled.svg);
  background-size: contain;
}
.icon-soundon {
  background: url(../../../inc/images/icon/icon-soundon.svg);
  background-size: contain;
}
.icon-soundon-wh {
  background: url(../../../inc/images/icon/icon-soundon_white.svg);
  background-size: contain;
}
.icon-soundon.icon-disabled {
  background: url(../../../inc/images/icon/icon-soundon_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-soundon"].icon-disabled,
.btn:active [class*="icon-soundon"].icon-disabled {
  background: url(../../../inc/images/icon/icon-soundon_disabled.svg);
  background-size: contain;
}
.icon-soundoff {
  background: url(../../../inc/images/icon/icon-soundoff.svg);
  background-size: contain;
}
.icon-soundoff-wh {
  background: url(../../../inc/images/icon/icon-soundoff_white.svg);
  background-size: contain;
}
.icon-soundoff.icon-disabled {
  background: url(../../../inc/images/icon/icon-soundoff_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-soundoff"].icon-disabled,
.btn:active [class*="icon-soundoff"].icon-disabled {
  background: url(../../../inc/images/icon/icon-soundoff_disabled.svg);
  background-size: contain;
}
.icon-search {
  background: url(../../../inc/images/icon/icon-search.svg);
  background-size: contain;
}
.icon-search-wh {
  background: url(../../../inc/images/icon/icon-search_white.svg);
  background-size: contain;
}
.icon-search.icon-disabled {
  background: url(../../../inc/images/icon/icon-search_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-search"].icon-disabled,
.btn:active [class*="icon-search"].icon-disabled {
  background: url(../../../inc/images/icon/icon-search_disabled.svg);
  background-size: contain;
}
.icon-copylink {
  background: url(../../../inc/images/icon/icon-copylink.svg);
  background-size: contain;
}
.icon-copylink-wh {
  background: url(../../../inc/images/icon/icon-copylink_white.svg);
  background-size: contain;
}
.icon-copylink.icon-disabled {
  background: url(../../../inc/images/icon/icon-copylink_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-copylink"].icon-disabled,
.btn:active [class*="icon-copylink"].icon-disabled {
  background: url(../../../inc/images/icon/icon-copylink_disabled.svg);
  background-size: contain;
}
.icon-facebook {
  background: url(../../../inc/images/icon/icon-facebook.svg);
  background-size: contain;
}
.icon-facebook-wh {
  background: url(../../../inc/images/icon/icon-facebook_white.svg);
  background-size: contain;
}
.icon-facebook.icon-disabled {
  background: url(../../../inc/images/icon/icon-facebook_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-facebook"].icon-disabled,
.btn:active [class*="icon-facebook"].icon-disabled {
  background: url(../../../inc/images/icon/icon-facebook_disabled.svg);
  background-size: contain;
}
.icon-instagram {
  background: url(../../../inc/images/icon/icon-Instagram.svg);
  background-size: contain;
}
.icon-instagram-wh {
  background: url(../../../inc/images/icon/icon-Instagram_white.svg);
  background-size: contain;
}
.icon-instagram.icon-disabled {
  background: url(../../../inc/images/icon/icon-Instagram_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-instagram"].icon-disabled,
.btn:active [class*="icon-instagram"].icon-disabled {
  background: url(../../../inc/images/icon/icon-Instagram_disabled.svg);
  background-size: contain;
}
.icon-twitter {
  background: url(../../../inc/images/icon/icon-twitter.svg);
  background-size: contain;
}
.icon-twitter-wh {
  background: url(../../../inc/images/icon/icon-twitter_white.svg);
  background-size: contain;
}
.icon-twitter.icon-disabled {
  background: url(../../../inc/images/icon/icon-twitter_disabled.svg);
  background-size: contain;
}
.btn:hover [class*="icon-twitter"].icon-disabled,
.btn:active [class*="icon-twitter"].icon-disabled {
  background: url(../../../inc/images/icon/icon-twitter_disabled.svg);
  background-size: contain;
}
[class*="btn-only-icon"] {
  display: inline-flex;
  width: 40px;
  height: 40px;
}
[class*="-square"] {
  border-radius: 0;
}
[class*="-circle"] {
  border-radius: 50%;
}
[class*="only-icon-bg01"] {
  background-color: #000;
}
[class*="only-icon-bg02"] {
  background-color: #fff;
}
[class*="only-icon-bg01"].disabled {
  background-color: #000 !important;
  opacity: 50% !important;
}
[class*="btn-wrap-"] {
  display: flex;
}
.btn-wrap-type2 {
  justify-content: center;
  gap: 8px;
}
.btn-wrap-type3 {
  justify-content: center;
  gap: 10px;
}
/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.tab-head.ty02 {
  justify-content: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
  border-right: 0;
}

.tabs-wrap .tabs li:last-child {
  border-right: 1px solid #555;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty-blue li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 11px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty-blue li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* contents-box */
.conts-box-wrap {
  display: flex;
  justify-content: center;
}

.conts-box-wrap.ty02 {
  flex-direction: column;
}

.conts-box-wrap article {
  padding: 80px 0;
  border-bottom: 1px solid #bbb;
}

.conts-box-wrap article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.conts-box-wrap article .tit {
  text-align: left;
}

.conts-box-wrap .tit {
  font-size: 68px;
  font-weight: 700;
  line-height: 70px;
}

.conts-box-wrap.ty02 .tit {
  color: #000;
  line-height: 85px;
  padding-bottom: 40px;
}

.conts-box-wrap .bg-img-wrap {
  background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
  width: 100%;
  max-width: 1440px;
  min-height: 810px;
  overflow: hidden;
  padding: 60px 80px;
  position: relative;
  color: #fff;
}

.conts-box-wrap .img-area {
  height: 810px;
}
.conts-box-wrap .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conts-box-wrap .txt-area {
  padding-top: 60px;
}
.conts-box-wrap .desc {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.conts-box-wrap .bg-img-wrap .more_btn {
  position: absolute;
  top: 348px;
  left: 80px;
  padding: 14px 24px;
  background: #fff;
  border-radius: 4px;
}
.conts-box-wrap .bg-img-wrap .more_btn .btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.txt-list-wrap {
  display: flex;
  text-align: left;
}
.txt-list-wrap li {
  margin-right: 24px;
}

.txt-list-wrap li:last-child {
  margin-right: 0;
}

.txt-list-wrap li .num {
  color: #de3111;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.txt-list-wrap li .desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 12px;
}

/* checkbox */

/* accodion */

/*********
  card
**********/
/* card layout */
.card_scroll {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 29rem));
  justify-content: center;
  gap: 1.5rem;
}
.card_scroll li {
  width: 100%;
  max-width: 29rem;
}
.card_drop {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 29rem));
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
}
/* 트랙용 */
@media screen and (max-width: 1280px) and (min-width: 1023px) {
  .card_drop.track_list {
    grid-template-columns: repeat(2, minmax(0, 29rem));
  }
}

/* card_type01 */
.card_type01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 29rem;
  height: 40vw;
  min-height: 28.5rem;
  max-height: 40.25rem;
  font-family: "Hyundai Sans Head Office";
}
.card_type01.card_swiper {
  min-height: 16.3rem;
  max-height: 23.1rem;
}
.card_type01 .card_top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.5rem 0;
  flex-grow: 1;
}
.card_type01.card_swiper .card_top {
  justify-content: end;
}
.card_type01 .card_profile {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  background-image: url("../images/N_Festival/driver/bg_driver-464x478.png");
  background-position: center;
  background-size: cover;
  background-color: #aacae6;
  z-index: -1;
}
.card_type01 .card_profile img {
  width: 68.96%;
}
.card_type01.card_team .card_profile {
  background-color: #e6eff8;
  background-image: none;
  padding-bottom: 15.48%;
}
.card_type01.card_white .card_profile {
  background-image: none;
  background-color: #fff;
}
.card_type01.card_swiper .card_profile {
  background-image: none;
}
.card_type01.card_team .card_profile img {
  width: 77.58%;
}
.card_type01.card_swiper .card_profile img {
  width: 13rem;
}
.card_type01.card_swiper:hover .card_profile img {
  margin-bottom: -0.75rem;
}
.card_type01 .card_rank {
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  line-height: 125%;
}
.card_type01 .card_num {
  color: #de3111;
  text-align: right;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 125%;
  text-shadow: calc(0.125rem * 1) 0 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * 0.9239) 0 #fff,
    0 calc(0.125rem * 1) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * 0.9239) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * -1) 0 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * -0.3827) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * -0.9239) 0 #fff,
    0 calc(0.125rem * -1) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * -0.9239) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * -0.3827) 0 #fff;
}
.card_type01 .card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 10.375rem;
  background-color: #003777;
  color: #ffffff;
}
.card_type01.card_swiper .card_bottom {
  height: 7.13rem;
}
.card_type01 .card_tit {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type01 .card_subtit {
  color: #aacae6;
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type01 .card_detail {
  display: flex;
  justify-content: space-between;
  gap: min(4.5%, 0.88rem);
  margin-bottom: 0.5rem;
}
.card_type01 .card_detail li {
  width: 100%;
  max-width: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.card_type01 .card_detail li span:first-of-type {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type01 .card_detail li span:last-of-type {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  text-align: right;
}
.card_type01:hover .card_more {
  clip-path: none;
  width: 100%;
  height: auto;
  padding: 0.81rem 1.5rem;
}
.card_type01 .card_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #de3111;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  overflow: hidden;
  border: 0;
  width: 0.063rem;
  height: 0.063rem;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.card_type01 .card_more::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  /* 아이콘 없어서 임시 */
  background-color: #fff;
  mask-image: url("../images/icon/icon-arrow02_right.svg");
  mask-position: center;
  mask-size: contain;
}

.card_drop .card_type01 {
  height: 26.375rem;
  min-height: 0;
}
.card_drop .card_type01 .card_profile {
  background-image: none;
}
.card_drop .card_type01 .card_profile img {
  width: 13rem;
  height: 13rem;
}
.card_drop .card_type01:hover .card_profile img {
  margin-bottom: -0.75rem;
}
.card_drop .card_type01.card_team .card_profile {
  align-items: center;
  padding-bottom: 0;
}
.card_drop .card_type01.card_team .card_profile img {
  width: 17.5rem;
}
.card_drop .card_type01.card_team:hover .card_profile img {
  margin-bottom: 0;
}
.card_drop .card_type01 .card_rank {
  font-size: 3.5rem;
}
.card_drop .card_type01 .card_num {
  font-size: 3.5rem;
}

/* card_type02 */
.card_type02 {
  width: 100%;
  height: 38.6875rem;
  padding: 1.5rem 1.5rem 2.5rem;
  background-color: #ffffff;
}
.card_type02 .card_tit {
  font-family: "Hyundai Sans Text Office";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type02 .card_img {
  width: 100%;
  height: 13.9rem;
  margin-top: 1.25rem;
  background-color: #aacae6;
  text-align: center;
}
.card_type02 .card_img img {
  width: 100%;
  max-width: 13.9rem;
}
.card_type02 .card_detail {
  margin: 1.5rem 0 3.75rem;
  font-family: "Hyundai Sans Head Office";
  font-weight: 700;
}
.card_type02 .card_month {
  font-size: 1.25rem;
  line-height: 140%;
}
.card_type02 .card_day {
  font-size: 5rem;
  line-height: 125%;
}
.card_type02 .card_track {
  font-family: "Hyundai Sans Text Office";
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type02 .btn {
  width: 100%;
}

/* card_type03 */
.card_type03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  aspect-ratio: 464 / 300;
  background-color: #aacae6;
}
.card_type03.card_ranker {
  aspect-ratio: 464 / 414;
}
.card_type03 .card_top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.25rem 2.5rem 0;
  font-family: "Hyundai Sans Head Office";
  text-align: right;
}
.card_type03.card_ranker .card_top {
  align-items: center;
}
.card_type03 .card_rank {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
}
.card_type03.card_ranker .card_rank {
  font-size: 5rem;
}
.card_type03 .card_top .card_detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card_type03 .card_point {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type03 .card_mission {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.card_type03 .card_bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 47%;
  min-height: 5rem;
  max-height: 8.75rem;
  background-color: #000000;
}
.card_type03.card_ranker .card_bottom {
  height: 34%;
}
.card_type03 .card_bottom img {
  width: auto;
  height: 100%;
}
.card_type03 .card_bottom .card_detail {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  color: #ffffff;
}
.card_type03.card_ranker .card_bottom .card_detail {
  gap: 0.25rem;
}
.card_type03 .card_name {
  font-family: "Hyundai Sans Head Office";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.card_type03 .card_community {
  font-family: "Hyundai Sans Text Office";
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.8;
}

/* swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.autoplay-progress {
  position: absolute;
  left: 50%;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #f00;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.ty01Swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ty01Swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 1080px;
  object-fit: cover;
}

.ty01Swiper .swiper-slide .text-area {
  position: absolute;
  top: 658px;
  left: 60px;
  color: #fff;
}
.ty01Swiper .swiper-slide .text-area .title {
  font-size: 68px;
  line-height: 85px;
  font-weight: 700;
}
.ty01Swiper .swiper-slide .text-area .desc {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 12px;
}
.ty01Swiper .swiper-slide .btn-wrap {
  margin-top: 32px;
}

.ty01Swiper .swiper-slide .btn-wrap .btn:not(:last-child) {
  margin-right: 12px;
}

.ty01Swiper .swiper-bottom-wrap {
  width: calc(100% - 120px);
  position: absolute;
  bottom: 40px;
  left: 60px;
}

.ty01Swiper .swiper-status-wrap {
  position: absolute;
  width: 100%;
  max-width: 220px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: #fff;
  background: #555;
}

.ty01Swiper .swiper-button-next,
.ty01Swiper .swiper-button-prev {
  width: 36px;
  height: 36px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0;
}

.ty01Swiper .swiper-button-next:after,
.ty01Swiper .swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f00;
}

.ty01Swiper .autoplay-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #f00;
}

.ty01Swiper .btn.btn_play {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* list */
.wrap-list,
.wrap-list.list04 {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.wrap-list .__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 2fr auto;
}

.wrap-list .__top .wrap-list-tab li.active {
  background-color: var(--ro);
  color: var(--ff);
}

/* bottom list start */
.wrap-list .__bottom {
  border-top: 3px solid;
  margin-top: 40px;
  margin-bottom: 60px;
}
.wrap-list .__bottom .wrap-lists:first-child {
  border-top: none;
}

.wrap-list .__bottom .wrap-lists p {
  padding: 0px 12px 0px 12px;
  font-weight: 700;
  margin-right: 24px;
}

.wrap-list .__bottom .wrap-lists p:last-child {
  margin-right: 0;
}

.wrap-list .__bottom .wrap-lists h3.tit {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  padding: 0px 12px 0px 12px;
  gap: 10px;
  margin-right: 24px;
  max-width: 950px;
  width: 100%;
}

.wrap-list .__bottom .wrap-lists {
  display: grid;
  grid-template-columns: 15% 50% 30%;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #bbb;
  padding: 29px 0px 29px 0px;
  gap: 0 1.5rem;
}

.wrap-list.list02 .__bottom .wrap-lists {
  /* grid-template-columns: 15% 50% 33%; */
  grid-template-columns: 15% 52% 28%;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(1) {
  width: 14rem;
}
.wrap-list .__bottom .wrap-lists .list-box:nth-child(1) p,
.wrap-list .__bottom .wrap-lists .list-box:nth-child(3) p {
  font-weight: 700;
}
.wrap-list .__bottom .wrap-lists .list-box:nth-child(2) {
  width: 100%;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(2) p {
  max-width: 100%;
}

.wrap-list .__bottom .wrap-lists .list-box:nth-child(3) {
  width: 220px;
  max-width: 100%;
  margin-left: auto;
}

.wrap-list.list02 .__bottom .wrap-lists .list-box:nth-child(3) {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin-left: -2rem;
}

.wrap-list.list01 .btn.btn-md-outline01 {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* list01, list02 일부 반응형 */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .wrap-list.list01 .__bottom .wrap-lists .list-box:nth-child(3) {
    text-align: center;
    max-width: 124px;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1135px) {
  .wrap-list .__bottom.list02 .wrap-lists {
    gap: 0 1rem;
  }

  .wrap-list .__bottom.list01 .wrap-lists .list-box:nth-child(1) {
    max-width: max-content;
    width: 18rem;
  }

  .wrap-list.list02 .__bottom .wrap-lists {
    grid-template-columns: 15% 45% 33%;
  }

  .wrap-list .__bottom .wrap-lists .list-box:nth-child(1) {
    width: 14rem;
  }

  .wrap-list.list02 .__bottom .wrap-lists .list-box:nth-child(3) {
    width: auto;
    max-width: 100%;
  }
}

/* list 03 - track guide */
.wrap-list.list03 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6eff8;
}

.wrap-list.list03 .left {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  width: 44.25rem;
}

.wrap-list.list03 .left img {
  width: 100%;
  /* max-width: 27rem; */
  max-width: 404px;
  object-fit: contain;
}

.wrap-list.list03 .right {
  max-width: 708px;
  width: 100%;
  /* padding: 0 1.25rem; */
}

.wrap-list.list03 .right .track-info .descwrap {
  padding: 0 1.25rem;
}

.wrap-list.list03 .right.descwrap h2.tit {
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 5.313rem;
  text-align: left;
}

.wrap-list.list03 .right.descwrap h2.sub-tit {
  font-family: Hyundai Sans Head;
  font-size: 1.25rem;
  font-weight: 700;
  /* line-height: 1.75rem; */
  text-align: left;
}

.wrap-list.list03 .right.descwrap .list-trackinfo {
  margin-top: 60px;
  border-top: 2px solid #787d80;
}

.wrap-list.list03 .right.descwrap .list-trackinfo .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 28px;
  border-bottom: 1px solid #787d80;
}

.wrap-list.list03 .right.descwrap .list-trackinfo .inner:last-child {
  /* border-bottom: none; */
}

.wrap-list.list03 .right.descwrap .list-trackinfo .inner p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.wrap-list.list03 .right.descwrap .list-trackinfo .inner p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 33.6px;
  text-align: right;
}

/* list04  plan your guide */
.wrap-list.list04 h3.tit {
  font-size: 4.25rem;
  font-weight: 700;
}

.wrap-list.list04 .inner {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  border-top: 2px solid #787d80;
}

.wrap-list.list04 .inner .box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.wrap-list.list04 .inner .box.box01 {
  border-bottom: 1px solid #bbb;
}

.wrap-list.list04 .inner .box .box-desc.right .desc-location {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: left;
  max-width: 44.125rem;
  width: 100%;
  font-family: "Hyundai Sans Text";
}

.wrap-list.list04 .inner .box .box-desc.right .desc-note {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
  font-family: "Hyundai Sans Text";
}

.wrap-list.list04 .inner .box.box02 {
  flex-direction: column;
  border-bottom: 1px solid #bbb;
}

.wrap-list.list04 .inner .box.box02 h3.tit.fullwidth {
  width: 100%;
  margin-bottom: 50px;
  font-size: 2rem;
  padding: 0 1.25rem;
}

.wrap-list.list04 .inner .box .box-desc {
  padding: 0 1.25rem;
}

.wrap-list.list04 .inner .box.box01 h3.tit {
  font-size: 2rem;
}

.wrap-list.list04 .inner .box.box02 .box-desc.left h3.tit {
  font-size: 1.5rem;
}

/* accordion */

.dropdown .wrap-dropdown-selected button.btn-only-icon-bg01-square {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown .wrap-dropdown-selected button.btn-only-icon-bg01-square .arrow-down {
  max-width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-dropdown-selected {
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;
  display: flex;
  align-items: center;
  background-color: #aacae6;
  padding: 26px 60px 26px 60px;
}

.wrap-dropdown-selected .col {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrap-dropdown-selected ul.col li {
  width: 100%;
  display: flex;
  align-items: center;
}

.wrap-dropdown-selected ul.col li .tit {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: left;
  font-family: "Hyundai Sans Text Office";
}

.wrap-dropdown-selected ul.col li img.arrow-r {
  max-width: 1.5rem;
}

.wrap-dropdown-selected ul.col li img:last-child {
  margin-left: auto;
  max-width: 2.5rem;
  cursor: pointer;
}
/**/

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: left;

  display: flex;
  align-items: center;
  background-color: #aacae6;
}

.dropdown-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  display: flex;
  align-items: start;
  padding: 26px 0 26px 60px;
  border-bottom: 2px solid #d9d9d9;
  cursor: pointer;
}

.arrow-r {
  max-width: 1.5rem;
}

.arrow-down.rotate {
  transform: rotate(180deg);
}

.dropdown-menu a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-right: 0.25rem;
  cursor: pointer;
  font-family: "Hyundai Sans Text";
}

.dropdown-menu li:hover {
  background: #e6eff8;
  color: #000;
}

.dropdown-menu li:hover > svg.arrow-r path {
  fill: #000 !important;
}

.dropdown-on {
  display: block;
}
