/*********
    font
  **********/
/* tit */
[class*="tit-type"] {
  color: #000;
  font-family: "Hyundai Sans Head Office";
  font-weight: 600;
}
.tit-type01 {
  font-size: 5rem;
  line-height: 125%;
}
.tit-type02 {
  font-size: 3.5rem;
  line-height: 125%;
}
.tit-type03 {
  font-size: 2rem;
  line-height: 140%;
}
.tit-type04 {
  font-size: 1.5rem;
  line-height: 140%;
}
.tit-type05 {
  font-size: 1.25rem;
  line-height: 140%;
}

/* txt */
[class*="txt-type"] {
  color: #000;
  font-family: "Hyundai Sans Text Office";
  line-height: 140%;
  font-weight: 400;
}
.txt-type01 {
  font-size: 1.5rem;
}
.txt-type02 {
  font-size: 1.25rem;
}
.txt-type03 {
  font-size: 1rem;
}
.txt-type04 {
  font-size: 0.875rem;
}
.txt-type05 {
  font-size: 0.75rem;
}

/* weight */
.fw-type01 {
  font-weight: 400;
}
.fw-type02 {
  font-weight: 500;
}
.fw-type03 {
  font-weight: bold;
}

/* 말줄임 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(2.8em);
}
.ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: calc(4.2em);
}

/* 텍스트 가리기 */
.hide-txt {
  overflow: hidden;
  color: transparent;
  font-size: xx-small;
}

/* text-align */
.ta-ctr {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}

/*********
    button, link
  **********/

/* 웹접근성 포커스 */
input[type="checkbox"],
input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  -webkit-appearance: none;
  z-index: -1;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  outline: 1px solid #3792ef;
  z-index: 1;
}

/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty02 li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  padding: 10px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty02 li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* btn */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.btn {
  border-radius: 4px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn:focus {
  outline: 2px solid #000;
  outline-offset: 4px;
}
.btn-bg01 {
  background: #fff;
  color: #000;
}
.btn-bg02 {
  background: #000;
  color: #fff;
}
.btn-bg03 {
  background: #de3111;
  color: #fff;
}
.btn-bg04 {
  box-shadow: 0 0 0 2px #000 inset;
}
.btn-lg {
  padding: 20px 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.btn-md01 {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.btn-xs {
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}
[class*="btn-icon"] {
  display: inline-block;
  margin-left: 4px;
}
[class*="icon-right"] {
  background: url(../../../inc/images/icon/icon-arrow01_right.svg);
  background-size: contain;
}
[class*="icon-right-wh"] {
  background: url(../../../inc/images/icon/icon-arrow01_right_white.svg);
  background-size: contain;
}
[class*="icon-link-wh"] {
  background: url(../../../inc/images/icon/icon-link_white.svg);
  background-size: contain;
}
[class*="icon-down"] {
  background: url(../../../inc/images/icon/icon-arrow01_down.svg);
  background-size: contain;
}
[class*="icon-sns01"] {
  background: url(../../../inc/images/icon/icon-facebook.svg);
  background-size: contain;
}
[class*="icon-sns01-wh"] {
  background: url(../../../inc/images/icon/icon-facebook_white.svg);
  background-size: contain;
}
[class*="icon-sns02"] {
  background: url(../../../inc/images/icon/icon-Instagram.svg);
  background-size: contain;
}
[class*="icon-sns02-wh"] {
  background: url(../../../inc/images/icon/icon-Instagram_white.svg);
  background-size: contain;
}
[class*="icon-sns03-wh"] {
  background: url(../../../inc/images/icon/icon-twitter_white.svg);
  background-size: contain;
}
[class*="icon16"] {
  width: 16px;
  height: 16px;
}
[class*="icon20"] {
  width: 20px;
  height: 20px;
}
.btn-bg04.btn-lg .btn-paging {
  margin-left: 8px;
}
.btn-lg [class*="btn-icon"],
.btn-xs [class*="btn-icon"] {
  margin-left: 8px;
}
[class*="btn-wrap-"] {
  display: flex;
}
.btn-wrap-type2 {
  justify-content: center;
  gap: 8px;
}
.btn-wrap-type3 {
  justify-content: center;
  gap: 10px;
}
.btn-only-icon-type2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}
[class*="btn-only-icon"] [class*="btn-icon"] {
  margin-left: 0;
}
.link-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

/*********
    button, link
  **********/

/* 웹접근성 포커스 */
input[type="checkbox"],
input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  opacity: 0;
  -webkit-appearance: none;
  z-index: -1;
}
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  outline: 1px solid #3792ef;
  z-index: 1;
}

/* tab */
.tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.tab-head.ty02 {
  justify-content: center;
}

.tab-head .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
}

.tabs-wrap .tabs {
  display: flex;
}

.tabs-wrap .tabs li {
  border: 1px solid #555;
  background: #fff;
  border-right: 0;
}

.tabs-wrap .tabs li:last-child {
  border-right: 1px solid #555;
}

.tabs-wrap .tabs li.on {
  border: 1px solid #de3111;
  background: #de3111;
}

.tabs-wrap .tabs.ty-blue li.on {
  border: 1px solid #aacae6;
  background: #aacae6;
}

.tabs-wrap .tabs li a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 11px 32px;
  color: #555;
}

.tabs-wrap .tabs li.on a {
  color: #fff;
}

.tabs-wrap .tabs.ty-blue li.on a {
  color: #000;
}

.tab-content {
  margin-top: 40px;
  display: none;
}
.tab-content.on {
  display: block;
}

/* contents-box */
.conts-box-wrap {
  display: flex;
  justify-content: center;
}

.conts-box-wrap.ty02 {
  flex-direction: column;
}

.conts-box-wrap article {
  padding: 80px 0;
  border-bottom: 1px solid #bbb;
}

.conts-box-wrap article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.conts-box-wrap article .tit {
  text-align: left;
}

.conts-box-wrap .tit {
  font-size: 68px;
  font-weight: 700;
  line-height: 70px;
}

.conts-box-wrap.ty02 .tit {
  color: #000;
  line-height: 85px;
  padding-bottom: 40px;
}

.conts-box-wrap .bg-img-wrap {
  background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
  width: 100%;
  max-width: 1440px;
  min-height: 810px;
  overflow: hidden;
  padding: 60px 80px;
  position: relative;
  color: #fff;
}

.conts-box-wrap .img-area {
  height: 810px;
}
.conts-box-wrap .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conts-box-wrap .txt-area {
  padding-top: 60px;
}
.conts-box-wrap .desc {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.conts-box-wrap .bg-img-wrap .more_btn {
  position: absolute;
  top: 348px;
  left: 80px;
  padding: 14px 24px;
  background: #fff;
  border-radius: 4px;
}
.conts-box-wrap .bg-img-wrap .more_btn .btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.txt-list-wrap {
  display: flex;
  text-align: left;
}
.txt-list-wrap li {
  margin-right: 24px;
}

.txt-list-wrap li:last-child {
  margin-right: 0;
}

.txt-list-wrap li .num {
  color: #de3111;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.txt-list-wrap li .desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 12px;
}

/* checkbox */

/* accodion */
