/*********************************
모바일 css
*********************************/

@media screen and (max-width: 1023px) {
  /*********
    font
  **********/

  /* tit */
  [class*="tit-type"] {
    color: #000;
    font-family: "Hyundai Sans Head Office";
    font-style: normal;
    font-weight: 600;
  }
  .tit-type01 {
    font-size: 2.5rem;
    line-height: 125%;
  }
  .tit-type02 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .tit-type03 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .tit-type04 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tit-type05 {
    font-size: 1rem;
    line-height: 140%;
  }

  /* txt */
  .txt-type01 {
    font-size: 1.5rem;
  }
  .txt-type02 {
    font-size: 1.25rem;
  }
  .txt-type03 {
    font-size: 1rem;
  }
  .txt-type04 {
    font-size: 0.875rem;
  }
  .txt-type05 {
    font-size: 0.75rem;
  }

  /*********
    tab
  **********/
  .tab-head {
    display: block;
  }

  .tabs-wrap .tabs {
    margin-top: 28px;
  }

  .tab-content {
    margin-top: 28px;
  }
  /*********
    btn 
  *********/
  .btn-lg {
    padding: 17px 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .btn-md01 {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
  }
  /* .btn-xs {
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
  } */
  [class*="btn-icon"] {
    display: inline-block;
    margin-left: 4px;
  }
  .btn-bg04.btn-lg .btn-paging {
    margin-left: 4px;
  }
  .btn-lg [class*="btn-icon"] {
    margin-left: 4px;
  }
  .btn-lg .icon20 {
    width: 16px;
    height: 16px;
  }
  .btn-wrap-type1 > .btn {
    width: 100%;
  }
  .btn-wrap-type2 > .btn {
    width: 50%;
  }
  .btn-wrap-type3 > .btn {
    width: 100%;
  }
  .link-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
  }

  /*********
    tab
  **********/
  .tab-head {
    display: block;
  }

  .tab-head.ty02 {
    display: flex;
    justify-content: center;
  }
  .tab-head.ty02 .tabs-wrap {
    flex-grow: 1;
  }
  .tab-head.ty02 .tabs {
    display: block;
  }
  .tab-head.ty02 .tabs li {
    float: left;
    text-align: center;
    border-collapse: collapse;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4),
  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li {
    width: calc(100% / 2);
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(2n) {
    border-right: 1px solid #555;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(n + 3) {
    border-top: 0;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #de3111;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #aacae6;
  }

  .tabs-wrap .tabs {
    margin-top: 28px;
  }

  .tab-content {
    margin-top: 28px;
  }

  /***
    contents-box 
  ***/
  .conts-box-wrap {
    text-align: center;
  }

  .conts-box-wrap article {
    padding: 60px 0;
  }

  .conts-box-wrap .bg-img-wrap {
    background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
    min-height: 509px;
    padding: 64px 20px;
  }

  .conts-box-wrap .tit {
    font-size: 30px;
    line-height: 42px;
  }

  .conts-box-wrap.ty02 .tit {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 28px;
  }

  .conts-box-wrap .img-area {
    height: 175px;
  }
  .conts-box-wrap .txt-area {
    padding-top: 36px;
  }
  .conts-box-wrap .desc {
    font-size: 18px;
    line-height: 25.2px;
  }

  .conts-box-wrap .bg-img-wrap .more_btn {
    display: block;
    top: revert;
    width: calc(100% - 72px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    padding: 12px 16px;
  }
  .conts-box-wrap .bg-img-wrap .more_btn .btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }

  .txt-list-wrap {
    overflow: auto;
  }
  .txt-list-wrap li {
    margin-right: 12px;
  }

  .txt-list-wrap li:last-child {
    margin-right: 0;
  }
  .txt-list-wrap li .txt-box {
    width: 258px;
    height: 266px;
    background-color: #e6eff8;
    padding: 24px 16px 28px;
  }
  .txt-list-wrap li .num {
    font-size: 24px;
    line-height: 33.6px;
  }

  .txt-list-wrap li .desc {
    font-size: 17px;
    line-height: 23.8px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  /*********
    card
  **********/
  /* card layout */
  .card_scroll {
    justify-content: space-between;
    gap: 0.75rem;
    overflow-x: scroll;
  }
  .card_drop {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  /* card_type01 */
  .card_type01 {
    flex-shrink: 0;
    width: 16.125rem;
    height: 26.875rem;
  }
  .card_type01.card_swiper {
    height: 16.3rem;
  }
  .card_type01 .card_top {
    padding: 1rem 1.25rem 0;
  }
  .card_type01 .card_profile img {
    width: 12.5rem;
  }
  .card_type01.card_team .card_profile {
    padding-bottom: 15.81%;
  }
  .card_type01.card_team .card_profile img {
    width: 77.51%;
  }
  .card_type01.card_swiper .card_profile img {
    width: 8.9375rem;
  }
  .card_type01 .card_rank {
    font-size: 2.5rem;
  }
  .card_type01 .card_num {
    font-size: 2.25rem;
  }
  .card_type01 .card_bottom {
    padding: 0.75rem 1.25rem;
    height: 8.6875rem;
  }
  .card_type01.card_swiper .card_bottom {
    height: 3.88rem;
  }
  .card_type01 .card_tit {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
  .card_type01 .card_detail {
    gap: 0;
    margin-top: 1rem;
  }
  .card_type01 .card_detail li {
    flex-direction: column;
    align-items: normal;
    padding: 0 0.75rem;
  }
  .card_type01 .card_detail li:first-of-type {
    padding-left: 0;
  }
  .card_type01 .card_detail li:last-of-type {
    padding-right: 0;
  }
  .card_type01 .card_detail li + li {
    border-left: 0.0625rem solid #e6eff8;
  }
  .card_type01 .card_detail li span:first-of-type {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .card_type01 .card_detail li span:last-of-type {
    font-size: 1.125rem;
  }

  .card_drop .card_type01 {
    width: 100%;
    height: 20rem;
    max-width: 100%;
  }
  .card_drop .card_type01 .card_profile img {
    width: 10rem;
    height: 10rem;
  }
  .card_drop .card_type01.card_team .card_profile img {
    width: 12.5rem;
  }
  .card_drop .card_type01 .card_rank {
    font-size: 1.875rem;
  }
  .card_drop .card_type01 .card_num {
    font-size: 1.875rem;
  }
  .card_drop .card_type01:not(.card_swiper) .card_bottom {
    height: 8.75rem;
  }
  .card_drop .card_type01 .card_tit {
    margin-bottom: 0.25rem;
  }
  .card_drop .card_type01 .card_detail li {
    max-width: 100%;
    padding: 0 1.88rem;
  }
  .card_drop .card_type01 .card_detail li:first-of-type {
    padding-left: 0;
  }
  .card_drop .card_type01 .card_detail li:last-of-type {
    padding-right: 0;
  }

  /* card_type02 */
  .card_type02 {
    height: 31.25rem;
    padding: 1.5rem 1.25rem 1.75rem;
  }
  .card_type02 .card-tit {
    font-size: 1.25rem;
  }
  .card_type02 .card_img {
    height: 13.4375rem;
  }
  .card_type02 .card_detail {
    margin: 0.75rem 0 2.25rem;
  }
  .card_type02 .card_month {
    font-size: 1.125rem;
  }
  .card_type02 .card_day {
    font-size: 2.5rem;
  }
  .card_type02 .btn {
    font-size: 0.875rem;
  }

  /* card_type03 */
  .card_type03 {
    height: 14rem;
  }
  .card_type03.card_ranker {
    height: 17.5625rem;
  }
  .card_type03 .card_top {
    padding: 1.44rem 1.31rem 0 1.25rem;
  }
  .card_type03.card_ranker .card_top {
    padding: 1.31rem 1.31rem 0 1.25rem;
    align-items: end;
  }
  .card_type03 .card_rank {
    font-size: 2.25rem;
  }
  .card_type03.card_ranker .card_rank {
    font-size: 2.5rem;
  }
  .card_type03 .card_top .card_detail {
    gap: 0.25rem;
  }
  .card_type03 .card_point {
    font-size: 1.25rem;
  }
  .card_type03 .card_bottom {
    gap: 0.75rem;
    height: 5rem;
  }
  .card_type03 .card_bottom .card_detail {
    gap: 0.31rem;
  }
  .card_type03 .card_name {
    font-size: 1.25rem;
  }
}
