/*********************************
모바일 css
*********************************/

@media screen and (max-width: 1023px) {
  /*********
    font
  **********/

  /* tit */
  [class*="tit-type"] {
    color: #000;
    font-family: "Hyundai Sans Head Office";
    font-style: normal;
    font-weight: 600;
  }
  .tit-type01 {
    font-size: 2.5rem;
    line-height: 125%;
  }
  .tit-type02 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .tit-type03 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .tit-type04 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tit-type05 {
    font-size: 1rem;
    line-height: 140%;
  }

  /* txt */
  .txt-type01 {
    font-size: 1.5rem;
  }
  .txt-type02 {
    font-size: 1.25rem;
  }
  .txt-type03 {
    font-size: 1rem;
  }
  .txt-type04 {
    font-size: 0.875rem;
  }
  .txt-type05 {
    font-size: 0.75rem;
  }

  /*********
    tab
  **********/
  .tab-head {
    display: block;
  }

  .tabs-wrap .tabs {
    margin-top: 28px;
  }

  .tab-content {
    margin-top: 28px;
  }
  /*********
    btn 
  *********/
  .btn-lg {
    padding: 17px 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .btn-md01 {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
  }
  /* .btn-xs {
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
  } */
  [class*="btn-icon"] {
    display: inline-block;
    margin-left: 4px;
  }
  .btn-bd.btn-lg .btn-paging {
    margin-left: 4px;
  }
  .btn-lg [class*="btn-icon"] {
    margin-left: 4px;
  }
  .btn-lg .icon20 {
    width: 16px;
    height: 16px;
  }
  .btn-wrap-type1 > .btn {
    width: 100%;
  }
  .btn-wrap-type2 > .btn {
    width: 50%;
  }
  .btn-wrap-type3 > .btn {
    width: 100%;
  }
  .link-btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
  }

  /*********
    tab
  **********/
  .tab-head {
    display: block;
  }

  .tab-head.ty02 {
    display: flex;
    justify-content: center;
  }
  .tab-head.ty02 .tabs-wrap {
    flex-grow: 1;
  }
  .tab-head.ty02 .tabs {
    display: block;
  }
  .tab-head.ty02 .tabs li {
    float: left;
    text-align: center;
    border-collapse: collapse;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4),
  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li {
    width: calc(100% / 2);
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(2n) {
    border-right: 1px solid #555;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(n + 3) {
    border-top: 0;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #de3111;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #aacae6;
  }

  .tabs-wrap .tabs {
    margin-top: 28px;
  }

  .tab-content {
    margin-top: 28px;
  }

  /***
    contents-box 
  ***/
  .conts-box-wrap {
    text-align: center;
  }

  .conts-box-wrap article {
    padding: 60px 0;
  }

  .conts-box-wrap .bg-img-wrap {
    background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
    min-height: 509px;
    padding: 64px 20px;
  }

  .conts-box-wrap .tit {
    font-size: 30px;
    line-height: 42px;
  }

  .conts-box-wrap.ty02 .tit {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 28px;
  }

  .conts-box-wrap .img-area {
    height: 175px;
  }
  .conts-box-wrap .txt-area {
    padding-top: 36px;
  }
  .conts-box-wrap .desc {
    font-size: 18px;
    line-height: 25.2px;
  }

  .conts-box-wrap .bg-img-wrap .more_btn {
    display: block;
    top: revert;
    width: calc(100% - 72px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    padding: 12px 16px;
  }
  .conts-box-wrap .bg-img-wrap .more_btn .btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }

  .txt-list-wrap {
    overflow: auto;
  }
  .txt-list-wrap li {
    margin-right: 12px;
  }

  .txt-list-wrap li:last-child {
    margin-right: 0;
  }
  .txt-list-wrap li .txt-box {
    width: 258px;
    height: 266px;
    background-color: #e6eff8;
    padding: 24px 16px 28px;
  }
  .txt-list-wrap li .num {
    font-size: 24px;
    line-height: 33.6px;
  }

  .txt-list-wrap li .desc {
    font-size: 17px;
    line-height: 23.8px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}
