@charset "utf-8";

.configurator_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.configurator_header-wrap {
  flex-shrink: 0;
  width: 100%;
  background-color: #FFF;
}
.configurator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.12rem 1.5rem 1.06rem;
  border-bottom: 1px solid #D9D9D9;
}
.configurator_header_left {
  display: flex;
  gap: 2.02rem;
}
.configurator_header_left img {
  height: 2rem;
}
.configurator_header_left p {
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_con_wrap {
  flex-grow: 1;
}
.configurator_swiper_wrap {
  width: 100%;
  height: 100%;
  background-image: url(../images/img/img_config_list_swiper_bg_pc.png);
  background-position: center;
  background-size: cover;
}
.configurator_swiper_wrap .swiper-container {
  height: 100%;
}
.configurator_list_swiper {
  position: relative;
  height: 100%;
}
.configurator_list_swiper .swiper-slide {
  width: 38.625rem;
  height: 100%;
}
.configurator_list_swiper .configurator_tit_wrap {
  position: absolute;
  top: 6.25rem;
  width: 100%;
  font-family: "Hyundai Sans Head";
  text-align: center;
  color: #FFF;
  opacity: 0;
}
.configurator_list_swiper .configurator_tit {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
}
.configurator_list_swiper .configurator_subtit {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_list_swiper .configurator_car_wrap {
  position: absolute;
  left: 50%;
  top: 29.7%;
  transform: translateX(-50%);
  width: 38.625rem;
  opacity: 0.5;
}
.configurator_list_swiper .configurator_detail_wrap {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  opacity: 0;
}
.configurator_list_swiper .configurator_detail {
  display: flex;
  justify-content: center;
  gap: 5rem;
  color: #FFF;
  text-align: center;
}
.configurator_list_swiper .configurator_num {
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.configurator_list_swiper .configurator_unit {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}
.configurator_list_swiper .configurator_text {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  color: #FFF;
}
.configurator_list_swiper .configurator_btn_wrap {
  position: fixed;
  right: 2.5rem;
  bottom: 5rem;
  opacity: 1;
  z-index: 1;
}
.configurator_list_swiper .swiper-slide-active .configurator_tit_wrap {
  opacity: 1;
}
.configurator_list_swiper .swiper-slide-active .configurator_car_wrap {
  opacity: 1;
}
.configurator_list_swiper .swiper-slide-active .configurator_detail_wrap {
  opacity: 1;
}
.configurator_list_swiper .swiper-bottom-wrap {
  left: 0;
  bottom: 50%;
  width: 100%;
}
.configurator_list_swiper .swiper-button-next.swiper-button-disabled,
.configurator_list_swiper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.configurator_list_swiper .swiper-button-prev:after {
  background-image: url(../images/icon/icon-arrow-box-white_left.svg);
}
.configurator_list_swiper .swiper-button-next:after {
  background-image: url(../images/icon/icon-arrow-box-white_right.svg);
}

/* 모바일 */
@media screen and (max-width: 1023px) {
  .configurator_header {
    padding: 1rem 1.5rem 0.94rem;
  }
  .configurator_header_left {
    gap: 1.27rem;
  }
  .configurator_header_left img {
    height: 1.50019rem;
  }
  .configurator_header_left p {
    font-size: 1.25rem;
  }
  .configurator_swiper_wrap {
    width: 100%;
    height: 100%;
    background-image: url(../images/img/img_config_list_swiper_bg_mo.png);
    background-position: center;
    background-size: cover;
  }
  .configurator_swiper_wrap .swiper-container {
    height: 100%;
  }
  .configurator_list_swiper {
    position: relative;
    height: 100%;
  }
  .configurator_list_swiper .swiper-slide {
    width: 38.625rem;
    height: 100%;
  }
  .configurator_list_swiper .configurator_tit_wrap {
    position: absolute;
    top: 2.25rem;
    width: 100%;
    font-family: "Hyundai Sans Head";
    text-align: center;
    color: #FFF;
    opacity: 0;
  }
  .configurator_list_swiper .configurator_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .configurator_list_swiper .configurator_subtit {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }
  .configurator_list_swiper .configurator_car_wrap {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56.66%;
    text-align: center;
  }
  .configurator_list_swiper .configurator_detail_wrap {
    bottom: 7.87rem;
  }
  .configurator_list_swiper .configurator_detail {
    gap: 2.25rem;
  }
  .configurator_list_swiper .configurator_num {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .configurator_list_swiper .configurator_text {
    display: none;
  }
  .configurator_list_swiper .configurator_btn_wrap {
    position: fixed;
    right: 0;
    bottom: 2.25rem;
    padding: 0 1.595rem;
    width: 100%;
  }
  .configurator_list_swiper .swiper-bottom-wrap {
    bottom: 56.5%;
  }
  .configurator_list_swiper .swiper-button-prev:after {
    background-image: url(../images/icon/icon-arrow-box-white_left_mo.svg);
  }
  .configurator_list_swiper .swiper-button-next:after {
    background-image: url(../images/icon/icon-arrow-box-white_right_mo.svg);
  }
  .configurator_list_swiper .swiper-button-prev,
  .configurator_list_swiper .swiper-button-next {
    display: block;
    width: 3rem;
    height: 3rem;
  }
}