@charset "utf-8";

.configurator_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  /* height: 100vh; */
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  overflow-y: auto;
  overscroll-behavior: none;
}
.configurator_header_wrap {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  z-index: 4;
  transition: top 0.5s;
}
.configurator_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.12rem 1.5rem 1.06rem 1.5rem;
}
.configurator_header_left {
  display: flex;
}
.configurator_header_left img {
  margin-right: 2.02rem;
  height: 2rem;
}
.configurator_header_tit {
  display: flex;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_area.IONIQ .configurator_header_tit.ELANTRA,
.configurator_area.ELANTRA .configurator_header_tit.IONIQ {
  display: none;
}
.configurator_header_tit .icon-right {
  margin-left: 0.75rem !important;
}
.configurator_header_menu_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 1.75rem;
}
.configurator_header_menu {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.configurator_header_menu_step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #abb2b5;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.configurator_header_menu:hover .configurator_header_menu_step {
  background-color: #de3111;
}
.configurator_header_menu.on .configurator_header_menu_step {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  background-color: #de3111;
}
.configurator_header_menu.on .visually-hidden {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  clip: none;
}
.configurator_header_menu_text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  color: #555555;
}
.configurator_header_menu.on .configurator_header_menu_text {
  color: #000000;
}
.configurator_con_wrap {
  flex-grow: 1;
}
.configurator_con_tit {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: none;
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
  color: #fff;
  z-index: 2;
}
.configurator_area.exterior .configurator_con_tit.tit_exterior,
.configurator_area.interior .configurator_con_tit.tit_interior,
.configurator_area.summary .configurator_con_tit.tit_summary {
  display: block;
}
.configurator_swiper_wrap {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  /* background: linear-gradient(180deg, #060916 30%, #374b55 100%); */
  z-index: 3;
}
.configurator_swiper_wrap:-webkit-full-screen {
  width: 100vw !important;
  height: calc(var(--vh, 1vh) * 100) !important;
}
.configurator_swiper_wrap .swiper-container {
  height: 100%;
}
.configurator_list_swiper {
  position: relative;
  height: 100%;
}
.configurator_list_swiper .swiper-slide {
  width: fit-content;
  height: 100%;
}
.configurator_list_swiper .configurator_tit_wrap {
  position: absolute;
  top: 3.75rem;
  width: 100%;
  text-align: center;
  color: #000;
  opacity: 0;
  z-index: 1;
}
.configurator_list_swiper .configurator_tit {
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
  white-space: nowrap;
}
.configurator_list_swiper .configurator_subtit {
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_list_swiper .configurator_car_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 41vw;
  min-width: 26.3rem;
  max-width: 44.3rem;
  height: auto;
  opacity: 0.5;
}
.configurator_list_swiper .configurator_detail_wrap {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  opacity: 0;
  z-index: 1;
}
.configurator_list_swiper .configurator_detail {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  color: #000;
  text-align: center;
}
.configurator_list_swiper .configurator_num {
  margin-bottom: 1rem;
  /* width: 5.5rem; */
  margin: 0 auto;
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  text-shadow: -1px -1px #f0f0f0;
}
.configurator_list_swiper .configurator_num span {
  font-size: 20px;
}
.configurator_list_swiper .configurator_unit {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}
.configurator_list_swiper .configurator_btn_wrap {
  position: absolute;
  left: 50%;
  bottom: 3.75rem;
  transform: translateX(-50%);
  width: 100%;
  max-width: 26.1rem;
  opacity: 0;
  z-index: 1;
}
.configurator_list_swiper .configurator_btn_wrap .btn {
  word-break: normal;
}
.configurator_list_swiper .configurator_btn_wrap .btn-icon20 {
  flex-shrink: 0;
}
.configurator_list_swiper .swiper-slide-active .configurator_tit_wrap {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  transition-delay: 0.3s;
}
.configurator_list_swiper .swiper-slide-active .configurator_car_wrap {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.configurator_list_swiper .swiper-slide-active .configurator_detail_wrap {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  transition-delay: 0.3s;
}
.configurator_list_swiper .swiper-slide-active .configurator_btn_wrap {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  transition-delay: 0.3s;
}
.configurator_list_swiper .swiper-bottom-wrap,
.configurator_swiper .swiper-bottom-wrap {
  left: 0;
  bottom: 50%;
  width: 100%;
}
.configurator_list_swiper .swiper-button-next.swiper-button-disabled,
.configurator_list_swiper .swiper-button-prev.swiper-button-disabled,
.configurator_swiper .swiper-button-next.swiper-button-disabled,
.configurator_swiper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.full .configurator_swiper .swiper-button-next.swiper-button-disabled,
.full .configurator_swiper .swiper-button-prev.swiper-button-disabled {
  display: block;
  opacity: 1;
}
.configurator_list_swiper .swiper-button-prev:after,
.configurator_swiper .swiper-button-prev:after {
  background-image: url(../images/icon/icon-arrow-box-white_left.svg);
}
.configurator_list_swiper .swiper-button-next:after,
.configurator_swiper .swiper-button-next:after {
  background-image: url(../images/icon/icon-arrow-box-white_right.svg);
}
.configurator_list_swiper .swiper-button-prev:hover::after,
.configurator_swiper .swiper-button-prev:hover::after {
  background-image: url(../images/icon/icon-arrow-box-red_left.svg);
}
.configurator_list_swiper .swiper-button-next:hover::after,
.configurator_swiper .swiper-button-next:hover::after {
  background-image: url(../images/icon/icon-arrow-box-red_right.svg);
}
.configurator_con_flex {
  display: flex;
  justify-content: center;
}
.configurator_con_flex .configurator_swiper_wrap {
  width: calc(100% - 30.875rem);
  height: calc((var(--vh, 1vh) * 100) - 4.375rem);
  background: #fff;
}
.configurator_con_flex .configurator_swiper {
  height: 100%;
}
.configurator_swiper .swiper-status-wrap {
  bottom: 3.12rem;
}
.configurator_swiper .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
}
.configurator_swiper .swiper-pagination-bullet-active {
  width: 5rem;
  background-color: #de3111;
  opacity: 1;
}
.configurator_swiper .swiper-slide {
  overflow: hidden;
}
.configurator_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease-in-out;
}
.configurator_swiper.zoom .swiper-slide img {
  /* 이미지 수급 후 값 조절 필요 */
  transform: scale(1.3);
}
.configurator_fx_wrap {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  z-index: 2;
}
.configurator_fx_wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.configurator_fx_wrap button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.configurator_fx_wrap .btn_background .btn-icon24 {
  background-image: url(../images/icon/icon-img.svg);
}
.configurator_fx_wrap .btn_background.on .btn-icon24 {
  background-image: url(../images/icon/icon-track.svg);
}
.configurator_fx_wrap .btn_time .btn-icon24 {
  background-image: url(../images/icon/icon-day.svg);
}
.configurator_fx_wrap .btn_time.on .btn-icon24 {
  background-image: url(../images/icon/icon-night.svg);
}
.configurator_fx_wrap .btn_zoom .btn-icon24 {
  background-image: url(../images/icon/icon-zoom.svg);
}
.configurator_fx_wrap .btn_zoom.on .btn-icon24 {
  background-image: url(../images/icon/icon-zoomOut.svg);
}
.configurator_fx_wrap .btn_save .btn-icon24 {
  background-image: url(../images/icon/icon-screenshot.svg);
}
.configurator_fx_wrap .btn_full .btn-icon24 {
  background-image: url(../images/icon/icon-fullScreen.svg);
}
.configurator_fx_wrap .btn_full.on .btn-icon24 {
  background-image: url(../images/icon/icon-reduction.svg);
}
@media screen and (max-width: 1399px) {
  .configurator_fx_wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.configurator_select_wrap {
  position: relative;
  width: 30.875rem;
  flex-shrink: 0;
  background-color: #fff;
}
.configurator_select_wrap .dropdown .btn-icon20 {
  width: 24px;
  height: 24px;
}
.configurator_price_wrap {
  position: absolute;
  bottom: 0;
  padding: 1.75rem 2.75rem 2rem 2.75rem;
  width: 100%;
  height: 13.625rem;
  background: #fff;
  border-top: 1px solid #bbb;
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.configurator_price {
  display: flex;
  flex-direction: column;
  padding: 0 0.25rem;
}
.configurator_price_tit {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  color: #555555;
}
.configurator_price > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.configurator_price_total {
  margin-top: 0.25rem;
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.configurator_price .btn-icon36 {
  width: 2.25rem;
  height: 2.25rem;
  background-image: url(../images/icon/icon-reset.svg);
  background-size: contain;
}
.configurator_price .btn:hover .btn-icon36 {
  background-image: url(../images/icon/icon-reset_active.svg);
}
.configurator_price_wrap .btn-wrap {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 1.5rem;
}
.configurator_price_wrap .btn-wrap button {
  width: calc(50% - 0.25rem);
}
.configurator_select_total_wrap {
  display: none;
}
.configurator_select_total_wrap span {
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_select_total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #de3111;
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

/* 아코디언 */
.configurator_select_wrap .dropdown {
  padding: 2.5rem 0;
}
.configurator_select_wrap .dropdown:first-of-type {
  padding-top: 0;
}
.configurator_select_wrap .dropdown:last-of-type {
  padding-bottom: 0;
}
.configurator_select_wrap .dropdown + .dropdown {
  border-top: 1px solid #bbbbbb;
}
.configurator_select_wrap .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  background: none;
  background-color: none;
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  cursor: pointer;
}
.configurator_select_wrap .dropdown-icon.rotate {
  transform: rotate(180deg);
}
.configurator_select_wrap .dropdown-menu {
  margin-top: 1.5rem;
}
.configurator_select_wrap
  .dropdown-menu
  li:not(.dropdown-menu .moclose-btn, .dropdown-menu .option) {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  border-bottom: none;
  cursor: pointer;
}
.configurator_select_wrap .dropdown-menu li:hover {
  background: none;
}
.configurator_select_wrap .dropdown-menu li + li {
  margin-top: 0.75rem;
}
.configurator_label_tit {
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_label_price {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  color: #555555;
}
.configurator_label_radio {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #d9d9d9;
  overflow: hidden;
}
.configurator_label_radio:hover {
  box-shadow: 0 0 0 1px #000;
}
.configurator_label_radio img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  object-position: center;
}
.configurator_label_radio div:last-of-type {
  padding: 1.5rem 1.25rem;
}
.configurator_label_radio .configurator_label_price {
  margin-top: 0.75rem;
}
.configurator_select_wrap input:checked + .configurator_label_radio {
  box-shadow: 0 0 0 2px #000000;
}
.configurator_label_checkbox {
  width: 100%;
}
.configurator_label_checkbox img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
.configurator_label_checkbox div:first-of-type {
  width: 100%;
  height: 16.9375rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.configurator_label_checkbox:hover img {
  transform: scale(1.2);
}
.configurator_label_checkbox .configurator_label_tit {
  position: relative;
  margin: 1rem 0 0.5rem 0;
  padding: 0 0.25rem;
}
.configurator_label_checkbox .configurator_label_price {
  padding: 0 0.25rem;
}
.configurator_label_checkbox .configurator_label_tit::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/icon/icon-checkbox.svg);
  background-size: contain;
  background-position: center;
}
.configurator_select_wrap
  input:checked
  + .configurator_label_checkbox
  .configurator_label_tit::after {
  background-image: url(../images/icon/icon-checkbox-checked.svg);
}
.dropdown-on.configurator_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.configurator_select_wrap .dropdown-menu.configurator_list li + li {
  margin-top: 0;
}
.configurator_label_list {
  width: 100%;
  min-width: 8rem;
  min-height: 124px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(217, 217, 217, 0.97);
}
.configurator_label_list:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.97);
}
.configurator_select_wrap input:checked + .configurator_label_list {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.97);
}
.configurator_label_list img {
  width: 100%;
  height: 3.75rem;
  object-fit: cover;
}
.configurator_label_list p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 0.5rem);
  margin: 0.5rem auto 0;
}

/* step exterior/ interior */
.configurator_select_exterior,
.configurator_select_interior {
  display: none;
  padding: 2.81rem 2.75rem 17.37rem 2.75rem;
  height: calc((var(--vh, 1vh) * 100) - 4.3125rem);
  overflow-y: scroll;
}
.configurator_area.IONIQ.exterior .configurator_select_exterior.IONIQ,
.configurator_area.ELANTRA.exterior .configurator_select_exterior.ELANTRA,
.configurator_area.IONIQ.interior .configurator_select_interior.IONIQ,
.configurator_area.ELANTRA.interior .configurator_select_interior.ELANTRA {
  display: block;
}

/* step summary */
.configurator_scroll_tooltip {
  position: absolute;
  left: 1.5rem;
  bottom: 1.87rem;
  display: none;
  flex-direction: column;
  row-gap: 0.5rem;
  font-family: "Hyundai Sans Text KR", "Hyundai Sans Text", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  z-index: 1;
}
.configurator_scroll_tooltip .btn-icon24 {
  background-image: url(../images/icon/icon-scroll.svg);
}
.configurator_area.summary .configurator_scroll_tooltip {
  display: flex;
}
.configurator_area.summary .configurator_con_flex {
  flex-direction: column;
}
.configurator_area.summary .configurator_swiper_wrap {
  width: 100%;
}
.configurator_area.summary .configurator_price_wrap {
  position: sticky;
  padding: 2.5rem;
  width: 100vw;
  height: 8.125rem;
}
.configurator_area.summary .configurator_select_total_wrap {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.configurator_area.summary .configurator_price_wrap .btn-wrap {
  display: none;
}
.configurator_area.summary .configurator_price_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 0.88rem;
  width: 100%;
  max-width: 60rem;
}
.configurator_area.summary .configurator_price {
  flex-direction: row;
  align-items: center;
  column-gap: 1.5rem;
  padding: 0;
}
.configurator_area.summary .configurator_price div {
  column-gap: 0.75rem;
}
.configurator_area.summary .configurator_price_tit {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: #000000;
}
.configurator_area.summary .configurator_price_total {
  margin-top: 0;
}
.configurator_area.summary .configurator_select_wrap {
  width: 100%;
}
.configurator_select_summary {
  display: none;
  margin: 0 auto;
  padding: 6.25rem 0 7.5rem 0;
  width: 100%;
  max-width: 60rem;
}
.configurator_area.IONIQ.summary .configurator_select_summary.IONIQ,
.configurator_area.ELANTRA.summary .configurator_select_summary.ELANTRA {
  display: block;
}
.configurator_summary_tit {
  font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.configurator_summary_list {
  margin: 1.5rem 0 3.75rem 0;
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #bbbbbb;
}
.configurator_summary_list li {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1.25rem 0.75rem 1.75rem 0.75rem;
}
.configurator_summary_list li + li {
  border-top: 1px solid #bbbbbb;
}
.configurator_summary_list_top {
  display: flex;
  justify-content: space-between;
}
.configurator_summary_list_top > div {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.75rem;
}
.configurator_summary_list_top .btn {
  gap: 0.25rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  color: #555;
}
.configurator_summary_list_top .btn .btn-icon16 {
}
.configurator_summary_parts {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: #de3111;
}
.configurator_summary_list_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.configurator_summary_list_bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.configurator_summary_img {
  width: 7.75rem;
  height: 7.75rem;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: center;
}
.configurator_summary_item,
.configurator_summary_price {
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}
.configurator_select_summary .btn-wrap {
  display: flex;
  justify-content: space-between;
}
.configurator_select_summary .btn-wrap > div {
  display: flex;
  column-gap: 0.75rem;
}

/* popup */
.configurator_popup {
  width: 25rem;
  height: 15.625rem;
  padding: 2.5rem;
  border-radius: 0.25rem;
}
.configurator_popup.pop-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}

/* 모바일 */
@media screen and (max-width: 1024px) {
  .configurator_header_wrap.scroll-on {
    position: fixed;
    top: -112.55px;
  }
  .configurator_header {
    padding: 1rem 1.5rem;
  }
  .configurator_header_left img {
    margin-right: 1.27rem;
    height: 1.50019rem;
  }
  .configurator_header_tit {
    font-size: 1.25rem;
  }
  .configurator_header_tit .icon-right {
    margin-left: 4px !important;
  }
  .configurator_header_menu_wrap {
    position: static;
    transform: translate(0, 0);
    justify-content: center;
    padding: 0.88rem;
  }
  .configurator_swiper_wrap .swiper-container {
    height: 100%;
  }
  .configurator_list_swiper {
    position: relative;
    height: 100%;
    /* background: linear-gradient(180deg, #060916 30%, #374b55 100%); */
  }
  .configurator_list_swiper .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .configurator_list_swiper .configurator_tit_wrap {
    position: absolute;
    top: 2.25rem;
    width: 100%;
    font-family: "Hyundai Sans Head KR", "Hyundai Sans Head", sans-serif;
    text-align: center;
    color: #000;
    opacity: 0;
  }
  .configurator_list_swiper .configurator_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .configurator_list_swiper .configurator_subtit {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }
  .configurator_list_swiper .configurator_car_wrap {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85.55%;
    min-width: 0;
    text-align: center;
  }
  .configurator_list_swiper .configurator_detail_wrap {
    bottom: 6.88rem;
  }
  .configurator_list_swiper .configurator_detail {
    gap: 1rem;
  }
  .configurator_list_swiper .configurator_num {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .configurator_list_swiper .configurator_num span {
    font-size: 16px;
  }
  .configurator_list_swiper .configurator_btn_wrap {
    bottom: 2.25rem;
    padding: 0 1.5rem;
  }
  .configurator_list_swiper .swiper-bottom-wrap {
    bottom: 50%;
  }
  .configurator_list_swiper .swiper-button-prev:after {
    background-image: url(../images/icon/icon-arrow-box-white_left_mo.svg);
  }
  .configurator_list_swiper .swiper-button-next:after {
    background-image: url(../images/icon/icon-arrow-box-white_right_mo.svg);
  }
  .configurator_list_swiper .swiper-button-prev,
  .configurator_list_swiper .swiper-button-next,
  .configurator_swiper .swiper-button-prev,
  .configurator_swiper .swiper-button-next {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  .configurator_con_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .configurator_con_flex {
    display: block;
  }
  .configurator_con_flex .configurator_swiper_wrap {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15rem;
    transition: top 0.5s;
  }
  .configurator_con_flex .configurator_swiper_wrap.scroll-on {
    top: 111.55px;
  }
  .configurator_swiper .swiper-status-wrap {
    bottom: 1.25rem;
  }
  .configurator_fx_wrap {
    display: flex;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 2.75rem;
    column-gap: 1rem;
  }
  .configurator_fx_wrap button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .configurator_fx_wrap button .btn-icon24 {
    width: 1.25rem;
    height: 1.25rem;
  }
  .configurator_select_wrap {
    width: 100%;
  }
  .configurator_price_wrap {
    position: sticky;
    padding: 1.25rem 1.5rem 1.75rem 1.5rem;
    height: 11.25rem;
    transition: bottom 0.5s;
  }
  .configurator_price_wrap.scroll-on {
    bottom: -200px;
  }
  .configurator_price_total {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .configurator_price .btn-icon36 {
    width: 1.5rem;
    height: 1.5rem;
  }
  .configurator_select_total_wrap span {
    font-size: 1.125rem;
  }
  .configurator_select_total {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.125rem;
  }

  /* 아코디언 */
  .configurator_select_wrap .dropdown {
    padding: 1.75rem 0;
  }
  .configurator_select_wrap .dropdown .btn-icon20 {
    width: 20px;
    height: 20px;
  }
  .configurator_select_wrap .dropdown:first-of-type {
    padding-top: 0;
  }
  .configurator_select_wrap .dropdown:last-of-type {
    padding-bottom: 0;
  }
  .configurator_select_wrap .dropdown-btn {
    font-size: 1.125rem;
  }
  .configurator_select_wrap .dropdown-menu {
    margin-top: 1rem;
  }
  .configurator_label_radio img {
    width: 6rem;
    height: 6rem;
  }
  .configurator_label_radio div:last-of-type {
    padding: 0 1.25rem;
  }
  .configurator_label_radio div:only-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .configurator_label_radio div:only-child .configurator_label_tit {
    font-size: 1rem;
  }
  .configurator_label_radio .configurator_label_tit {
    font-size: 0.875rem;
  }
  .configurator_label_radio .configurator_label_price {
    margin-top: 0.5rem;
  }
  .configurator_label_checkbox div:first-of-type {
    height: 13rem;
  }
  .configurator_label_checkbox img {
    width: 100%;
  }
  .dropdown-on.configurator_list {
    display: flex;
    margin: 1rem 0 0 -1.5rem;
    padding: 2px 1.5rem;
    width: calc(100% + (1.5rem * 2));
    overflow-x: scroll;
  }
  .configurator_label_list img {
    width: 100%;
  }

  /* step exterior/ interior */
  .configurator_select_exterior,
  .configurator_select_interior {
    display: none;
    padding: 1.5rem 1.5rem 2.25rem 1.5rem;
    height: 100%;
  }

  /* step summary */
  .configurator_area.summary .configurator_scroll_tooltip {
    display: none;
  }
  .configurator_area.summary .configurator_price_wrap {
    padding: 1.87rem 1.5rem 1.75rem 1.5rem;
    height: 10.25rem;
  }
  .configurator_area.summary .configurator_select_total_wrap {
    justify-content: space-between;
    width: 100%;
  }
  .configurator_area.summary .configurator_price_summary {
    flex-direction: column;
    row-gap: 1rem;
  }
  .configurator_area.summary .configurator_price {
    flex-direction: column;
    align-items: normal;
    row-gap: 0.5rem;
    padding-left: 0.25rem;
    width: 100%;
  }
  .configurator_area.summary .configurator_price div {
    justify-content: flex-end;
    column-gap: 0.5rem;
  }
  .configurator_select_summary {
    margin: 0;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
  }
  .configurator_summary_tit {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .configurator_summary_list {
    margin: 1rem 0 2.25rem 0;
  }
  .configurator_summary_list li {
    padding: 1rem 0 1.25rem 0;
  }
  .configurator_summary_list_top {
    display: flex;
    justify-content: space-between;
  }
  .configurator_summary_list_top > div {
    column-gap: 1rem;
  }
  .configurator_summary_list_top .btn {
    font-size: 0.875rem;
  }
  .configurator_summary_list_bottom {
    column-gap: 0.75rem;
  }
  .configurator_summary_list_bottom > div {
    flex-direction: column;
    align-items: normal;
    padding: 1rem 0;
    height: 6rem;
  }
  .configurator_summary_img {
    width: 6rem;
    height: 6rem;
  }
  .configurator_summary_price {
    text-align: right;
  }
  .configurator_select_summary .btn-wrap {
    flex-wrap: wrap;
    row-gap: 0.75rem;
  }
  .configurator_select_summary .btn-wrap > button {
    width: 100%;
  }
  .configurator_select_summary .btn-wrap > div {
    width: 100%;
  }

  /* popup */
  .configurator_popup {
    width: 100%;
    height: 18.75rem;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
  }
  .configurator_popup.pop-wrap {
    font-size: 1rem;
  }

  .configurator_popup [class*="btn-md"] {
    padding: 12px 15px; /* configurator 팝업에서 버튼 텍스트길이 길 경우, 텍스트 간격 이슈 있어 좌우 간격 수정함 */
  }
}
@media print {
  .configurator_header {
    padding-left: 0 !important;
  }
  .configurator_scroll_tooltip,
  .swiper-status-wrap,
  .configurator_fx_wrap,
  .swiper-button-next,
  .swiper-button-prev,
  .configurator_header_menu_wrap {
    display: none !important;
  }
  .swiper-wrapper {
    transform: none !important;
  }
  .swiper-slide,
  .configurator_con_flex .configurator_swiper_wrap {
    width: 100% !important;
    height: auto !important;
  }

  .configurator_swiper .swiper-slide img {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
  }

  .configurator_select_summary {
    padding: 1rem 0 !important;
  }

  .configurator_select_summary .btn-wrap {
    display: none !important;
  }
  .configurator_summary_tit {
    font-size: 1rem !important;
  }
  .configurator_summary_list {
    margin: 0.5rem 0 0.75rem 0 !important;
  }
  .configurator_summary_list li {
    justify-content: flex-start !important;
    row-gap: 0 !important;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem !important;
  }
  .configurator_summary_img {
    width: 2rem !important;
    height: 2rem !important;
  }
  .configurator_price_wrap {
    padding: 1rem 0.5rem 1rem 0.5rem !important;
    height: 4.625rem !important;
    box-shadow: none !important;
    border-top: 1px solid #000 !important;
  }
  .configurator_price_total {
    font-size: 1.2rem !important;
  }
  .configurator_price .btn-icon36 {
    display: none !important;
  }
  .configurator_summary_parts {
    font-size: 0.5rem !important;
    line-height: 1 !important;
  }
  .configurator_summary_item,
  .configurator_summary_price {
    font-size: 0.5rem !important;
  }
  .configurator_summary_tit {
    font-size: 1rem !important;
  }
  .configurator_area.summary .configurator_price_wrap {
    padding: 0.5rem !important;
    height: 2.125rem !important;
  }
  .configurator_summary_list_top .btn {
    display: none !important;
  }
  .configurator_con_tit {
    display: none !important;
  }
  .configurator_select_summary {
    display: flex !important;
    justify-content: space-between !important;
    gap: 1rem !important;
  }
  .configurator_select_summary > div {
    flex: 1 !important;
  }
}
