@charset "utf-8";
/* 공통 */
.content-top {
  padding: 139.5px 0;
  text-align: center;
  background: #fff;
}
.content-top p + p {
  margin-top: 16px;
}

.inquiry_wrap {
  margin: 0 auto;
  padding: 0 5rem 15rem 5rem;
  width: 100%;
  max-width: 70rem;
}
.inquiry_form {
  padding-bottom: 5rem;
}
.inquiry_form:nth-of-type(2) {
  border-bottom: 1px solid #000;
}
.inquiry_tit {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.inquiry_tit::after {
  content: " *";
  color: #e63312;
}
.inquiry_edit {
  margin: 0.5rem 0;
}
.inquiry_wrap .btn-wrap-type2 {
  margin-top: 3.75rem;
}

/* CM070102C01 */
.inquiry_popup_wrap {
  padding: 2.5rem;
  border-radius: 0.25rem;
}
.inquiry_popup_wrap p {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.inquiry_popup_wrap ul {
  margin: 2.5rem 0;
}
.inquiry_popup_wrap ul li {
  position: relative;
  padding-left: 1.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.inquiry_popup_wrap ul li::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  display: block;
  width: 0.219rem;
  height: 0.219rem;
  border-radius: 100rem;
  background-color: #000;
}
.inquiry_popup_wrap ul li + li {
  margin-top: 1.5rem;
}
.inquiry_popup_wrap ul li span {
  color: #de3111;
}

/* Cookies Policy 페이지 */
.cookies-area,
.privacy-area,
.terms-area {
  max-width: 60rem;
  margin: 0 auto;
  padding-bottom: 15rem;
}
.privacy-area .text_desc {
  display: block;
  margin-top: 24px;
}
.cookies-item:not(:first-of-type) {
  margin-top: 5rem;
}
.cookies-item a {
  cursor: pointer;
  text-decoration: underline;
}
.cookies-item a:hover {
  color: #de3111;
}
.cookies-area .tit-type05 {
  margin-top: 1.25rem;
}
.cookies-area .txt-type03 {
  margin-top: 1.25rem;
  font-weight: 500;
}
.cookies-area .btn-wrap-default {
  margin-top: 5rem;
}

/* privacy area */
.privacy-area .text_desc > div:not(:last-child) {
  margin-bottom: 32px;
}
.privacy-area .table_scroll-wrap {
  width: 100%;
  overflow-x: auto;
}
.privacy-area table {
  margin: 10px 0;
  min-width: 500px;
}
.privacy-area table thead th {
  background-color: #e5e5e5;
  font-weight: 800;
}
.privacy-area table td,
th {
  border: 1px solid #000;
  min-height: 16px;
  padding: 5px 10px;
}
.privacy-area table td a:hover {
  text-decoration: underline;
}

.privacy-area .text_desc > div h4 {
  font-size: 24px;
  font-weight: 700;
}
.privacy-area .text_desc > div h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.privacy-area .text_desc > div p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

/* 약관 - terms */
.terms-area > .terms-item {
  margin-bottom: 32px;
}
.terms-item h4 {
  margin-bottom: 24px;
}
.terms-item .terms-item-list h5 {
  font-size: 18px;
  font-weight: 500;
}
.terms-item-list > li {
  margin-bottom: 22px;
}
.terms-item-list > li:last-child {
  margin-bottom: 0;
}

.terms-item-list > li .terms-tit {
  margin-bottom: 10px;
}

.terms-desc-list {
  margin-top: 12px;
}

.terms-desc-list > li:not(:last-child) {
  margin-bottom: 8px;
}

.terms-desc-list ol > li {
  padding-left: 20px;
  margin-top: 4px;
}

/* 모바일 */
@media screen and (max-width: 1023px) {
  /* 공통 */
  .content-top {
    padding: 153px 24px;
  }
  .content-top p:last-child {
    font-size: 20px;
    line-height: 28px;
  }

  .inquiry_wrap {
    padding: 0;
    padding-bottom: 10rem;
  }
  .inquiry_form {
    padding-bottom: 3.75rem;
  }
  .inquiry_tit {
    font-size: 1.125rem;
  }
  .inquiry_wrap .btn-wrap-type2 {
    margin-top: 2.5rem;
  }

  /* CM070102C01 */
  .inquiry_popup_wrap p {
    font-size: 1.125rem;
  }
}
