@charset "utf-8";
.ranking-wrap {
  background: #f0f0f0;
}
body {
  overflow: auto;
}
.ranking-top {
  padding: 139.5px 0;
  text-align: center;
  background: #fff;
}
.ranking-top p {
  font-family: Hyundai Sans Head;
}
.ranking-top p + p {
  margin-top: 16px;
}
.ranking-center .tab-head {
  justify-content: flex-end;
  padding-top: 120px;
  max-width: 1440px;
  margin: 0 auto;
}
.tab-graycont {
  max-width: 1440px;
  margin: 0 auto;
}
.tab-whitecont {
  background-color: #fff;
  padding: 80px 0 240px;
}
.tab-whitecont .btn-wrap-default {
  margin-top: 80px;
}
.ranking-center .tab-container {
  position: relative;
}
.ranking-center .tab-container .ranking-tabcont {
  position: absolute;
  top: 99px;
}
.ranking-center .tab-content {
  margin: 0;
}
.ranking-center .ranking-tabcont + ul {
  padding: 130px 0 120px;
}
.ranking-tabcont .ranking-inner1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
  font-family: Hyundai Sans Head;
}
.ranking-center .ranking-inner2box {
  display: flex;
  gap: 33px;
  margin-top: 16px;
}
.ranking-center .ranking-inner2.community-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ranking-center .ranking-inner2.community-profile img {
  width: 32px;
  height: 32px;
}
.ranking-center .ranking-inner2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}
.ranking-center .ranking-inner2:not(:first-child) {
  position: relative;
}
.ranking-center .ranking-inner2:not(:first-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background: #bbbb;
  display: inline-block;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.ranking-center .ranking-inner2 > span {
  color: #de3111;
}
/* 모바일 */
@media screen and (max-width: 1023px) {
  .ranking-top {
    padding: 153px 24px;
  }
  .ranking-top p:last-child {
    font-size: 20px;
    line-height: 28px;
  }
  .ranking-center .tab-head {
    max-width: 100%;
    padding: 80px 24px 0;
  }
  .ranking-center .tabs-wrap .tabs {
    margin-top: 0;
  }
  .tab-graycont {
    max-width: 100%;
    padding: 0 24px;
    margin-top: 60px;
  }
  .tab-whitecont {
    background-color: #fff;
    padding: 44px 24px 160px;
  }
  .ranking-center .tab-container .ranking-tabcont {
    position: static;
    text-align: center;
  }
  .ranking-center .ranking-tabcont + ul {
    padding: 36px 0 80px;
  }
  .ranking-tabcont .ranking-inner1 {
    font-size: 36px;
    line-height: 45px;
  }
  .ranking-center .ranking-inner2:not(:first-child)::after {
    display: none;
  }
  .ranking-center .ranking-inner2box {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .ranking-center .ranking-inner2box.community-box {
    gap: 8px;
  }
  .ranking-center .ranking-inner2.community-profile {
    gap: 4px;
  }
  .ranking-center .ranking-inner2 {
    font-size: 20px;
    line-height: 28px;
  }
  .tab-whitecont > ul > li {
    /* width: calc(100% - 24px); */
    /* margin: 0 auto; */
  }
  .tab-whitecont .btn-wrap-default {
    margin-top: 44px;
  }
}
