@charset "utf-8";
/* Experience  common */
.content-top {
  padding: 140px 0;
  text-align: center;
  background: #fff;
}
.content-top p + p {
  margin-top: 16px;
}
.title-w1440 {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.pc-only {
  display: block;
}
.mo-only {
  display: none;
}
.grid_masonry + .btn-wrap-default,
.grid_masonry + .btn-wrap-default {
  margin-top: 80px;
}
.title_flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2.5rem;
  max-width: 90rem;
}
.title_flex .color-white {
  color: #fff;
  border-color: #fff;
}
.title_flex .selectbox-trigger.color-white::after {
  background-image: url("../../../../inc/images/icon/icon-arrow01_down_white.svg");
}
.sort_flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3.75rem;
  max-width: 90rem;
}

/* 디자인 없어서 임시 작업 - 공용 */
.page_wrap {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.page_wrap > button {
  width: 3rem;
  height: 3rem;
  background-color: #595c5f;
  background-position: center;
  background-repeat: no-repeat;
}
.page_wrap .page_prev_btn {
  background-image: url("../images/icon/icon-arrow01_left_white.svg");
}
.page_wrap .page_next_btn {
  background-image: url("../images/icon/icon-arrow01_right_white.svg");
}
.page_wrap .page_list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* EP040401 */
.ranking-wrap {
  background: #f0f0f0;
}
.ranking-wrap .ranking-center .tab-head {
  justify-content: flex-end;
  padding: 120px 80px 0;
  max-width: 1600px;
  margin: 0 auto;
}
.ranking-wrap .ranking-center .tabs-wrap .tabs {
  position: relative;
  z-index: 1;
}
.ranking-wrap .tab-whitecont {
  background-color: #fff;
  padding: 80px 80px 240px;
}
.ranking-wrap .tab-graycont {
  position: relative;
  padding: 0 80px;
}
.ranking-wrap .tab-whitecont .btn-wrap-default {
  margin-top: 80px;
}
.ranking-wrap .ranking-center .tab-container .ranking-tabcont {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  margin-top: -62px;
}
.ranking-wrap .ranking-center .tab-content,
.nflmain_wrap .content-item05.main-rank .tab-content {
  margin: 0;
}
.ranking-wrap .ranking-center .ranking-tabcont + ul {
  padding: 130px 0 120px;
}
.ranking-wrap .ranking-center .ranking-inner2box {
  display: flex;
  gap: 33px;
  margin-top: 16px;
}
.ranking-wrap .ranking-center .ranking-inner2.community-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ranking-wrap .ranking-center .ranking-inner2.community-profile img {
  width: 32px;
  height: 32px;
}
.ranking-wrap .ranking-center .ranking-inner2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}
.ranking-wrap .ranking-center .ranking-inner2:not(:first-child) {
  position: relative;
}
.ranking-wrap .ranking-center .ranking-inner2:not(:first-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background: #bbbb;
  display: inline-block;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.ranking-wrap .ranking-center .ranking-inner2 > span {
  color: #de3111;
}
/* EP040101 */
.nflmain_wrap .mission-box {
  background-color: #f0f0f0;
  padding: 120px 80px 160px;
}
.nflmain_wrap .content-item03 .banner-box .banner-inner {
  background: url(../images/img/img_nfluencer_banner01.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  aspect-ratio: 1440 / 400;
}
.nflmain_wrap .content-item03 .banner-box {
  padding: 0 80px;
  background: linear-gradient(#f0f0f0 50%, #fff 50%);
  margin-bottom: 160px;
}
.nflmain_wrap .content-item03 .banner-inner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.nflmain_wrap .content-item03 .banner-titbox {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 48.9736vw;
}
.nflmain_wrap .content-item03 .banner-box > .banner-inner p + p {
  margin-top: 12px;
}
.nflmain_wrap .content-item03 .banner-box > .banner-inner p {
  color: #fff;
}
.nflmain_wrap .content-item03 .banner-box .btn-wrap {
  position: absolute;
  bottom: 52px;
  left: 60px;
}
.nflmain_wrap .content-item04 .mission-box.white-box {
  background-color: #fff;
  padding: 0 80px 160px;
}
.nflmain_wrap .content-item05.main-rank {
  background: #f0f0f0;
  padding: 120px 80px 160px;
}
.nflmain_wrap .content-item05.main-rank .tab-container {
  max-width: 1440px;
  margin: 0 auto;
}
.nflmain_wrap .content-item05.main-rank .tab-head {
  justify-content: flex-end;
  margin-top: -100px;
  padding-bottom: 60px;
}
.nflmain_wrap .content-item05.main-rank .ranking-tabcont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}
.nflmain_wrap .content-item06 .rewards-box {
  padding: 160px 80px 240px;
}
/* EP040201, EP040301, EP040501 */
.subfilter_wrap .content-item02 {
  background-color: #f0f0f0;
  padding: 120px 80px 240px;
}
.subfilter_wrap .grid_masonry {
  margin-top: 40px;
}
.subfilter_wrap .content-item02 .dropdown.centered {
  max-width: 1440px;
  margin: 0 auto;
}
/* EP040601 */
.subnotice_wrap .content-item02 {
  padding: 40px 80px 240px;
}
.subnotice_wrap .noti-topbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  max-width: 964px;
  margin: 0 auto;
}
.subnotice_wrap .noti-topbox .search-container {
  flex: 0 0 calc(100% - 256px);
}
.subnotice_wrap .noti-topbox .search-container .search-wrap::after {
  display: none;
}
.subnotice_wrap .noti-topbox .search-container .search-wrap .search-input-box {
  border-bottom: 4px solid #000;
}
.subnotice_wrap .noti-listbox {
  margin-top: 100px;
  border-top: 3px solid #787d80;
  max-width: 1440px;
  margin: 100px auto 0;
}
.subnotice_wrap .noti-listbox li {
  display: flex;
  padding: 29px 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
}
.subnotice_wrap .noti-listbox li button {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}
.subnotice_wrap .noti-listbox li span.notice-date {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

/* EP010301 */
.calender_box {
  padding: 7.5rem 5rem 15rem;
  background-color: #e6eff8;
}
.calender_wrap {
  margin: 0 auto;
  padding: 7.5rem 0;
  max-width: 90rem;
}
.calender_wrap + .calender_wrap {
  border-top: 1px solid #bbbbbb;
}
.calender_wrap:first-of-type {
  padding-top: 0;
}
.calender_wrap:last-of-type {
  padding-bottom: 0;
}

/* EP010302 */
.result_top {
  padding: 7.5rem 5rem;
  background-color: #000000;
}
.result_bottom {
  padding: 5rem 5rem 15rem;
}
.result_wrap {
  margin: 0 auto;
  max-width: 90rem;
}
.result_wrap .contitle-type01 {
  margin-bottom: 2.5rem;
}
.result_wrap .roundresult-wrap {
  margin-bottom: 3.75rem;
}
.result_wrap + .result_wrap {
  margin-top: 7.5rem;
}
.detail_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 2.5rem;
  border-top: 1px solid #bbbbbb;
}
.detail_list li {
  width: calc(50% - 0.75rem);
  position: relative;
  padding-left: 1rem;
}
.detail_list li::before {
  position: absolute;
  left: 0;
  top: 0.75rem;
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #777777;
}
.detail_list li:nth-of-type(2n) {
  margin-left: 0.75rem;
}
.detail_list .btn {
  gap: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.detail_list .btn-icon20 {
  flex-shrink: 0;
}

/* EP010303 */
.issue_wrap {
  padding: 12.5rem 5rem 12.5rem;
}
.issue_wrap .contitle-type01 {
  text-align: center;
}
.issue_wrap .contitle-type01 span {
  color: #de3111;
}
.issue_wrap .tit-type04 {
  margin: 1.5rem auto 3.75rem;
  width: 49.48vw;
  min-width: 35.5rem;
  max-width: 59.375rem;
  text-align: center;
}
.issue_wrap .txt-list-wrap {
  justify-content: center;
  padding: 1.5rem;
}
.issue_wrap .txt-list-wrap li {
  width: 17rem;
}
.info_wrap {
  padding: 7.5rem 5rem 10em;
  background-color: #aacae6;
}
.info_wrap .contitle-type01 {
  margin-bottom: 2.5rem;
  text-align: center;
}
.standing_wrap {
  padding: 10rem 5rem 12.5rem;
  background-color: #000000;
}
.standing_wrap .title_flex {
  align-items: end;
}
.standing_wrap .title_flex .selectbox-wrap {
  margin-bottom: 1.37rem;
}
.info_more {
  margin: 3rem auto 0;
  max-width: 90rem;
  text-align: right;
}
.schedule_wrap {
  padding: 10rem 5rem 12.5rem;
}
.guide_wrap {
  padding: 5rem;
  background-color: #e6eff8;
}
.visit_wrap {
  padding: 10rem 5rem 15rem;
}

/* EP010401 */
.standing_top {
  padding: 7.5rem 5rem;
  background-color: #000000;
}
.standing_top .color-white {
  color: #fff;
  border-color: #fff;
}
.standing_top .color-white::after {
  background-image: url("../../../../inc/images/icon/icon-arrow01_down_white.svg");
}
.standing_bottom {
  padding: 5rem 5rem 15rem;
}
.standing_bottom .page_wrap {
  margin-top: 5rem;
}

/* EP010501 */
.drivers_box {
  padding: 7.5rem 5rem 15rem;
  background-color: #e6eff8;
}
.drivers_box .grid_3 {
  margin-bottom: 5rem;
}
.search_result {
  padding: 8.75rem 0 3.5rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
}
.search_result span {
  color: #de3111;
}

/* EP010501P01 */
.driver_top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: auto;
  background-image: url("../../../../inc/images/N_Festival/driver/bg_driver-1920x694.png");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920 / 694;
}
.driver_top img {
  width: 31.98%;
}
.driver_top .driver_num {
  position: absolute;
  right: 12.6%;
  bottom: 1.25rem;
  color: #de3111;
  text-align: right;
  font-family: "Hyundai Sans Head";
  font-size: 5rem;
  font-weight: 700;
  line-height: 125%;
  text-shadow: calc(0.125rem * 1) 0 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * 0.9239) 0 #fff,
    0 calc(0.125rem * 1) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * 0.9239) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * 0.7071) 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * 0.3827) 0 #fff,
    calc(0.125rem * -1) 0 0 #fff,
    calc(0.125rem * -0.9239) calc(0.125rem * -0.3827) 0 #fff,
    calc(0.125rem * -0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * -0.3827) calc(0.125rem * -0.9239) 0 #fff,
    0 calc(0.125rem * -1) 0 #fff,
    calc(0.125rem * 0.3827) calc(0.125rem * -0.9239) 0 #fff,
    calc(0.125rem * 0.7071) calc(0.125rem * -0.7071) 0 #fff,
    calc(0.125rem * 0.9239) calc(0.125rem * -0.3827) 0 #fff;
}
.driver_bottom {
  padding: 7.5rem 5rem 15rem;
}
.coment_wrap {
  max-width: 90rem;
  margin: 0 auto;
  padding-bottom: 3.75rem;
  border-bottom: 2px solid #787d80;
  text-align: center;
}
.coment_wrap .contitle-type01 {
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.driver_coment {
  padding: 0 7.6rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 140%;
}
.driver_wrap {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1px solid #bbbbbb;
}
.driver_wrap:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.driver_detail {
  display: flex;
  justify-content: start;
  flex-flow: column wrap;
  row-gap: 1.5rem;
  width: 100%;
  height: 12.8rem;
}
.driver_detail li {
  width: 38.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.driver_detail li p + p {
  margin-top: 0.75rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.career_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 2.5rem;
}
.career_list li {
  width: calc(50% - 0.75rem);
  position: relative;
  padding-left: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.career_list li::before {
  position: absolute;
  left: 0;
  top: 0.75rem;
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #777777;
}
.career_list li:nth-of-type(2n) {
  margin-left: 0.75rem;
}

/* EP010601 */
.drivers_box {
  padding: 7.5rem 5rem 15rem;
  background-color: #e6eff8;
}
.drivers_box .grid_3 {
  margin-bottom: 5rem;
}
.search_result {
  padding: 8.75rem 0 3.5rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
}
.search_result span {
  color: #de3111;
}

/* EP010601P01 */
.team_top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #e6eff8;
  aspect-ratio: 1920 / 694;
}
.team_top img {
  width: 41.67%;
}
.team_bottom {
  padding: 7.5rem 5rem 15rem;
}
.coment_wrap {
  max-width: 90rem;
  margin: 0 auto;
  padding-bottom: 3.75rem;
  border-bottom: 2px solid #787d80;
  text-align: center;
}
.coment_wrap .contitle-type01 {
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.team_coment {
  padding: 0 7.6rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 140%;
}
.team_wrap {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1px solid #bbbbbb;
}
.team_wrap:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.team_detail {
  display: flex;
  justify-content: start;
  flex-flow: column wrap;
  row-gap: 1.5rem;
  width: 100%;
  height: 19.9rem;
}
.team_detail li {
  width: 50%;
  max-width: 38.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.team_detail li p + p {
  margin-top: 0.75rem;
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.team_detail li:nth-of-type(3),
.team_detail li:nth-of-type(4) {
  order: 2;
}
.team_detail li:nth-of-type(5) {
  order: 1;
}
.team_wrap .ty03Swiper {
  padding-top: 0;
}
.career_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 2.5rem;
}
.career_list li {
  width: calc(50% - 0.75rem);
  position: relative;
  padding-left: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.career_list li::before {
  position: absolute;
  left: 0;
  top: 0.75rem;
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #777777;
}
.career_list li:nth-of-type(2n) {
  margin-left: 0.75rem;
}

/* EP010801 */
.featured_wrap {
  padding: 7.5rem 0;
  background-color: #e6eff8;
}
.featured_wrap .title_flex {
  box-sizing: content-box;
  padding: 0 5rem;
}
.title_flex_sub {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.video_wrap {
  padding: 7.5rem 5rem 15rem;
}
.video_list {
  margin: 0 auto;
  max-width: 90rem;
}
.video_list:first-of-type {
  padding-bottom: 10rem;
}
.video_list:last-of-type {
  padding-top: 10rem;
  border-top: 2px solid #bbb;
}
.video_list .grid_2,
.video_list .grid_3 {
  row-gap: 5rem;
}
.video_list .btn-wrap-default {
  margin-top: 5rem;
}

/* EP010802 */
.video_thumnail_wrap {
  position: relative;
  text-align: center;
  color: #fff;
}
.video_thumnail_wrap .img_mo {
  display: none;
}
.video_thumnail_wrap .video_tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 5rem;
  width: 100%;
  font-family: "Hyundai Sans Head";
  font-size: 5rem;
  font-weight: 700;
  line-height: 125%;
}
.video_thumnail_wrap .video_date {
  position: absolute;
  left: 50%;
  bottom: 6.5rem;
  transform: translateX(-50%);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
}
.video_thumnail_wrap .video_tag {
  position: absolute;
  left: 50%;
  bottom: 3.75rem;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
}
.video_detail_wrap {
  padding: 10rem 5rem 15rem;
}
.video_detail_wrap .card_video {
  display: block;
  margin: 0 auto;
  max-width: 90rem;
}
.video_detail_wrap .card_video .card_title {
  padding: 0 7.62rem;
}
.video_detail_wrap .card_video .card_detail {
  padding: 0 7.62rem;
}
.video_detail_wrap .btn-wrap-default {
  margin-top: 3.75rem;
}
.video_detail_wrap .btn-wrap-default.sns_wrap {
  gap: 2rem;
  margin-top: 12.5rem;
}
.video_detail_wrap .lg-txt-btn01 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
}
.related_wrap {
  padding: 5rem 5rem 7.5rem;
  background-color: #e6eff8;
}
.related_wrap .related_tit {
  margin: 0 auto 4.06rem;
  max-width: 90rem;
  font-family: "Hyundai Sans Head";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
}
.related_wrap .card_video .card_date {
  margin-top: 1.25rem;
}

/* 팝업 임시 */
.popup-wrapper .temp-header {
  /* 확정시 해당 클래스 삭제 예정 */
  font-size: 2.4rem;
  color: palevioletred;
}

.popup-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.popup-wrapper button.btn-only-icon-notbg.pop-close.pop-page {
  position: absolute;
  top: 34px;
  right: 35px;
}

.popup-wrapper .popup-header {
  display: flex;
  padding: 32px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* border-bottom: 1px solid #787d80; */
}

.popup-wrapper .popup-header h3 {
  font-size: 2rem; /* 32px */
}

.popup-wrapper .popup-body {
  padding: 40px 40px 60px;
  display: grid;
  gap: 40px 0;
  overflow-y: auto;
  max-height: 600px;
  border-top: 1px solid #787d80;
}

.popup-wrapper .popup-body-innerbox {
  /* margin: 40px 0; */
}

.popup-wrapper .popup-con:last-child {
  margin-bottom: 60px;
}

.popup-wrapper .popup-footer {
  border-top: 1px solid #787d80;
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;

  /* position: fixed;
  bottom: -84px; */
  width: 100%;
  background: #fff;
}

.popup-wrapper .popup-footer .btn-wrap {
  /* default: class="btn btn-lg- */
  display: flex;
  gap: 0 8px;
}

.popup-wrapper .popup-footer .btn-wrap.md {
  /* for class="btn btn-md- */
  display: flex;
  gap: 0 10px;
}

.popup-wrapper .label-box p {
  width: fit-content;
  display: flex;
  padding: 4px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  background: #000;
  color: #fff;

  font-family: "Hyundai Sans Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

.popup-wrapper .label-box h1 {
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  text-transform: capitalize;
  margin-top: 16px;
}

.popup-wrapper .wrap-form .wrap-form-bottom.comment-type03 ul li {
  margin: 0;
}

.popup-wrapper.invite .popup-body p {
  margin: 40px 0;
  font-family: "Hyundai Sans Text";
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}
.popup-wrapper .popup-body.invite p:first-child {
  margin: 0 0 40px;
}

.popup-wrapper.invite {
  display: flex;
  width: 500px;
  min-width: 500px;
  min-height: 300px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
}

.popup-wrapper.invite .popup-header {
  border-bottom: 0;
  padding: 0;
}

.popup-wrapper.invite .popup-body {
  padding: 0;
}

.popup-wrapper.invite .popup-body p {
  font-family: "Hyundai Sans Text";
  font-weight: 500;
}

.popup-wrapper.invite .popup-body p span.accent {
  color: #de3111;
  font-family: "Hyundai Sans Head";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.popup-wrapper.invite .popup-body .popup-body-innerbox .btn-wrap {
  gap: 0 8px;
  display: flex;
  justify-content: center;
}
.popup-wrapper.invite .popup-footer {
  border-top: 0;
  padding: 0;
}

/*popup signup */
.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox p.popup-tit-lg {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  text-transform: capitalize;
  margin-bottom: 40px;
}
.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox p.txt-type01 {
  font-family: "Hyundai Sans Head";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}

.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .tit-type03 {
  margin-bottom: 10px;
}

.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .txt-type03 {
  font-weight: 500;
}

.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .txt-type03.inquiry {
  margin-top: 28px;
}

.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .txt-type03.accent,
.popup-wrapper.onlyTxt
  .popup-body
  .popup-body-innerbox
  .txt-type03
  span.accent {
  color: #de3111;
}

.popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .txt-type03 a.accent {
  color: #de3111;
  text-decoration: underline;
}

/*popup attach */
.popup-body-innerbox .wrap-form.attach {
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.popup-con
  .wrap-form.attach
  .wrap-form-bottom.comment-type04
  ul
  li:first-child {
  margin: 0 0 15px;
}

.popup-body-innerbox
  .wrap-form.attach
  .wrap-form-bottom.comment-type04
  ul
  li:last-child {
  margin: 15px 0 0;
}

.popup-body-innerbox .wrap-form.attach .wrap-form-bottom.comment-type04 {
  margin-top: 0;
}
.popup-body-innerbox .wrap-form.attach .wrap-form-bottom.comment-type04 ul {
  margin-block-end: 0;
}

/* 이중 팝업 */
.popup-wrapper.modal {
  position: relative;
}
.popup-wrapper.confirm {
  position: absolute;
  background: #fff;
  display: flex;
  min-width: 500px;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.popup-wrapper.modal:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
}

.popup-wrapper.confirm .popup-body p.tit-type05 {
  margin-bottom: 20px;
}

.popup-wrapper.confirm .popup-body-innerbox ul {
  width: calc(100% - 40px);
  padding: 0;
  margin: 0 auto;
}
.popup-wrapper.confirm.modal .popup-body-innerbox ul li {
  margin-bottom: 10px;

  font-family: "Hyundai Sans Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.popup-wrapper.confirm .popup-body-innerbox ul.li-aparted {
  width: 100%;
  margin: 0 0 0 20px;
}

.popup-wrapper.confirm .popup-body-innerbox ul.li-aparted li {
  margin-bottom: 22px;
}

.popup-wrapper.confirm .popup-body-innerbox ul li {
  list-style: disc;
}
.popup-wrapper.confirm .popup-body-innerbox ul li::marker {
  margin: 0;
  padding: 0;
}

.popup-wrapper.confirm .popup-body-innerbox ul li p.tit-type05 {
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.popup-wrapper.confirm .popup-body-innerbox ul li p.tit-type05:last-child {
  margin: 0;
}

.popup-wrapper.confirm .popup-con:last-child {
  margin-bottom: 40px;
}

.popup-wrapper.confirm .popup-body-innerbox ul li p.tit-type05 span.accent {
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #de3111;
}

.popup-wrapper .popup-body-innerbox .wrap-checkmail {
  background: #f0f0f0;
  padding: 30px;
  margin: 8px 0 0;
  display: flex;
  justify-content: space-between;
}

/* profile area in popup */
.popup-wrapper .wrap-popup-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 8px;
  width: 100%;
}

.popup-wrapper .wrap-popup-profile .box-profile-img {
  width: 40px;
  height: 40px;
}

.popup-wrapper .wrap-popup-profile .box-profile-img img {
  width: 100%;
}

.popup-wrapper .wrap-popup-profile p.txt-type04 {
  font-weight: 700;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.popup-wrapper .wrap-popup-profile p.txt-type04.light {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.popup-wrapper .wrap-popup-profile .box-profile-txt {
  width: 100%;
}

.popup-wrapper .wrap-popup-profile .box-profile-txt div {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto 1fr;
}

/* popup reward */
.popup-wrapper.reward {
  position: relative;
}
.popup-wrapper.reward .popup-body {
  /* max-height: 500px; */
  overflow-y: auto;
  padding: 40px;
}
.popup-wrapper.reward .popup-body .wrap-label-reward {
  /* margin-top: 40px; */
  display: flex;
  gap: 16px 0;
  flex-direction: column;
}
.popup-wrapper.reward .popup-body .wrap-image-reward {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popup-wrapper.reward .popup-body .wrap-image-reward img {
  margin-top: 20px;
}
.popup-wrapper.reward .popup-body .wrap-image-reward .txt-type03 {
  font-weight: 500;
}
.popup-wrapper.reward .popup-body .wrap-image-reward .hashtags {
  display: flex;
  margin-bottom: 40px;
  gap: 0 12px;
  align-items: center;
}
.popup-wrapper.reward .popup-body .wrap-image-reward .wrap-date {
  margin-bottom: 40px;
}
.popup-wrapper .wrap-form.textarea {
  margin-top: 0;
}
.popup-wrapper .wrap-form.textarea p.title-comment {
  font-family: "Hyundai Sans Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 20px;
}
.popup-wrapper .wrap-comment {
  display: grid;
  gap: 20px;
  margin: 40px 0;
}
.popup-wrapper .wrap-comment:last-child {
  margin: 40px 0 0;
}
.popup-wrapper .wrap-comment .box-userinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-wrapper .wrap-comment .box-userinfo button.btn-only-icon-bg01-circle {
  width: 16px;
  height: 16px;
  margin-left: auto;
}

.popup-wrapper .wrap-comment .box-comment {
}

.popup-wrapper .wrap-comment .box-comment p {
  font-family: "Hyundai Sans Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.popup-wrapper .wrap-comment .box-date {
  display: flex;
  gap: 20px;
  align-items: end;
}
.popup-wrapper
  .wrap-comment
  .box-userinfo
  button.btn-only-icon-bg01-circle
  span.icon-close-wh {
  width: 100%;
}
.popup-wrapper.reward .popup-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.popup-wrapper.reward .popup-footer .box-result {
  padding: 14px 40px;
  background: #de3111;
  width: 100%;
}

.popup-wrapper.reward .popup-footer .box-result p {
  color: #fff;
}
.popup-wrapper.reward .popup-footer .box-result p.txt-type03:last-child {
  margin-top: 8px;
}

.popup-wrapper.reward .popup-footer .box-result .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.popup-wrapper.reward
  .popup-footer
  .box-result
  .bottom
  p.txt-type03:last-child {
  margin-top: 0;
  font-weight: 500;
}

.popup-wrapper.reward .popup-footer .box-confirm {
  padding: 24px 40px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
}

.popup-wrapper.reward .popup-footer .box-confirm .wrap-reaction-icon {
  display: flex;
  gap: 10px;
}

.popup-wrapper.reward .popup-footer .box-confirm .wrap-reaction-icon div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0 8px;
  cursor: pointer;
}
.popup-wrapper.reward
  .popup-footer
  .box-confirm
  .wrap-reaction-icon
  div:nth-child(1) {
  /* 시안에서 마진 간격 계산 안된 부분 추가 */
  margin-right: 10px;
}

.popup-wrapper p.popup-tit-lg {
  font-size: 24px;
  color: #000;
  font-family: "Hyundai Sans Head";
  font-weight: 700;
}
/* EP040401M01 (프로필 [02.N Community 가입 한 경우], [05. N Community 폐쇄 된 경우] > 레이어 나오도록 ) */
/* club-popup */
.card_type04 .card_profile {
  position: relative;
}
.card_profile .club-popup {
  position: absolute;
  background: #fff;
  width: calc(100% - 62px);
  z-index: 1001;
  top: 60px;
  left: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  display: none;
}
.card_profile.popup-wrapper {
  max-width: 100%;
}
.card_profile .popup-wrapper .popup-header.pop-profile_wrap {
  padding: 16px;
  justify-content: space-between;
  border-bottom: 0;
}
.card_profile .popup-wrapper .popup-header.pop-profile_wrap .pop-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card_profile .popup-wrapper .popup-header.pop-profile_wrap .pop-profile img {
  width: 40px;
  height: 40px;
}
.card_profile .pop-profile_club {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
}
.card_profile .popup-wrapper .popup-body {
  padding: 0;
  border-top: 0;
  display: block;
}
.card_profile .popup-wrapper .popup-body .pop-gray {
  padding: 24px 0 0 24px; /* tooltip 호버영역 잡기 위해 */
  display: flex;
  gap: 24px;
  background-color: #f0f0f0;
}
.card_profile .popup-wrapper .popup-body .pop-gray > div {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card_profile .popup-wrapper .popup-body .pop-gray dt {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
}
.card_profile .popup-wrapper .popup-body .pop-gray dd {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 24px; /* tooltip 호버영역 잡기 위해 */
}
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip_wrap dt {
  padding-right: 24px; /* tooltip 호버영역 잡기 위해 */
}
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip {
  padding-right: 24px; /* tooltip 호버영역 잡기 위해 */
  text-decoration: underline;
  cursor: pointer;
}
.card_profile .popup-body .pop-gray .tooltip:not(:hover) + .tooltip-box {
  display: none;
}
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip:hover + .tooltip-box,
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip:active + .tooltip-box,
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip:focus + .tooltip-box,
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip + .tooltip-box:hover {
  display: block !important;
  position: absolute;
  top: 37%;
  right: -36%;
  min-width: 240px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #f0f0f0;
  height: 260px;
  overflow-y: auto;
  padding: 15px;
}
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip-box li {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}
.card_profile .popup-wrapper .popup-body .pop-gray .tooltip-box li > span {
  margin-left: 4px;
  margin-bottom: 0;
}
.card_profile .popup-wrapper .popup-body .pop-des {
  padding: 20px 16px;
}
.card_profile .popup-wrapper .popup-body .pop-des p {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
}
.card_profile .popup-wrapper .popup-body .btn-wrap {
  padding: 0 16px;
  margin-bottom: 26px;
}
.card_profile .popup-wrapper .popup-footer {
  border-top: 0;
  padding: 16px 0;
}
.card_profile .popup-wrapper .popup-footer .btn:not(.pop-close) {
  order: 1;
}
.card_profile .popup-wrapper .popup-footer .btn.pop-close {
  order: 0;
}
/* 모바일 */
@media screen and (max-width: 1023px) {
  /* Experience  common */
  .content-top {
    padding: 153px 24px;
  }
  .content-top p:last-child {
    font-size: 20px;
    line-height: 28px;
  }
  .title-w1440 {
    max-width: 100%;
    padding-bottom: 28px;
  }
  .pc-only {
    display: none;
  }
  .mo-only {
    display: block;
  }
  .grid_masonry + .btn-wrap-default,
  .grid_masonry + .btn-wrap-default {
    margin-top: 44px;
  }
  .title_flex {
    flex-direction: column;
    row-gap: 1.75rem;
  }
  .title_flex.tilte_padding {
    padding: 0 1.5rem;
  }
  .title_flex.gap8 {
    row-gap: 0.5rem;
  }
  .sort_flex {
    flex-direction: column;
    row-gap: 1.25rem;
    margin-bottom: 2.75rem;
  }

  /* EP040401 */
  .ranking-wrap .ranking-center .tab-head {
    max-width: 100%;
    padding: 80px 24px 0;
  }
  .ranking-wrap .ranking-center .tabs-wrap .tabs {
    margin-top: 0;
  }
  .ranking-wrap .tab-graycont {
    max-width: 100%;
    padding: 0 24px;
    margin-top: 104px;
  }
  .ranking-wrap .tab-whitecont {
    background-color: #fff;
    padding: 44px 24px 160px;
  }
  .ranking-wrap .ranking-center .tab-container .ranking-tabcont {
    position: static;
    text-align: center;
  }
  .ranking-wrap .ranking-center .ranking-tabcont + ul {
    padding: 36px 0 80px;
  }
  .ranking-wrap .ranking-center .ranking-inner2:not(:first-child)::after {
    display: none;
  }
  .ranking-wrap .ranking-center .ranking-inner2box {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .ranking-wrap .ranking-center .ranking-inner2box.community-box {
    gap: 8px;
  }
  .ranking-wrap .ranking-center .ranking-inner2.community-profile {
    gap: 4px;
  }
  .ranking-wrap .ranking-center .ranking-inner2 {
    font-size: 20px;
    line-height: 28px;
  }
  .ranking-wrap .tab-whitecont .btn-wrap-default {
    margin-top: 44px;
  }
  .ranking-wrap .content-item05.main-rank .tab-head {
    margin-top: 0;
  }
  .ranking-wrap .content-item05.main-rank .tabs-wrap .tabs {
    margin-top: 0;
  }
  .ranking-wrap .content-item05.main-rank .title-w1440 {
    padding-bottom: 28px;
  }
  /* EP040101 */
  .nflmain_wrap .mission-box {
    padding: 80px 24px 100px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-inner {
    background: url(../images/img/img_nfluencer_banner01_mo.png) center
      no-repeat;
    aspect-ratio: 312 / 400;
    max-width: 100%;
    background-size: 100%;
  }
  .nflmain_wrap .content-item03 .banner-box {
    padding: 0 24px;
    margin-bottom: 100px;
  }
  .nflmain_wrap .content-item03 .banner-inner {
    max-width: 100%;
  }
  .nflmain_wrap .content-item03 .banner-titbox {
    position: absolute;
    top: 32px;
    left: 24px;
    width: calc(100% - 48px);
  }
  .nflmain_wrap .content-item03 .banner-box > .banner-inner p + p {
    margin-top: 8px;
  }
  .nflmain_wrap .content-item03 .banner-box .btn-wrap {
    top: 185px;
    left: 24px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-tit {
    font-size: 24px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-des {
    font-size: 18px;
  }
  .nflmain_wrap .content-item04 .mission-box.white-box {
    padding: 0 24px 100px;
  }
  .nflmain_wrap .content-item05.main-rank {
    padding: 80px 24px 176px;
    position: relative;
  }
  .nflmain_wrap .content-item05.main-rank .tab-container {
    max-width: 100%;
  }
  .nflmain_wrap .content-item05.main-rank .tab-head {
    justify-content: flex-end;
    margin-top: 0;
    padding-bottom: 28px;
  }
  .nflmain_wrap .content-item05.main-rank .tab-head .tabs-wrap .tabs {
    margin-top: 0;
  }
  .nflmain_wrap .content-item05.main-rank .ranking-tabcont {
    display: block;
    margin-bottom: 0;
  }
  .nflmain_wrap .content-item05.main-rank .ranking-tabcont .btn-wrap {
    position: absolute;
    bottom: 108px;
    left: 50%;
    transform: translateX(-50%);
  }
  .nflmain_wrap .content-item05.main-rank .ty03Swiper {
    padding: 12px 0 48px;
  }
  .nflmain_wrap .content-item05.main-rank .ty03Swiper .swiper-slide {
    max-width: 100%;
  }
  .nflmain_wrap .content-item06 .rewards-box {
    padding: 80px 24px 160px;
  }
  .content-item06 .rewards-box .grid_masonry + .btn-wrap-default {
    margin-top: 44px;
  }
  /* EP040201, EP040301, EP040501 */
  .subfilter_wrap .content-item02 {
    padding: 80px 24px 160px;
  }
  .subfilter_wrap .content-item02 .dropdown.centered {
    max-width: 100%;
  }

  /* EP040601 */
  .subnotice_wrap .content-item01 {
    padding: 133px 0;
  }
  .subnotice_wrap .content-item02 {
    padding: 40px 24px 160px;
  }
  .subnotice_wrap .noti-topbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
  }
  .subnotice_wrap .noti-topbox .selectbox-wrap {
    width: 100%;
  }
  .subnotice_wrap .noti-topbox .search-container {
    flex: 1;
    width: 100%;
  }
  .subnotice_wrap .noti-topbox .search-wrap {
    max-width: 100%;
  }
  .subnotice_wrap .noti-listbox {
    max-width: 100%;
  }
  .subnotice_wrap .noti-listbox li {
    display: flex;
    flex-direction: column;
    padding: 29px 12px;
    align-items: flex-start;
    gap: 24px;
  }
  .subnotice_wrap .noti-listbox li button {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }

  /* EP010301 */
  .calender_box {
    padding: 5rem 1.5rem 10rem;
  }
  .calender_wrap {
    padding: 5rem 0;
  }

  /* EP010302 */
  .result_top {
    padding: 5rem 0;
  }
  .result_bottom {
    padding: 2.75rem 0rem 10rem;
  }
  .result_wrap .contitle-type01 {
    padding: 0 1.5rem;
    margin-bottom: 1.75rem;
  }
  .result_wrap .roundresult-wrap {
    padding: 0 1.5rem;
  }
  .result_wrap > .btn-wrap {
    display: none;
  }
  .detail_list {
    padding-top: 1.75rem;
    margin: 0 1.5rem;
  }
  .detail_list li {
    width: 100%;
  }
  .detail_list li::before {
    top: 0.56rem;
  }
  .detail_list li:nth-of-type(2n) {
    margin-left: 0;
  }
  .detail_list .btn {
    justify-content: space-between;
    width: 100%;
    padding-right: 0.62rem;
  }
  .detail_list .btn::after {
    width: calc(100% - 0.62rem) !important;
    left: auto !important;
    right: 0.62rem;
  }
  .detail_list .btn-icon20 {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  /* EP010303 */
  .issue_wrap {
    padding: 7.5rem 0 7.5rem;
  }
  .issue_wrap .tit-type04 {
    margin: 1rem auto 2.25rem;
    font-size: 1.125rem;
    width: calc(100% - 3rem);
    min-width: 0;
    max-width: 49.875rem;
  }
  .issue_wrap .txt-list-wrap {
    justify-content: start;
    margin: 0 auto;
    width: 100%;
    max-width: 52.875rem;
    padding: 1.5rem;
  }
  .issue_wrap .txt-list-wrap li {
    width: fit-content;
  }
  .info_wrap {
    padding: 5rem 0 6.25rem;
  }
  .info_wrap .contitle-type01 {
    margin: 0 0 1.75rem 1.5rem;
    text-align: left;
  }
  .standing_wrap {
    padding: 6.25rem 0 5.13rem;
  }
  .standing_wrap .title_flex {
    align-items: normal;
  }
  .standing_wrap .title_flex .selectbox-wrap {
    margin-bottom: 0;
  }
  .info_more {
    margin-top: 1.75rem;
    text-align: center;
  }
  .schedule_wrap {
    padding: 6.25rem 0 7.5rem;
  }
  .schedule_wrap .tab-head,
  .schedule_wrap .__bottom {
    padding: 0 1.5rem;
  }
  .guide_wrap {
    padding: 6.25rem 1.5rem;
  }
  .visit_wrap {
    padding: 6.25rem 1.5rem 10rem;
  }

  /* EP010401 */
  .standing_top {
    padding: 5rem 0;
  }
  .standing_bottom {
    padding: 2.75rem 1.5rem 10rem;
  }
  .standing_bottom .btn-wrap-default {
    margin-top: 2.75rem;
  }

  /* EP010501 */
  .drivers_box {
    padding: 5rem 1.5rem 10rem;
  }
  .drivers_box .grid_3 {
    margin-bottom: 2.75rem;
  }
  .search_result {
    padding: 4.75rem 0 0rem;
    font-size: 1.5rem;
    line-height: 140%;
  }

  /* EP010501P01 */
  .driver_top {
    background-image: url("../../../../inc/images/N_Festival/driver/bg_driver-1440x960.png");
    aspect-ratio: 360 / 240;
  }
  .driver_top img {
    width: 60.28%;
  }
  .driver_top .driver_num {
    right: 6.67%;
    bottom: 1rem;
    font-size: 2.5rem;
  }
  .driver_bottom {
    padding: 5rem 1.5rem 10rem;
  }
  .coment_wrap {
    padding-bottom: 2.25rem;
    text-align: left;
  }
  .coment_wrap .contitle-type01 {
    margin-bottom: 0.75rem;
    font-weight: 700;
  }
  .driver_coment {
    padding: 0;
    font-size: 1.25rem;
  }
  .driver_wrap {
    padding: 2.75rem 0;
  }
  .driver_wrap .seasonstats-box {
    margin-top: 1.75rem;
  }
  .driver_detail {
    display: block;
    height: 100%;
  }
  .driver_detail li {
    width: 100%;
    font-size: 1.0625rem;
  }
  .driver_detail li + li {
    margin-top: 1rem;
  }
  .driver_detail li p + p {
    margin-top: 0.37rem;
    font-size: 1.5rem;
  }
  .career_list {
    row-gap: 0.75rem;
    padding-top: 1.25rem;
  }
  .career_list li {
    width: 100%;
    font-size: 1.0625rem;
  }
  .career_list li::before {
    top: 0.56rem;
  }
  .career_list li:nth-of-type(2n) {
    margin-left: 0;
  }

  /* EP010601 */
  .drivers_box {
    padding: 5rem 1.5rem 10rem;
  }
  .drivers_box .grid_3 {
    margin-bottom: 2.75rem;
  }
  .search_result {
    padding: 4.75rem 0 0rem;
    font-size: 1.5rem;
    line-height: 140%;
  }

  /* EP010601P01 */
  .team_top {
    background-color: #f0f0f0;
    aspect-ratio: 360 / 240;
  }
  .team_top img {
    width: 60.28%;
  }
  .team_bottom {
    padding: 5rem 1.5rem 10rem;
  }
  .coment_wrap {
    padding-bottom: 2.25rem;
    text-align: left;
  }
  .coment_wrap .contitle-type01 {
    margin-bottom: 0.75rem;
    font-weight: 700;
  }
  .team_coment {
    padding: 0;
    font-size: 1.25rem;
  }
  .team_wrap {
    padding: 2.75rem 0;
  }
  .team_wrap .seasonstats-box {
    margin-top: 1.75rem;
  }
  .team_wrap .swiper-container {
    margin-top: 1.75rem;
  }
  .team_detail {
    display: block;
    height: 100%;
  }
  .team_detail li {
    width: 100%;
    font-size: 1.0625rem;
  }
  .team_detail li + li {
    margin-top: 1rem;
  }
  .team_detail li p + p {
    margin-top: 0.37rem;
    font-size: 1.5rem;
  }
  .career_list {
    row-gap: 0.75rem;
    padding-top: 1.25rem;
  }
  .career_list li {
    width: 100%;
    font-size: 1.0625rem;
  }
  .career_list li::before {
    top: 0.56rem;
  }
  .career_list li:nth-of-type(2n) {
    margin-left: 0;
  }

  /* EP010801 */
  .title_flex_sub {
    flex-direction: column;
    align-items: normal;
    gap: 1.25rem;
  }
  .featured_wrap {
    padding: 5rem 0;
  }
  .featured_wrap .title_flex {
    padding: 0 1.5rem;
  }
  .video_wrap {
    padding: 5rem 1.5rem 10rem;
  }
  .video_list:first-of-type {
    padding-bottom: 6.25rem;
  }
  .video_list:last-of-type {
    padding-top: 6.25rem;
  }
  .video_list .grid_2,
  .video_list .grid_3 {
    row-gap: 2.75rem;
  }

  /* EP010802 */
  .video_thumnail_wrap {
    color: #000;
  }
  .video_thumnail_wrap::after {
    content: "";
    display: block;
    width: 6rem;
    margin: 0 auto;
    border-bottom: 1px solid #595c5f;
  }
  .video_thumnail_wrap .img_pc {
    display: none;
  }
  .video_thumnail_wrap .img_mo {
    display: block;
  }
  .video_thumnail_wrap .video_tit {
    position: static;
    transform: translate(0, 0);
    margin: 2.5rem 0 1.25rem;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    line-height: 140%;
  }
  .video_thumnail_wrap .video_date {
    position: static;
    transform: translateX(0);
  }
  .video_thumnail_wrap .video_tag {
    position: static;
    transform: translateX(0);
    justify-content: center;
    gap: 1rem;
    margin: 2.25rem 0 2.5rem;
    padding: 0 2.87rem;
  }
  .video_detail_wrap {
    padding: 6.25rem 1.5rem 10rem;
  }
  .video_detail_wrap .card_video .card_title {
    padding: 0;
  }
  .video_detail_wrap .card_video .card_detail {
    padding: 0;
  }
  .video_detail_wrap .btn-wrap-default {
    margin-top: 2.25rem;
  }
  .video_detail_wrap .btn-wrap-default.sns_wrap {
    gap: 1.25rem;
    margin-top: 7.5rem;
  }
  .video_detail_wrap .lg-txt-btn01 {
    font-size: 1rem;
  }
  .related_wrap {
    padding: 5rem 0rem 7.5rem;
  }
  .related_wrap .related_tit {
    margin: 0 auto 2.25rem;
    padding: 0 1.5rem;
    font-size: 1.875rem;
  }
  .related_wrap .card_video .card_date {
    margin-top: 0.75rem;
  }

  /* popup temp */
  .popup-wrapper {
    margin: 0 auto;
    padding: 0;
  }
  .popup-wrapper .popup-header {
    /* padding: 32px 24px; */
    padding: 16px 24px;
  }
  .popup-wrapper button.btn-only-icon-notbg.pop-close.pop-page {
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
  }
  .popup-wrapper button.btn-only-icon-notbg.pop-close.pop-page span.icon-close {
    width: 100%;
  }
  .popup-wrapper .popup-body {
    padding: 40px 24px 60px;
    max-height: 696px;
    overflow-y: auto;
    display: grid;
    gap: 40px 0;
  }

  .popup-wrapper.onlyTxt .popup-body {
  }

  .popup-wrapper .popup-footer {
    padding: 18px 24px;
    bottom: 0%;
    position: fixed;
    width: 100%;
  }
  .popup-wrapper .popup-footer .btn-wrap {
    flex: 1;
  }
  .popup-wrapper .popup-footer .btn-wrap button[class*="btn-lg"] {
    padding: 17px 20px;
    align-self: stretch;
    font-size: 16px;
  }

  .popup-wrapper .popup-body-innerbox {
    margin: 0;
  }
  .popup-wrapper .popup-header h3 {
    font-size: 20px;
  }
  .popup-wrapper.invite {
    width: 100%;
    min-width: 100%;
  }
  .popup-wrapper.invite .popup-header {
    padding: 0;
    font-family: "Hyundai Sans Head";
    font-style: normal;
    font-weight: 700;
    height: auto;
  }
  .popup-wrapper.invite .popup-header p.tit-type05 {
    font-size: 18px;
  }
  .popup-wrapper.invite .popup-body .popup-body-innerbox p.txt-type02 {
    font-size: 17px;
  }
  .popup-wrapper.invite .popup-body .popup-body-innerbox .btn-wrap {
    flex-direction: column;
    width: 100%;
    gap: 8px 0;
    padding: 0;
  }
  .popup-wrapper.invite .popup-body .popup-body-innerbox .btn-wrap button {
    width: 100%;
    padding: 14px 27px;
    font-size: 1rem;
  }
  .popup-wrapper.invite .popup-footer .btn-wrap button {
    padding: 14px 24px;
    font-size: 1rem;
  }

  .popup-wrapper.onlyTxt .popup-body .popup-body-innerbox p.popup-tit-lg {
    font-size: 24px;
  }

  .popup-wrapper.onlyTxt .popup-body .popup-body-innerbox p.txt-type01,
  .popup-wrapper.onlyTxt .popup-body .popup-body-innerbox .tit-type03 {
    font-size: 18px;
  }

  .wrap-form.textarea .inner-textarea-comment button {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
  }
  .popup-body-innerbox .wrap-form.attach {
    flex-direction: column;
  }

  .popup-body-innerbox .wrap-form.attach .upload-btn {
    margin-bottom: 20px;
  }

  .popup-wrapper.confirm {
    width: 100%;
    min-width: 100%;
  }

  .popup-wrapper.confirm .popup-body {
    padding: 0 40px;
  }

  .popup-wrapper.confirm .popup-body-innerbox p.tit-type05 {
    font-size: 18px;
  }

  .popup-wrapper.confirm .popup-body-innerbox ul.li-aparted {
    width: calc(100% - 40px);
  }

  .popup-wrapper.confirm .popup-footer {
    padding: 0 40px 40px;
    border-top: 0;
  }

  .popup-wrapper.confirm .popup-footer .btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  /*reward mobile */
  .popup-wrapper.reward .popup-body {
    max-height: 696px;
  }

  .popup-wrapper.reward .popup-body .wrap-label-reward {
    gap: 24px 0;
  }
  .popup-wrapper.reward .popup-footer .box-result {
    padding: 14px 24px;
  }
  .popup-wrapper.reward .popup-footer .box-result p.popup-tit-lg {
    font-size: 18px;
  }

  .popup-wrapper.reward .popup-footer .box-confirm {
    flex-direction: column;
    width: 100%;
    padding: 16px 24px;
    gap: 20px;
  }

  .popup-wrapper.reward .popup-footer .box-confirm .wrap-reaction-icon {
    width: 100%;
  }

  .popup-wrapper.reward
    .popup-footer
    .box-confirm
    .wrap-reaction-icon
    div:nth-child(3) {
    margin-left: auto;
  }

  .popup-wrapper.reward .popup-footer .box-confirm button.btn {
    width: 100%;
  }

  .popup-wrapper.reward .popup-body .wrap-image-reward .wrap-date {
    margin-bottom: 44px;
  }
  /* EP040401M01 (프로필 [02.N Community 가입 한 경우], [05. N Community 폐쇄 된 경우] > 레이어 나오도록 ) */
  /* club-popup */
  .card_profile .club-popup {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1001;
    top: auto;
    bottom: 0;
    left: 0;
    border: 0;
    border-radius: 4px 4px 0 0;
    display: none;
  }
  .card_profile .popup-wrapper .popup-body .pop-gray {
    gap: 20px;
  }

  .card_profile .popup-wrapper .popup-body .pop-gray .tooltip:hover + .tooltip-box,
  .card_profile .popup-wrapper .popup-body .pop-gray .tooltip:active + .tooltip-box,
  .card_profile .popup-wrapper .popup-body .pop-gray .tooltip:focus + .tooltip-box,
  .card_profile .popup-wrapper .popup-body .pop-gray .tooltip + .tooltip-box:hover {
    position: absolute;
    top: 37%;
    right: 2%;
  }
  .card_profile .popup-wrapper .popup-body .pop-gray .tooltip-box li {
    font-size: 14px;
    line-height: 28px;
  }
  .card_profile .popup-wrapper .popup-body .btn-wrap {
    padding: 0 16px;
    margin-bottom: 26px;
  }
  .card_profile .popup-wrapper .popup-footer {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card_profile .popup-wrapper .popup-footer .btn-wrap {
    flex: 0 0 auto;
  }
  .card_profile .popup-wrapper .popup-footer .btn:not(.pop-close) {
    order: 1;
  }
  .card_profile .popup-wrapper .popup-footer .btn.pop-close {
    order: 0;
  }
}
