@charset "utf-8";
/* reset에서 hidden 되어있어서 */
body {
  overflow: auto;
}
/* Experience  common */
.content-top {
  padding: 140px 0;
  text-align: center;
  background: #fff;
}
.content-top p + p {
  margin-top: 16px;
}
.title-w1440 {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.mo-only {
  display: none;
}
.grid_masonry + .btn-wrap-default,
.grid_masonry + .btn-wrap-default {
  margin-top: 80px;
}
/* EP040401 */
.ranking-wrap {
  background: #f0f0f0;
}
.ranking-wrap .ranking-center .tab-head {
  justify-content: flex-end;
  padding: 120px 80px 0;
  max-width: 1600px;
  margin: 0 auto;
}
.ranking-wrap .ranking-center .tabs-wrap .tabs {
  position: relative;
  z-index: 1;
}
.ranking-wrap .tab-whitecont {
  background-color: #fff;
  padding: 80px 80px 240px;
}
.ranking-wrap .tab-graycont {
  position: relative;
  padding: 0 80px;
}
.ranking-wrap .tab-whitecont .btn-wrap-default {
  margin-top: 80px;
}
.ranking-wrap .ranking-center .tab-container .ranking-tabcont {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  margin-top: -62px;
}
.ranking-wrap .ranking-center .tab-content,
.nflmain_wrap .content-item05.main-rank .tab-content {
  margin: 0;
}
.ranking-wrap .ranking-center .ranking-tabcont + ul {
  padding: 130px 0 120px;
}
.ranking-wrap .ranking-center .ranking-inner2box {
  display: flex;
  gap: 33px;
  margin-top: 16px;
}
.ranking-wrap .ranking-center .ranking-inner2.community-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ranking-wrap .ranking-center .ranking-inner2.community-profile img {
  width: 32px;
  height: 32px;
}
.ranking-wrap .ranking-center .ranking-inner2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}
.ranking-wrap .ranking-center .ranking-inner2:not(:first-child) {
  position: relative;
}
.ranking-wrap .ranking-center .ranking-inner2:not(:first-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  background: #bbbb;
  display: inline-block;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.ranking-wrap .ranking-center .ranking-inner2 > span {
  color: #de3111;
}
/* EP040101 */
.nflmain_wrap .mission-box {
  background-color: #f0f0f0;
  padding: 120px 80px 160px;
}
.nflmain_wrap .content-item03 .banner-box .banner-inner {
  background: url(../images/img/img_nfluencer_banner01.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  aspect-ratio: 1440 / 400;
}
.nflmain_wrap .content-item03 .banner-box {
  padding: 0 80px;
  background: linear-gradient(#f0f0f0 50%, #fff 50%);
  margin-bottom: 160px;
}
.nflmain_wrap .content-item03 .banner-inner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.nflmain_wrap .content-item03 .banner-titbox {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 48.9736vw;
}
.nflmain_wrap .content-item03 .banner-box > .banner-inner p + p {
  margin-top: 12px;
}
.nflmain_wrap .content-item03 .banner-box > .banner-inner p {
  color: #fff;
}
.nflmain_wrap .content-item03 .banner-box .btn-wrap {
  position: absolute;
  bottom: 52px;
  left: 60px;
}
.nflmain_wrap .content-item04 .mission-box.white-box {
  background-color: #fff;
  padding: 0 80px 160px;
}
.nflmain_wrap .content-item05.main-rank {
  background: #f0f0f0;
  padding: 120px 80px 160px;
}
.nflmain_wrap .content-item05.main-rank .tab-container {
  max-width: 1440px;
  margin: 0 auto;
}
.nflmain_wrap .content-item05.main-rank .tab-head {
  justify-content: flex-end;
  margin-top: -100px;
  padding-bottom: 60px;
}
.nflmain_wrap .content-item05.main-rank .ranking-tabcont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}
.nflmain_wrap .content-item06 .rewards-box {
  padding: 160px 80px 240px;
}
.nflmain_wrap .content-item06 .rewards-box .grid_masonry {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
}
.nflmain_wrap .content-item06 .rewards-box .grid_masonry .masonry_item {
  width: calc(100% / 3 - 16px);
}
/* EP040201, EP040301, EP040501 */
.subfilter_wrap .content-item02 {
  background-color: #f0f0f0;
  padding: 120px 80px 240px;
}
.subfilter_wrap .grid_masonry {
  margin-top: 40px;
}
/* 모바일 */
@media screen and (max-width: 1023px) {
  /* Experience  common */
  .content-top {
    padding: 153px 24px;
  }
  .content-top p:last-child {
    font-size: 20px;
    line-height: 28px;
  }
  .title-w1440 {
    max-width: 100%;
    padding-bottom: 28px;
  }
  .mo-only {
    display: block;
  }
  .grid_masonry + .btn-wrap-default,
  .grid_masonry + .btn-wrap-default {
    margin-top: 44px;
  }
  /* EP040401 */
  .ranking-wrap .ranking-center .tab-head {
    max-width: 100%;
    padding: 80px 24px 0;
  }
  .ranking-wrap .ranking-center .tabs-wrap .tabs {
    margin-top: 0;
  }
  .ranking-wrap .tab-graycont {
    max-width: 100%;
    padding: 0 24px;
    margin-top: 104px;
  }
  .ranking-wrap .tab-whitecont {
    background-color: #fff;
    padding: 44px 24px 160px;
  }
  .ranking-wrap .ranking-center .tab-container .ranking-tabcont {
    position: static;
    text-align: center;
  }
  .ranking-wrap .ranking-center .ranking-tabcont + ul {
    padding: 36px 0 80px;
  }
  .ranking-wrap .ranking-center .ranking-inner2:not(:first-child)::after {
    display: none;
  }
  .ranking-wrap .ranking-center .ranking-inner2box {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .ranking-wrap .ranking-center .ranking-inner2box.community-box {
    gap: 8px;
  }
  .ranking-wrap .ranking-center .ranking-inner2.community-profile {
    gap: 4px;
  }
  .ranking-wrap .ranking-center .ranking-inner2 {
    font-size: 20px;
    line-height: 28px;
  }
  .ranking-wrap .tab-whitecont .btn-wrap-default {
    margin-top: 44px;
  }
  .ranking-wrap .content-item05.main-rank .tab-head {
    margin-top: 0;
  }
  .ranking-wrap .content-item05.main-rank .tabs-wrap .tabs {
    margin-top: 0;
  }
  .ranking-wrap .content-item05.main-rank .title-w1440 {
    padding-bottom: 28px;
  }
  /* EP040101 */
  .nflmain_wrap .mission-box {
    padding: 80px 24px 100px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-inner {
    background: url(../images/img/img_nfluencer_banner01_mo.png) center no-repeat;
    aspect-ratio: 312 / 400;
    max-width: 100%;
    background-size: 100%;
  }
  .nflmain_wrap .content-item03 .banner-box {
    padding: 0 24px;
    margin-bottom: 100px;
  }
  .nflmain_wrap .content-item03 .banner-inner {
    max-width: 100%;
  }
  .nflmain_wrap .content-item03 .banner-titbox {
    position: absolute;
    top: 32px;
    left: 24px;
    width: calc(100% - 48px);
  }
  .nflmain_wrap .content-item03 .banner-box > .banner-inner p + p {
    margin-top: 8px;
  }
  .nflmain_wrap .content-item03 .banner-box .btn-wrap {
    top: 185px;
    left: 24px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-tit {
    font-size: 24px;
  }
  .nflmain_wrap .content-item03 .banner-box .banner-des {
    font-size: 18px;
  }
  .nflmain_wrap .content-item04 .mission-box.white-box {
    padding: 0 24px 100px;
  }
  .nflmain_wrap .content-item05.main-rank {
    padding: 80px 24px 176px;
    position: relative;
  }
  .nflmain_wrap .content-item05.main-rank .tab-container {
    max-width: 100%;
  }
  .nflmain_wrap .content-item05.main-rank .tab-head {
    justify-content: flex-end;
    margin-top: 0;
    padding-bottom: 28px;
  }
  .nflmain_wrap .content-item05.main-rank .tab-head .tabs-wrap .tabs {
    margin-top: 0;
  }
  .nflmain_wrap .content-item05.main-rank .ranking-tabcont {
    display: block;
    margin-bottom: 0;
  }
  .nflmain_wrap .content-item05.main-rank .ranking-tabcont .btn-wrap {
    position: absolute;
    bottom: 108px;
    left: 50%;
    transform: translateX(-50%);
  }
  .nflmain_wrap .content-item05.main-rank .ty03Swiper {
    padding: 12px 0 48px;
  }
  .nflmain_wrap .content-item05.main-rank .ty03Swiper .swiper-slide {
    max-width: 100%;
  }
  .nflmain_wrap .content-item06 .rewards-box {
    padding: 80px 24px 160px;
  }
  .nflmain_wrap .content-item06 .rewards-box .grid_masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    column-gap: 0;
    max-width: 100%;
  }
  .nflmain_wrap .content-item06 .rewards-box .grid_masonry .masonry_item {
    width: 100%;
  }
  .content-item06 .rewards-box .grid_masonry + .btn-wrap-default {
    margin-top: 44px;
  }
  /* EP040201, EP040301, EP040501 */
  .subfilter_wrap .content-item02 {
    padding: 80px 24px 160px;
  }
}
