@charset "utf-8";

.mo-only {
  display: none;
}

.footer-wrap {
  padding: 5rem 5rem 6.25rem 5rem;
  background-color: #000;
  color: #fff;
}
.footer-area {
  margin: 0 auto;
  max-width: 90rem;
}
.footer-list-wrap {
  padding-bottom: 2.25rem;
  border-bottom: 1px solid #333;
}
.footer-link-wrap {
  padding: 2.25rem 0;
  border-bottom: 1px solid #333;
}
.footer-etc-wrap {
  position: relative;
  padding-top: 2.25rem;
}
.footer-copy {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}
.footer-list-tit {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.dropdown.inMobile .accor02-wrap .accor02-header.footer-list-tit.mo-only {
  display: none;
}
.footer-list .text-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
  padding-right: 24px;
  background: url(../images/icon/icon-link_footer.svg) no-repeat top 0 right 0;
}
.footer-link-tit {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  padding-right: 1rem;
}
.footer-link {
  display: flex;
  column-gap: 1rem;
}
.footer-link li a.icon-instagram-wh:hover {
  background: url(../../inc/images/icon/Icon-Instagram_white_hover.svg);
  background-size: contain;
}
.footer-link li a.icon-youtube-wh:hover {
  background: url(../../inc/images/icon/icon-youtube_white_hover.svg);
  background-size: contain;
}
.footer-link li a.icon-link-wh:hover {
  background: url(../../inc/images/icon/icon-link_white_hover.svg);
  background-size: contain;
}
.footer-etc {
  display: flex;
}
.footer-etc li {
  position: relative;
  padding: 0 0.75rem;
}
.footer-etc li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.0625rem;
  height: 0.625rem;
  background-color: #595c5f;
}
.footer-etc li:first-of-type {
  padding-left: 0;
}
.footer-etc li:first-of-type::before {
  content: none;
}
.footer-etc li:last-of-type {
  padding-right: 0;
}
.footer-etc li a {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.footer-etc li a:hover {
  text-decoration: underline;
}
.footer-top-btn {
  position: absolute;
  right: 0;
  top: 2.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .mo-only {
    display: block;
  }
  .footer-wrap {
    padding: 2.5rem 1.5rem 6.25rem 1.5rem;
  }
  .footer-list-wrap {
    padding-bottom: 0;
    border-bottom: none;
  }
  .footer-link-wrap {
    padding: 0;
    padding-top: 3.75rem;
    border-bottom: none;
  }
  .footer-copy {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .footer-list-tit {
    font-size: 1.0625rem;
  }
  .dropdown.inMobile .accor02-wrap .accor02-header.footer-list-tit.mo-only {
    display: flex;
    width: 100%;
    color: #fff;
  }
  .footer-list-area:first-of-type .footer-list-tit {
    padding-top: 0 !important;
  }
  .footer-list {
    padding: 0.75rem 0 1.75rem 0;
    border-bottom: 1px solid #333;
  }
  .footer-list li {
    margin: 0 !important;
    padding: 0 !important;
  }
  .footer-list li + li {
    margin-top: 1rem !important;
  }
  .footer-link-tit {
    margin-bottom: 1rem;
    padding-right: 40px;
  }
  .footer-link-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-etc {
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 14.5rem;
  }
  .footer-etc li {
    position: relative;
    padding: 0 0.75rem;
  }
  .footer-etc li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.0625rem;
    height: 0.625rem;
    background-color: #595c5f;
  }
  .footer-etc li:first-of-type::before,
  .footer-etc li:nth-of-type(3):before {
    content: none;
  }
  .footer-etc li:first-of-type,
  .footer-etc li:nth-of-type(3) {
    padding-left: 0;
  }
  .footer-etc li:last-of-type {
    padding-right: 0;
  }
  .footer-top-btn {
    top: auto;
    bottom: 0;
    column-gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
  }
  .footer-top-btn span {
    width: 1rem;
    height: 1rem;
  }
}
