/* mypage common */
.mypage-wrap .content-item01 {
  background-color: #aacae6;
  padding: 0 80px;
}
.mypage-wrap .mypage-top {
  padding: 78px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.mypage-wrap h4 {
  font-family: "Hyundai Sans Head";
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.mypage-wrap .mypage-profile {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 70px;
}
.mypage-wrap .mypage-profile > img {
  width: 120px;
  height: 120px;
  display: block;
}
.mypage-wrap .mypage-profile .mypage-name {
  font-family: "Hyundai Sans Head";
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.mypage-wrap .mypage-profile .mypage-club {
  font-family: "Hyundai Sans Text";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}
.mypage-wrap .mypage-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mypage-wrap .mypage-info > dl {
  display: flex;
  gap: 143px;
}
.mypage-wrap .mypage-info > dl > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 200px;
}
.mypage-wrap .mypage-info > dl > div:first-child {
  position: relative;
}
.mypage-wrap .mypage-info > dl > div:first-child::after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 94px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  right: -71.5px;
}
.mypage-wrap .mypage-info dt {
  font-family: "Hyundai Sans Text";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.mypage-wrap .mypage-info dd {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
}
.mypage-wrap .content-item02 {
  display: flex;
  gap: 146px;
  max-width: 1440px;
  margin: 120px auto 240px;
}
.mypage-wrap .mypage-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 342px;
  padding-bottom: 24px;
}
.mypage-wrap .mypage-nav > ul li {
  padding: 16px 8px;
  border-bottom: 1px solid #d9d9d9;
}
.mypage-wrap .mypage-nav > ul li a {
  width: 100%;
  justify-content: space-between;
}
.mypage-wrap .mypage-nav .btn:hover::after,
.mypage-wrap .mypage-nav .btn:active::after {
  display: none !important;
}
.mypage-wrap .mypage-nav .btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mypage-wrap .mypage-content {
  flex: 0 0 calc(100% - 488px);
}
/* 모바일 */
@media screen and (max-width: 1023px) {
  .mypage-wrap .content-item01 {
    padding: 24px;
  }
  .mypage-wrap .mypage-top {
    padding: 0;
    max-width: 100%;
  }
  .mypage-wrap .mypage-profile {
    gap: 20px;
    margin-bottom: 20px;
  }
  .mypage-wrap .mypage-profile > img {
    width: 110px;
    height: 110px;
  }
  .mypage-wrap .mypage-profile .mypage-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
  }
  .mypage-wrap .mypage-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
  .mypage-wrap .mypage-info > dl {
    gap: 49px;
  }
  .mypage-wrap .mypage-info > dl > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: auto;
  }
  .mypage-wrap .mypage-info > dl > div:first-child {
    position: relative;
  }
  .mypage-wrap .mypage-info > dl > div:first-child::after {
    height: 98px;
    right: -24.5px;
  }
  .mypage-wrap .mypage-info dt {
    font-size: 17px;
    line-height: 23.8px;
  }
  .mypage-wrap .mypage-info dd {
    font-size: 24px;
    line-height: 33.6px;
  }
  .mypage-wrap .content-item02 {
    display: flex;
    gap: 0;
    max-width: 100%;
    margin: 34px 0 160px;
    padding: 0 24px;
  }
  .mypage-wrap .mypage-nav {
    display: none;
    /* flex-direction: column;
    gap: 24px;
    width: 342px; */
  }
  .mypage-wrap .mypage-nav > ul li {
    padding: 16px 8px;
    border-bottom: 1px solid #d9d9d9;
  }

  .mypage-wrap .mypage-nav > ul li button {
    width: 100%;
    justify-content: space-between;
  }
  .mypage-wrap .mypage-nav .btn:hover::after,
  .mypage-wrap .mypage-nav .btn:active::after {
    display: none !important;
  }
  .mypage-wrap .mypage-nav .btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mypage-wrap .mypage-content {
    flex: 1;
  }
}
