/* mypage common */
.mypage-wrap {
  font-family: "Hyundai Sans Text";
}
.mypage-wrap .content-item01 {
  background-color: #aacae6;
  padding: 0 80px;
}
.mypage-wrap .mypage-top {
  padding: 78px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.mypage-wrap h4 {
  font-family: "Hyundai Sans Head";
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  padding-bottom: 24px;
}
.mypage-wrap h5 {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.mypage-wrap .mypage-profile {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 70px;
}
.mypage-wrap .mypage-profile > img {
  width: 120px;
  height: 120px;
  display: block;
}
.mypage-wrap .mypage-profile .mypage-name {
  font-family: "Hyundai Sans Head";
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}
.mypage-wrap .mypage-profile .mypage-club {
  font-family: "Hyundai Sans Text";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}
.mypage-wrap .mypage-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mypage-wrap .mypage-info > dl {
  display: flex;
  gap: 143px;
}
.mypage-wrap .mypage-info > dl > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 200px;
}
.mypage-wrap .mypage-info > dl > div:first-child {
  position: relative;
}
.mypage-wrap .mypage-info > dl > div:first-child::after {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 94px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  right: -71.5px;
}
.mypage-wrap .mypage-info dt {
  font-family: "Hyundai Sans Text";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.mypage-wrap .mypage-info dd {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
}
.mypage-wrap .content-item02 {
  padding: 0 80px;
}
.mypage-box {
  display: flex;
  /* gap: 7.6042vw; */
  gap: 146px;
  max-width: 1440px;
  margin: 120px auto 240px;
}
.mypage-wrap .mypage-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 342px;
  /* width: 17.8125vw; */
  padding-bottom: 24px;
}
.mypage-wrap .mypage-nav > ul li {
  padding: 16px 8px;
  border-bottom: 1px solid #d9d9d9;
}
.mypage-wrap .mypage-nav > ul li a {
  width: 100%;
  justify-content: space-between;
}
.mypage-wrap .mypage-nav .btn:hover::after,
.mypage-wrap .mypage-nav .btn:active::after {
  display: none !important;
}
.mypage-wrap .mypage-nav .btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mypage-wrap .mypage-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  flex: 0 0 calc(100% - 488px);
  /* flex: 0 0 calc(100% - 25.4167vw); */
}
.mypage-wrap .mypage-content.type2 {
  gap: 40px;
}
.mypage-wrap .mypage-content .move-wrap {
  margin-top: 16px;
  text-align: end;
}
/* 로그인 팝업 */
.bottom-popup:has(.logout_popup_wrap) {
  padding: 2.5rem;
  width: fit-content;
  min-width: 25rem;
  border-radius: 0.25rem;
}
.logout_popup_wrap .logout_popup_text {
  margin-bottom: 6.63rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.logout_popup_wrap .logout_popup_text span {
  color: #de3111;
}
.logout_popup_wrap .btn-wrap-type2,
.logout_popup_wrap .btn-wrap-type3 {
  gap: 0.625rem;
}

/* 회원가입 공통 */
.pc-only {
  display: block;
}
.mo-only {
  display: none;
}

.content-top {
  padding: 140px 0;
  text-align: center;
  background: #fff;
}
.content-top p + p {
  margin-top: 16px;
}
.join_con1_subtit {
  font-family: "Hyundai Sans Head";
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}
.join_wrap {
  margin: 0 auto;
  padding: 0 5rem 15rem;
  max-width: 60rem;
}
.join_wrap .join_step {
  margin: 0 auto;
  width: 5.25rem;
}
.join_wrap .join_tit {
  margin: 0.75rem 0 3.75rem;
  font-family: "Hyundai Sans Head";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
}
.join_form_wrap {
  width: 100%;
  border-top: 1px solid #595c5f;
}
.join_wrap .btn-wrap-default {
  margin-top: 3.75rem;
}
.join_form {
  padding: 2.5rem 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.join_text_tit {
  font-family: "Hyundai Sans Head";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.join_text_sub {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.join_form .wrap-form input[type="text"] {
  margin-top: 0.75rem;
}
.join_form_wrap .btn.disabled {
  background-color: #e6e6e6;
  color: #a1a1a1;
}

/* CM050101 */
.join_form_wrap .join_form:has(.join_form_checkbox) {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.join_form_wrap.wrap-form.label-tit-type02 label.required span:after {
  content: "*";
  right: unset;
}
.join_form_checkbox {
  position: relative;
}
.join_form_checkbox label {
  display: flex;
  gap: 0.75rem;
}
.join_form_checkbox input + label::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url(../images/icon/icon-checkbox.svg);
}
.join_form_checkbox input:checked + label::before {
  background-image: url(../images/icon/icon-checkbox-checked.svg);
}
.join_form_wrap .join_form_checkbox + p {
  margin-left: 2.75rem;
  font-family: "Hyundai Sans Text";
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.join_form_sub {
  padding: 1rem;
  width: calc(100% - 2.75rem);
  max-width: 57.3rem;
  border: 1px solid #000;
  color: #777;
}

/* CM050102 */
.join_form_wrap.wrap-form .wrap-form-bottom.comment-type03 ul {
  margin-bottom: 0;
}
.join_form_wrap.wrap-form .wrap-form-bottom.comment-type03 ul li span.hashtag {
  text-decoration: none;
}
.join_form .wrap-form.text + p {
  font-weight: 400;
  line-height: 140%;
}
.join_form .text-num-chk {
  margin-top: 0.63rem;
  text-align: right;
}
.join_form .wrap-form-bottom {
  margin-top: 0.313rem;
}

/* CM050104 */
.join_complete_tit {
  font-family: "Hyundai Sans Head";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
}
.join_complete_text {
  margin-top: 3.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}
.join_complete_text span {
  font-weight: 700;
}

/* CM040101 */
.mynotice-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mynotice-wrap .mynotice-box {
  background-color: #f0f0f0;
  padding: 29px 20px;
  border-radius: 4px;
  position: relative;
}
.mynotice-wrap .mynotice-box.unread-box {
  background-color: #aacae6;
}
.mynotice-wrap .mynotice-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  margin-bottom: 8px;
}
.mynotice-wrap .mynotice-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  font-family: "Hyundai Sans Text";
  text-align: left;
  width: auto;
}
.mynotice-wrap .mynotice-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}
.mynotice-wrap .mynotice-btm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.mynotice-wrap .mynotice-btm .btn {
  font-weight: 400 !important;
}
.mynotice-wrap .mynotice-btm .btn .icon-check {
  margin-right: 4px;
}
.mynotice-wrap .mynotice-btm .mynotice-read {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
.mynotice-wrap .mynotice-box .btn-only-icon-notbg .icon-close {
  position: absolute;
  top: 29px;
  right: 20px;
}
.mypost-wrap {
  display: flex;
  column-gap: 12px;
}
.mypost-wrap .mypost-box {
  width: 20%;
  background-color: #aacae6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
  height: 170px;
}
.mypost-wrap .mypost-box.width3 {
  width: calc(100% / 3);
}
.mypost-wrap .mypost-box.width4 {
  width: calc(100% / 4);
}
.mypost-wrap .mypost-box a,
.mypost-wrap .mypost-box button,
.mypost-wrap .mypost-box p:first-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
}
.mypost-wrap .mypost-box p:last-child {
  font-family: "Hyundai Sans Head";
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: end;
}
.mymsission-wrap {
  border-top: 1px solid #787d80;
}
.mymsission-wrap li {
  padding: 29px 0 28px;
  border-bottom: 1px solid #bbb;
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.tab-container.mycommunity-wrap .tab-head h4 {
  padding-bottom: 0;
}
.tab-container.mycommunity-wrap .tab-head {
  padding-bottom: 24px;
}
.tab-container.mypoint-tabwrap .tab-head {
  border-bottom: 2px solid #787d80;
}
.tab-container.mypoint-tabwrap .mypost-contents.type3 {
  margin-top: 80px;
}
.tab-container.mycommunity-wrap .tab-content {
  margin-top: 0;
}
.mymsission-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  width: 128px;
  padding-left: 12px;
}
.mymsission-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  width: auto;
  text-align: left;
  word-break: break-all;
}
.mymsission-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}
.mymsission-status,
.mypoint-minus,
.mypoint-plus {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  width: auto;
  padding-right: 12px;
  text-align: end;
  color: #777777;
}
.mypoint-plus {
  color: #de3111;
}
.mymsission-flag {
  /* 디자인 없어서 임의로 함 */
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  padding-right: 12px;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  padding: 4px 12px;
  text-align: center;
  margin-right: 12px;
  width: fit-content;
}
.mymsission-flag.gray-flag {
  background-color: #777; /* 디자인 없어서 임의로 함 */
}
.mymsission-wrap .btn-wrap-type2 {
  margin-right: 12px;
}
.mymsission-col {
  display: flex;
  flex-direction: column;
  /* flex: 0 0 calc(100% - 352px); */
  flex: auto;
  align-items: flex-start;
  gap: 8px;
}
.mypage-nodata-box p,
.mypage-nodata-onlytext p {
  font-family: "Hyundai Sans Head";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.mypage-nodata-onlytext h4 {
  text-align: left;
}
.mypage-nodata-onlytext p {
  padding: 106px 0;
}
.mypage-eachbox-top + .mypage-nodata-onlytext p {
  padding-top: 66px;
}
.mypage-nodata-box {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.mypage-nodata-box .color-red {
  color: #de3111;
}
.mypage-nodata-box .btn-wrap {
  display: flex;
  gap: 8px;
}
/* CM040201 */
.mypage-content > div > h5 {
  padding-bottom: 24px;
}
.mypage-eachbox-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #787d80;
}
.mypage-eachbox-top.type2 {
  display: block;
  border-bottom: 0;
}
.mypage-eachbox-top.type2 h4 {
  border-bottom: 2px solid #787d80;
  padding-bottom: 24px;
  margin-bottom: 40px;
}
.mypage-subtit-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.mypost-wrap + .mypost-contents {
  margin-top: 40px;
}
/* CM040601 */
.mypage-wrap .point-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.mypage-wrap .point-total p {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

/* CM040802 */
.mypage-inquiry-wrap .mypage-inquiry-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #bbbbbb;
}
.mypage-inquiry-wrap .mypage-inquiry-tit {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}
.mypage-inquiry-wrap .mypage-inquiry-date {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
}
.mypage-inquiry-wrap .mypage-inquiry-state {
  padding-right: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  color: #777777;
}
.mypage-inquiry-wrap .mypage-inquiry-answer {
  padding: 2.5rem;
  background-color: #f0f0f0;
}
.mypage-inquiry-wrap .mypage-inquiry-qna {
  margin-bottom: 1.25rem;
  font-family: "Hyundai Sans Head";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.mypage-inquiry-wrap .mypage-inquiry-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.mypage-inquiry-wrap .mypage-inquiry-area {
  padding: 2.5rem;
  border-bottom: 1px solid #000;
}
.mypage-inquiry-wrap .mypage-inquiry-btn {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

/* CM041001 */
.mypage-withdrawal-tit {
  font-family: "Hyundai Sans Head";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 125%;
}
.mypage-withdrawal-subtit {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.mypage-withdrawal-list {
  margin-top: 2rem;
}
.mypage-withdrawal-list li + li {
  margin-top: 2rem;
}
.mypage-withdrawal-li-tit {
  position: relative;
  padding-left: 1.88rem;
  font-family: "Hyundai Sans Head";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.mypage-withdrawal-li-tit::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0.688rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #000;
  border-radius: 100rem;
}
.mypage-withdrawal-li-text {
  margin-top: 0.5rem;
  padding-left: 1.88rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.mypage-withdrawal-table {
  position: relative;
  margin-top: 2rem;
  border-top: 2px solid #787d80;
}
.mypage-withdrawal-table thead {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.mypage-withdrawal-table tbody tr {
  border-bottom: 1px solid #bbbbbb;
}
.mypage-withdrawal-table tbody tr th,
td {
  padding: 1.81rem 0.75rem;
}
.mypage-withdrawal-table tbody tr th {
  font-family: "Hyundai Sans Head";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.mypage-withdrawal-table tbody tr td {
  padding-left: 2.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
.mypage-withdrawal-checkbox-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #000;
  font-family: "Hyundai Sans Head";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}
.mypage-withdrawal-checkbox {
  position: relative;
}
.mypage-withdrawal-checkbox label {
  display: flex;
  gap: 0.5rem;
}
.mypage-withdrawal-checkbox input + label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  padding-top: 0.12rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/icon/icon-checkbox.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.mypage-withdrawal-checkbox input:checked + label::before {
  background-image: url(../images/icon/icon-checkbox-checked-black.svg);
}
.mypage-withdrawal-wrap .btn-wrap-default {
  margin-top: 1.5rem;
}

/* CM040701 */
.mypage-community-info {
  margin-top: -40px;
}
.mypage-community-info .info-black {
  background-color: #000;
}
.mypage-community-info .info-top {
  padding: 24px;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}
.mypage-community-info .community-name {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #fff;
}
.mypage-community-info .info-top img {
  width: 100px;
  height: 100px;
}
.mypage-community-info .info-btm > dl {
  display: flex;
}
.mypage-community-info .info-btm > dl > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px;
}
.mypage-community-info .info-btm > dl dt {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #fff;
}
.mypage-community-info .info-btm > dl dd {
  font-family: "Hyundai Sans Head";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
  color: #fff;
}
.mypage-community-des {
  padding: 24px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.mypage-community-des .des-toggle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  max-height: 44px;
  overflow: hidden;
}
.mypage-community-des .des-toggle.rotate {
  max-height: 100%;
  overflow: auto;
}
.mypage-community-des #ToggleDesBtn .icon-down.rotate {
  transform: rotate(180deg);
}
.mypage-community-tab {
  position: relative;
}
.mypage-community-tab .selectbox-wrap {
  position: absolute;
  top: 0;
  right: 0;
}
.mypage-wrap .mypage-content-nodata {
  font-family: "Hyundai Sans Head";
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 63.5px 0;
}
.mypage-mt40 {
  margin-top: 40px;
}
/* 모바일 */
@media screen and (max-width: 1023px) {
  .mypage-wrap h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 16px;
  }
  .mypage-wrap h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
  }
  .mypage-wrap .content-item01 {
    padding: 24px;
  }
  .mypage-wrap .mypage-top {
    padding: 0;
    max-width: 100%;
  }
  .mypage-wrap .mypage-profile {
    gap: 20px;
    margin-bottom: 20px;
  }
  .mypage-wrap .mypage-profile > img {
    width: 110px;
    height: 110px;
  }
  .mypage-wrap .mypage-profile .mypage-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
  }
  .mypage-wrap .mypage-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
  .mypage-wrap .mypage-info > dl {
    gap: 49px;
  }
  .mypage-wrap .mypage-info > dl > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: auto;
  }
  .mypage-wrap .mypage-info > dl > div:first-child {
    position: relative;
  }
  .mypage-wrap .mypage-info > dl > div:first-child::after {
    height: 98px;
    right: -24.5px;
  }
  .mypage-wrap .mypage-info dt {
    font-size: 17px;
    line-height: 23.8px;
  }
  .mypage-wrap .mypage-info dd {
    font-size: 24px;
    line-height: 33.6px;
  }
  .mypage-wrap .mypage-info .btn.md-txt-btn01 {
    width: fit-content;
  }
  .mypage-wrap .content-item02 {
    padding: 0;
  }
  .mypage-box {
    display: block;
    max-width: 100%;
    margin: 44px 0 160px;
    padding: 0;
  }
  .mypage-wrap .mypage-nav {
    width: 100%;
  }
  .mypage-wrap .mypage-nav > ul li {
    padding: 16px 24px;
    border-bottom: 1px solid #d9d9d9;
  }
  .mypage-wrap .mypage-nav > ul li button {
    width: 100%;
    justify-content: space-between;
  }
  .mypage-wrap .mypage-nav .btn:hover::after,
  .mypage-wrap .mypage-nav .btn:active::after {
    display: none !important;
  }
  .mypage-wrap .mypage-nav .btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mypage-wrap .mypage-content {
    padding: 0 24px;
    gap: 60px;
  }
  .mypage-wrap .mypage-content.type2 {
    gap: 28px;
  }
  .mypage-wrap .mypage-content.mypage-allbox {
    display: none !important;
  }
  .mypage-wrap .tab-head .tabs-wrap .tabs li a {
    width: auto;
  }
  .mypage-wrap .tab-head .tabs-wrap .tabs li {
    height: fit-content;
  }
  .tabs-wrap .tabs {
    margin-top: 0;
  }
  /* CM040101 */
  .mynotice-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mynotice-wrap .mynotice-box {
    padding: 24px 20px;
  }
  .mynotice-wrap .mynotice-title {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }
  .mynotice-wrap .mynotice-date {
    font-size: 14px;
    line-height: 19.6px;
  }
  .mynotice-wrap .mynotice-box .btn-only-icon-notbg .icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .mypost-wrap {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .mypost-wrap .mypost-box,
  .mypost-wrap .mypost-box.width3,
  .mypost-wrap .mypost-box.width4 {
    width: calc(50% - 6px);
    gap: 0;
    justify-content: space-between;
    height: 144px;
  }
  .mypost-wrap .mypost-box a {
    font-size: 14px;
    line-height: 19.6px;
  }
  .mypost-wrap .mypost-box p {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }
  .mymsission-wrap {
    border-top: 0;
  }
  .mymsission-wrap li {
    padding: 20px 0;
    border-bottom: 1px solid #bbb;
    width: 100%;
    display: block;
    text-align: left;
    position: relative;
  }
  .mymsission-wrap li:first-child {
    padding-top: 0;
  }
  .mymsission-type {
    font-size: 16px;
    line-height: 22.4px;
    width: 100%;
    padding-left: 0;
  }
  .mymsission-title {
    font-size: 20px;
    line-height: 28px;
    width: auto;
    text-align: left;
  }
  .mymsission-type + .mymsission-col .mymsission-title {
    margin-top: 8px;
  }
  .mymsission-date {
    margin-top: 8px;
  }
  .mymsission-status,
  .mypoint-minus,
  .mypoint-plus {
    position: absolute;
    width: auto;
    padding-right: 0;
    bottom: 20px;
    right: 0;
  }
  .mymsission-col {
    display: block;
  }
  .mymsission-status + .btn-wrap-type2 {
    margin-top: 20px;
  }
  /* 로그인 팝업 */
  .bottom-popup:has(.logout_popup_wrap) {
    padding: 2.5rem;
    width: 100%;
    min-width: 0;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .logout_popup_wrap .logout_popup_text {
    margin-bottom: 9.88rem;
  }
  .logout_popup_wrap:has(.btn-wrap-type2) .logout_popup_text {
    font-size: 1rem;
  }

  /* 회원가입 공통 */
  .pc-only {
    display: none;
  }
  .mo-only {
    display: block;
  }

  .content-top {
    padding: 153px 24px;
  }
  .content-top p:last-child {
    font-size: 20px;
    line-height: 28px;
  }
  .join_con1_subtit {
    font-size: 1.25rem;
  }
  .join_wrap {
    padding: 0 1.5rem 9.5rem;
  }
  .join_wrap .join_step {
    width: 4.5rem;
  }
  .join_wrap .join_tit {
    margin: 0.75rem 0 2.25rem;
    font-size: 1.875rem;
    line-height: 140%;
  }
  .join_wrap .btn-wrap-default {
    margin-top: 2.25rem;
  }
  .join_form {
    padding: 1.75rem 0;
  }
  .join_text_tit {
    font-size: 1.125rem;
  }

  /* CM050101 */
  .join_form_wrap .join_form:has(.join_form_checkbox) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  /* CM050102 */
  .join_form .wrap-form.text + p {
    font-weight: 400;
    line-height: 140%;
  }
  .join_form .text-num-chk {
    margin-top: 0.63rem;
  }
  .join_form .wrap-form-bottom {
    margin-top: 0.313rem;
  }

  /* CM050104 */
  .join_complete_tit {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .join_complete_text {
    margin-top: 2.25rem;
  }

  /* CM040201 */
  .mypage-wrap .mypage-nav-type2 {
    display: none !important;
  }
  .mypage-subtit-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mypage-subtit-box h5 {
    padding-bottom: 0;
  }
  .mypage-eachbox-top + .mypage-nodata-onlytext p {
    padding-top: 86px;
  }
  .mypage-nodata-box {
    gap: 20px;
  }
  .mypage-content.mypage-eachbox .mypage-eachbox-top + .mypage-nodata-box {
    padding: 4px 0 0;
  }
  .mypage-content.mypage-eachbox.type2 .mypage-eachbox-top + .mypage-nodata-box {
    padding: 12px 0 0;
  }
  .mypage-content.mypage-eachbox.type2 .mypage-eachbox-top + .inquiry-nodata {
    padding: 50.5px 0 10.5px;
  }
  .mypost-wrap + .mypost-contents.type2 {
    margin-top: 16px;
  }
  .mypage-subtit-box.type2,
  .mypage-subtit-box.type3 {
    gap: 8px;
    padding-bottom: 28px;
  }
  .mypost-wrap + .mypost-contents.type3 {
    margin-top: 32px;
  }

  /* CM040401 */
  .mypage-subtit-box + .mymsission-wrap {
    margin-top: 4px;
  }
  .btn-wrap-type1,
  .btn-wrap-type2 {
    width: 100%;
  }

  /* CM040601 */
  .mypage-wrap .point-total {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
  }
  .mypage-wrap .point-total p {
    font-size: 24px;
    line-height: 33.6px;
  }
  .tab-container.mypoint-tabwrap .tab-head {
    margin-bottom: 60px;
  }
  .tab-container.mypoint-tabwrap .tab-head h4 {
    padding-bottom: 0;
  }
  .tab-container.mypoint-tabwrap .mypost-contents.type3 {
    margin-top: 60px;
  }

  /* CM040802 */
  .mypage-inquiry-wrap .mypage-inquiry-top {
    align-items: end;
    padding-bottom: 1.31rem;
  }
  .mypage-inquiry-wrap .mypage-inquiry-tit {
    margin-bottom: 0.66rem;
    font-size: 1.25rem;
  }
  .mypage-inquiry-wrap .mypage-inquiry-state {
    padding-right: 0;
  }
  .mypage-inquiry-wrap .mypage-inquiry-answer {
    padding: 1.75rem;
  }
  .mypage-inquiry-wrap .mypage-inquiry-qna {
    margin-bottom: 0.5rem;
  }
  .mypage-inquiry-wrap .mypage-inquiry-area {
    padding: 1.25rem 1.75rem 1.75rem 1.75rem;
  }
  .mypage-inquiry-wrap .mypage-inquiry-btn {
    flex-wrap: wrap;
  }
  .mypage-inquiry-wrap .mypage-inquiry-btn button,
  a {
    width: calc(50% - 0.25rem);
  }
  .mypage-inquiry-wrap .mypage-inquiry-btn .mypage-inquiry-btn-full {
    width: 100%;
  }

  /* CM041001 */
  .mypage-withdrawal-tit {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .mypage-withdrawal-li-tit {
    padding-left: 0.75rem;
    font-size: 1.125rem;
  }
  .mypage-withdrawal-li-tit::before {
    left: 0;
    top: 0.56rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0;
  }
  .mypage-withdrawal-li-text {
    padding-left: 0.75rem;
  }
  .mypage-withdrawal-table tbody tr th {
    display: block;
    margin-bottom: 0.5rem;
    padding: 1.75rem 0.75rem 0;
    font-size: 1.125rem;
  }
  .mypage-withdrawal-table tbody tr td {
    display: block;
    padding: 0 0.75rem 1.75rem;
    font-size: 1.0625rem;
  }
  .mypage-withdrawal-checkbox-wrap {
    font-size: 1.125rem;
  }
  .mypage-withdrawal-checkbox input + label::before {
    padding-top: 0;
  }

  /* CM040701 */
  .mypage-community-info .info-top a.btn-only-icon-bg02-circle {
    display: none;
  }
  .mypage-community-info .btn.md-txt-btn02 {
    width: fit-content;
  }
  .mypage-community-info {
    margin-top: -32px;
  }
  .mypage-community-info .info-top {
    padding: 20px 24px;
    gap: 12px 16px;
    flex-wrap: wrap;
  }
  .mypage-community-info .community-name {
    font-family: "Hyundai Sans Head";
    font-size: 24px;
    line-height: 33.6px;
    flex: 0 0 calc(100% - 80px);
  }
  .mypage-community-info .info-top img {
    width: 64px;
    height: 64px;
  }
  .mypage-community-info .info-btm > dl > div {
    gap: 16px;
    padding: 16px 24px;
  }
  .mypage-community-info .info-btm > dl dt {
    font-size: 17px;
    line-height: 23.88px;
  }
  .mypage-community-info .info-btm > dl dd {
    font-size: 24px;
    line-height: 33.6px;
  }
  .mypage-community-tab {
    position: relative;
  }
  .mypage-community-tab .selectbox-wrap {
    position: static;
  }
  .mypage-community-tab .mymsission-wrap {
    margin-top: 20px;
  }
  .mypage-mt40 .mymsission-wrap {
    border-top: 1px solid #787d80;
  }
  .mypage-mt40 .mymsission-wrap li:first-child {
    padding-top: 20px;
  }
}
