@charset "utf-8";

.wrap {
}
.wrap * {
}

.skip-navigation {
  width: 100%;
}
.skip-navigation a {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-weight: 600;
  position: absolute;
  top: -100px;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
}
.skip-navigation a:active,
.skip-navigation a:hover,
.skip-navigation a:focus {
  top: 0;
}

.header-wrap {
  width: 100%;
  overflow: hidden;
}
.header-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center just;
}
.header-cont .nav-btn {
  height: 70px;
  width: 70px;
  background: url(../images/icon/icon-menu_btn.svg) no-repeat center center;
  order: 1;
}
.header-cont .logo {
  order: 2;
  height: 70px;
}
.header-cont .logo a {
  display: flex;
  height: 70px;
  align-items: center;
}
.header-cont .utile-wrap {
  order: 3;
}
.header-cont .login-btn {
  height: 70px;
  width: 70px;
  background: url(../images/icon/icon-myinfo.svg) no-repeat center center;
}

.gnb__tab-btn-wrap {
  display: none;
}
.gnb__tab-cont-wrap {
  display: none;
}
.header__event-wrap {
  display: none;
}
