@charset "utf-8";
.models-wrap {
  font-family: "Hyundai Sans Text", "Hyundai Sans Text KR", sans-serif;
}

.models-wrap .ty02Swiper .swiper-status-wrap {
  position: unset;
  justify-content: center;
  transform: none;
}
.models-wrap .content-item03 {
  padding: 240px 80px 0 80px;
  margin-bottom: 240px;
}
.models-wrap .content-item02 video,
.models-wrap .content-item02 .video_poster {
  object-fit: cover;
  width: 100%;
  max-height: calc(var(--vh, 1vh) * 100 - 70px);
}

.models-wrap
  [class*="content-item"]
  [class*="max1440"]
  .btn-wrap:last-child
  .btn[class*="lg-txt-btn"],
.btn-wrap-default:last-child .btn[class*="lg-txt-btn"],
.brand .motor_tab .motor_tab_con .lg-txt-btn01 {
  padding: 12px 0;
}

.brand .motor_tab .motor_tab_con .lg-txt-btn01:hover::after,
.brand .motor_tab .motor_tab_con .lg-txt-btn01:active::after,
.btn-wrap-default:last-child .btn[class*="lg-txt-btn"]:hover::after,
.btn-wrap-default:last-child .btn[class*="lg-txt-btn"]:active::after,
.models-wrap
  [class*="content-item"]
  [class*="max1440"]
  .btn-wrap:last-child
  .btn[class*="lg-txt-btn"]:hover::after,
.models-wrap
  [class*="content-item"]
  [class*="max1440"]
  .btn-wrap:last-child
  .btn[class*="lg-txt-btn"]:active::after {
  width: 100%;
  height: 3px;
  background-color: #de3111;
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
}

.models-wrap [class*="max1440"] {
  margin: 0 auto;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.models-wrap.brand [class*="max1440"] {
  max-width: 1440px;
  /* padding: 0 80px; */
}

.models-wrap .max1440.type2 {
  gap: 200px;
}
.models-wrap .content-item02 {
  position: relative;
  text-align: center; /* 임시로 함 */
}
.models-wrap .content-item02 .btn-groups {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.models-wrap .content-item02 .btn-groups .btn:not(:last-child) {
  margin-right: 14px;
}
/* .models-wrap .content-item02 .btn.btn-only-icon-bg01-square {
  position: absolute;
  bottom: 20px;
  right: 20px;
} */
.models-wrap .content-item02 img.video_poster {
  position: absolute;
  top: 0;
  left: 0;
}

.models-wrap .blue-title {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  /* height: 40px; */
  background-color: #aacae6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6px 40px;
}
/* .models-wrap .blue-title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 15px;
  border-color: transparent transparent #aacae6 transparent;
  left: -30px;
  top: 0;
}
.models-wrap .blue-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 0;
  border-style: solid;
  border-width: 40px 15px 0 0;
  border-color: #aacae6 transparent #aacae6 transparent;
  right: -30px;
  top: 0;
} */
.models-wrap .text-strong {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 85px;
  word-break: keep-all;
}
.models-wrap .text-strong-xs {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}
.models-wrap .text-strong-md {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
}
.models-wrap .text-normal {
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  word-break: keep-all;
}
.models-wrap .text-normal-s {
  font-family: "Hyundai Sans Text", "Hyundai Sans Text KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.models-wrap .text-normal-xs {
  font-family: "Hyundai Sans Text", "Hyundai Sans Text KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  width: 100%;
}
.models-wrap .text-col {
  width: 100%;
}
.models-wrap .text-col .text-strong,
.models-wrap .text-col .text-normal {
  max-width: 1196px;
  width: 100%;
}
.models-nofull-box {
  width: 100%;
}
.models-wrap .models-nofull-box[class*="type-row"] .text-col .text-strong,
.models-wrap .models-nofull-box[class*="type-row"] .text-col .text-normal {
  max-width: 100%;
}
.models-wrap .models-nofull-box.type-col2 .text-col {
  max-width: 100%;
}
.models-wrap
  .models-nofull-box.type-col2
  .text-col
  .text-strong
  + .text-normal {
  margin-top: 0;
}
.models-wrap .text-col .text-strong:not(.txt-left),
.models-wrap .text-col .text-normal:not(.txt-left) {
  margin: auto;
}
.models-wrap .text-col .text-strong + .text-normal {
  margin-top: 20px;
}
.models-wrap .text-strong-md + .text-normal-xs {
  margin-top: 4px;
}
.models-wrap .text-col.txt-left .text-strong,
.models-wrap .text-col.txt-left .text-normal {
  margin: 0;
}

.models-wrap .text-col.txt-left .text-normal {
  margin-top: 20px;
}

.models-wrap .models-full {
  /* padding: 240px 80px 0 80px; */
  padding: 200px 80px 0 80px;
}
.models-wrap .perfor-wrap .models-full.icon20 {
  background: url(../../inc/images/Models/i20N/i20N_performance_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .perfor-wrap .models-full.icon30 {
  background: url(../../inc/images/Models/i30N/i30N_performance_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.icon30fast {
  background: url(../../inc/images/Models/i30NFastbackN/i30NFastbackN_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.ioniq5N_en1 {
  background: url(../../inc/images/Models/ioniq5N_en1/ioniq5N_en1_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.ioniq5N_ta {
  background: url(../../inc/images/Models/ioniq5N_ta/ioniq5N_ta_performance_bg.png)
    center top no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.rn_22e {
  background: url(../../inc/images/Models/RN_22e/RN_22e_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.rm20e {
  background: url(../../inc/images/Models/RM20e/RM20e_performance_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.rm19 {
  background: url(../../inc/images/Models/RM19/RM19_performance_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.project_rm {
  background: url(../../inc/images/Models/projectRM/projectRM_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.vision_gt {
  background: url(../../inc/images/Models/VisionGT/VisionGT_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.rn30 {
  background: url(../../inc/images/Models/RN30/RN30_performance_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.veloster_n {
  background: url(../../inc/images/Models/VELOSTER_N/VELOSTER_N_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.veloster_n_new {
  background: url(../../inc/images/Models/VELOSTER_N_new/VELOSTER_N_new_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.kona_n {
  background: url(../../inc/images/Models/kona_N/kona_N_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.ioniq5n {
  background: url(../../inc/images/Models/ioniq5N/ioniq5N_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.elantra_n {
  background: url(../../inc/images/Models/elantraN/elantraN_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.vision74 {
  background: url(../../inc/images/Models/NVision74/NVision74_performance_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1440px;
}
.models-wrap .perfor-wrap .models-full.ioniq5n,
.models-wrap .perfor-wrap .models-full.elantra_n,
.models-wrap .perfor-wrap .models-full.icon20,
.models-wrap .perfor-wrap .models-full.ioniq5N_ta,
.models-wrap .perfor-wrap .models-full.rm20e,
.models-wrap .perfor-wrap .models-full.vision_gt,
.models-wrap .perfor-wrap .models-full.rn30,
.models-wrap .perfor-wrap .models-full.kona_n {
  padding-bottom: 10.4vw;
}
.models-wrap .perfor-wrap .models-full .max1440 {
  height: 100%;
}
.models-wrap .models-full .text-strong,
.models-wrap .models-full .text-normal {
  color: #fff;
}
.models-wrap .spec-eachbox {
  flex-grow: 1;
  position: relative;
  min-width: 200px;
}
.models-wrap .spec-eachbox p {
  display: flex;
  height: 100%;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  color: #aacae6;
  justify-content: space-between;
}
/* .models-wrap .spec-eachbox p > span {
  line-height: 100%;
} */
.models-wrap .spec-eachbox p span:first-child > span {
  font-size: 56px;
  font-weight: 700;
  line-height: 50px;
}
.models-wrap .unit {
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.models-wrap .unit-des {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #fff;
  font-family: "Hyundai Sans Text", "Hyundai Sans Text KR", sans-serif;
}
.models-wrap .perfor-spec {
  display: flex;
  gap: 57px;
  justify-content: center;
  width: 100%;
  max-width: 1131px;
  margin-top: auto;
}
.models-wrap .spec-eachbox + .spec-eachbox::before {
  position: absolute;
  width: 1px;
  height: calc(100% - 10px);
  background-color: #595c5f;
  content: "";
  left: -28px;
  top: 8.5px;
}
.models-wrap .models-nofull {
  padding: 200px 80px 0 80px;
  margin-bottom: 240px;
}
.models-wrap .models-nofull.type2 {
  padding: 80px 80px 0 80px;
  margin-bottom: 240px;
}
.models-wrap .models-nofull.type3 {
  margin-bottom: 0;
}
.models-wrap .models-nofull.type4 {
  padding: 40px 80px 0 80px;
  margin-bottom: 240px;
}
.models-wrap .models-nofull .max1440 {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.models-wrap .overview-wrap .max1440,
.models-wrap .models-nofull .max1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* .models-wrap .models-nofull .max1440 > .text-col {
  width: 83%;
} */
.models-wrap .max1440.type2 .max1440-col {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.models-wrap .max1440 .row-img {
  display: flex;
}
.models-wrap .max1440 .row-img img {
  width: 50%;
}
.models-wrap .max1440 .max1440-poster {
  position: relative;
  height: 1440px;
}
.models-wrap .max1440 .max1440-poster .text-col {
  position: absolute;
  /* top: 10%; */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 100%;
  max-width: 1195px;
  /* padding: 0 74px; */
  padding: 200px 74px 0 74px;
}
.models-wrap .max1440 .max1440-poster img {
  height: 100%;
  object-fit: cover;
}
.fc-black {
  color: #000 !important;
}
.fc-black .text-col {
  color: #000 !important;
}
.models-wrap .models-nofull [class*="type-col"] {
  display: flex;
  flex-direction: column;
}
.models-wrap .models-nofull [class*="type-col"] > div + img,
.models-wrap .models-nofull [class*="type-col"] > img + div,
.models-wrap .models-nofull [class*="type-col"] > .models-cardbox {
  margin-top: 80px;
}
.models-wrap .models-nofull [class*="type-col"] > img + div.col-top28 {
  margin-top: 40px;
}
.models-wrap .models-nofull [class*="type-row"] {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.models-wrap .models-nofull .type-row > div,
.models-wrap .models-nofull .type-row > img {
  width: calc(50% - 20px);
}
.models-wrap .models-nofull .type-row80 > div,
.models-wrap .models-nofull .type-row80 > img {
  width: calc(50% - 40px);
}
.models-wrap .models-nofull .type-row80 {
  gap: 80px;
}
.models-wrap .models-nofull .type-row24 {
  gap: 24px;
}
.models-wrap .models-nofull .type-col2 > div {
  display: flex;
  justify-content: space-between;
}
.models-wrap .models-nofull .type-col2 > div p:first-child {
  width: 53%;
}
.models-wrap .models-nofull .type-col2 > div p:last-child {
  width: 47%;
}
.models-wrap .models-nofull .type-col3 > div + img {
  margin-top: 80px;
}
.models-wrap .models-nofull .type-col3 > div + img + div {
  margin-top: 40px;
}
.models-wrap .models-cardbox {
  display: flex;
  gap: 24px;
  /* flex-wrap: wrap; */
}
.models-wrap .models-cardbox + .btn-wrap,
.models-wrap .text-col + .btn-wrap {
  margin-top: 80px;
}
.models-cardbox-bigimg {
  /* margin-top: 80px; */
  max-width: 1440px;
}
.text-strong + .models-cardbox-bigimg,
.text-col + .models-cardbox-bigimg {
  margin-top: 80px;
}
.models-wrap .models-cardbox > div,
.models-wrap .models-cardbox .models-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(50% - 12px);
}
.models-wrap .models-cardbox > div p,
.models-wrap .models-cardbox .models-card p {
  padding: 0 16px;
}
.models-wrap .related-wrap .models-cardbox > div p,
.models-wrap .related-wrap .models-cardbox .models-card p {
  padding: 0;
}
.models-wrap .models-cardbox.w30 > div,
.models-wrap .models-cardbox.w30 .models-card {
  /* gap: 24px; */
  gap: 40px;
  flex: 0 0 calc(100% / 3 - 16px);
}
.models-wrap .models-cardbox .text-normal-xs {
  max-width: calc(1440px / 2 - 12px);
}

.models-wrap .models-cardbox > div img,
.models-wrap .models-cardbox .models-card img {
  /* height: 531px; */
}
.models-wrap .models-cardbox.w30 > div img,
.models-wrap .models-cardbox.w30 .models-card img {
  height: auto;
}
.models-wrap .models-cardbox.w30 + .btn-wrap {
  margin-top: 80px;
}
.models-wrap .text-strong + .models-cardbox,
.models-wrap .text-col + .models-cardbox {
  margin-top: 80px;
}
.models-wrap [class*="type-col"].type-col5 {
  margin-top: 80px;
}
.models-wrap [class*="type-col"].type-col5 > img + div {
  margin-top: 40px;
}
.models-wrap .type-col .row-img {
  margin-top: 80px;
}
.models-wrap img + .tech-des {
  margin-top: 40px;
}
.models-wrap .desgin-wrap .models-full.icon20 {
  background: url(../../inc/images/Models/i20N/i20N_desgin_bg.png) center bottom
    no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .tech-wrap .models-full.icon20 {
  background: url(../../inc/images/Models/i20N/i20N_technology_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1600px;
}
.models-wrap .desgin-wrap .models-full.icon30 {
  background: url(../../inc/images/Models/i30N/i30N_desgin_bg.png) center bottom
    no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.icon30fast {
  background: url(../../inc/images/Models/i30NFastbackN/i30NFastbackN_desgin_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.ioniq5N_en1 {
  background: url(../../inc/images/Models/ioniq5N_en1/ioniq5N_en1_desgin_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.rn_22e {
  background: url(../../inc/images/Models/RN_22e/RN_22e_desgin_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.ioniq5n_npx1 {
  background: url(../../inc/images/Models/ioniq5N_npx1/ioniq5N_npx1_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.rm20e {
  background: url(../../inc/images/Models/RM20e/RM20e_design_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.project_rm {
  background: url(../../inc/images/Models/projectRM/projectRM_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.vision_gt {
  background: url(../../inc/images/Models/VisionGT/VisionGT_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.rn30 {
  background: url(../../inc/images/Models/RN30/RN30_design_bg.png) center bottom
    no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.veloster_n {
  background: url(../../inc/images/Models/VELOSTER_N/VELOSTER_N_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.show_car {
  background: url(../../inc/images/Models/ShowCar/ShowCar_design_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.veloster_n_new {
  background: url(../../inc/images/Models/VELOSTER_N_new/VELOSTER_N_new_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.kona_n {
  background: url(../../inc/images/Models/kona_N/kona_N_design_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.ioniq5n {
  background: url(../../inc/images/Models/ioniq5N/ioniq5N_design_bg.png) center
    bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.elantra_n {
  background: url(../../inc/images/Models/elantraN/elantraN_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .desgin-wrap .models-full.vision74 {
  background: url(../../inc/images/Models/NVision74/NVision74_design_bg.png)
    center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 1920px;
}
.models-wrap .tech-wrap .kona-tech {
  background-color: #000;
  color: #fff;
  padding: 240px 80px;
}

.models-wrap .tech-wrap .kona-tech .max1440 {
  max-width: 1440px;
}
.models-wrap .tech-wrap .kona-tech .blue-title {
  color: #000;
}
.models-wrap .tech-wrap .kona-tech-box {
  display: flex;
  gap: 24px;
}
.models-wrap .tech-wrap .kona-tech-box > div {
  flex: 0 0 calc(50% - 12px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.models-wrap .tech-wrap .kona-tech-box > div > div {
  padding: 0 16px;
}
.models-wrap .tech-des {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}
.models-wrap .tech-des.type3 {
  gap: 24px;
}
.models-wrap .tech-des > div {
  flex: 0 0 calc(50% - 12px);
  padding: 0 16px;
}
.models-wrap .tech-des.type3 > div {
  flex: 0 0 calc(100% / 3 - 16px);
}
.models-wrap .tech-des > .num-desbox {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.models-wrap .tech-des.type2.tech-mt40 {
  margin-top: 40px;
}
.models-wrap .tech-des.type2 .perfor-num {
  color: #fff;
  font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  flex: 0 0 36px;
  height: 36px;
  background-color: #de3111;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
.models-wrap .tech-des .num-desbox .text-normal-xs {
  font-family: "Hyundai Sans Text", "Hyundai Sans Text KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22.4px;
  width: 100%;
}
.models-wrap .specification-wrap {
  background-color: #f0f0f0;
  padding: 240px 80px;
}
.models-wrap .specification-wrap dl {
  border-top: 1px solid #787d80;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: 864px;
  margin: 20px auto 0 auto;
}
.models-wrap .specification-wrap .specification-box {
  width: 100%;
}
.models-wrap .specification-wrap .specification-box > img {
  margin-top: 40px;
}
.models-wrap .specification-wrap dl dt,
.models-wrap .specification-wrap dl dd {
  border-bottom: 1px solid #bbbbbb;
  padding: 32px 0;
}
.models-wrap .specification-wrap dl dt {
  flex: 0 0 222px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.models-wrap .specification-wrap dl dd {
  flex: 0 0 calc(100% - 222px);
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  padding-right: 24px;
}
.models-wrap .specification-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  color: #666;
  text-align: left;
  max-width: 864px;
  margin: 20px auto 0 auto;
}
.models-wrap .specification-wrap .specification-box img {
  width: 952px;
  height: 714px;
  margin: 0 auto;
}
.models-wrap .specification-wrap .specification-box .tab-head {
  justify-content: center;
  margin-top: 40px;
}
.models-wrap .specification-wrap .specification-box .tab-head .tab2 li a {
  width: 304px;
}
.models-wrap .specification-wrap .specification-box .tab-head .tab3 li a {
  width: 154px;
}
/* 0726 추가 */
.models-wrap .specification-wrap .specification-box p.text-strong {
  margin-bottom: 40px;
}
.models-wrap .gallery-wrap {
  padding: 240px 0 0 0;
  margin-bottom: 240px;
}
.models-wrap .gallery-wrap .max1440 {
  padding: 0 80px 80px 80px;
}
.models-wrap .gallery-wrap .img-area {
  position: relative;
}
.models-wrap .gallery-wrap .img-area .lg-txt-btn02 {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.models-wrap .gallery-wrap .img-area .btn[class*="txt-btn"]:hover,
.models-wrap .gallery-wrap .img-area .btn[class*="txt-btn"]:active {
  position: absolute;
}
.models-wrap .gallery-wrap .img-area .icon-download-wh {
  margin-left: 12px;
}
.models-wrap .related-wrap {
  padding: 100px 80px 120px 80px;
  background-color: #f0f0f0;
}
.models-wrap .related-wrap .max1440 {
  align-items: flex-start;
  gap: 40px;
  max-width: 1440px;
}
.models-wrap .related-wrap .models-cardbox.w30 > div,
.models-wrap .related-wrap .models-cardbox.w30 .models-card {
  gap: 20px;
}
.models-wrap .related-wrap .models-cardbox.w30 .text-strong-md {
  padding: 0;
}
.models-wrap .kona-notice-wrap {
  padding: 160px 80px;
  background-color: #000;
  color: #fff;
}
.models-wrap .kona-notice-wrap .max1440 {
  max-width: 1440px;
  align-items: flex-start;
  gap: 20px;
}
.models-wrap .kona-notice-wrap ul {
  width: 83%;
  padding-left: 16px;
}
.models-wrap .kona-notice-wrap ul li {
  position: relative;
}
.models-wrap .kona-notice-wrap ul li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin-top: 15px;
  left: -16px;
}
.models-wrap .kona-notice-wrap ul li + li {
  margin-top: 20px;
}
.perfor-wrap .perfor-slide-box {
  position: relative;
  width: 100%;
  /* height: 100%; */
  max-width: 1440px;
}
.perfor-wrap .perfor-slide-box .perfor-slideimg-1 img {
  width: 100%;
}
.perfor-wrap .perfor-slide-box .perfor-imgmask {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.perfor-wrap .perfor-slide-box .perfor-slideimg-2 img {
  position: absolute;
  right: 0;
}
.perfor-wrap .perfor-slide-box .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-left: 4px solid #000000;
}
.perfor-wrap .perfor-slide-box .img-move-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.perfor-wrap .perfor-slide-box .img-move-btn button {
  position: absolute;
  bottom: 44.5%;
  width: 48px;
  height: 48px;
  margin-right: -24px;
  background: url(../../inc/images/icon/icon-btn-move.svg) no-repeat;
  background-size: 100%;
}
.model-mo-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0 80px;
}
.model-mo-full.middle {
  margin-top: -40px;
  margin-bottom: -200px;
  text-align: center;
}
.model-mo-full:last-child {
  margin-bottom: 240px;
}
.models-nofull + .model-mo-full {
  margin-top: -40px;
}
.models-full + .model-mo-full {
  margin-top: 200px;
}
.model-mo-full .text-col,
.model-mo-full img {
  margin: 0 auto;
  max-width: 1440px;
}
.model-mo-full .text-col,
.models-nofull .text-col {
  margin-top: 40px;
  padding: 0 16px;
}
.model-mo-full [class*="type-row"] .text-col,
.models-nofull [class*="type-row"] .text-col {
  margin-top: 0;
}

.models-nofull .img-wrap {
  margin-top: 80px;
}
.models-nofull .img-wrap + .btn-wrap {
  margin-top: 80px;
}
/* 제목 + kv모션 작업 영역 */
@keyframes modelSmooth {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modelSmooth2 {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.models-wrap .smooth-wrap .content-item01 {
  animation: modelSmooth 1.5s;
}
.models-wrap .smooth-wrap .content-item02 {
  animation: modelSmooth2 1.5s;
  transform: translateY(30%);
  animation-fill-mode: forwards;
}
@media screen and (max-width: 1023px) {
  .models-wrap .content-item02 video,
  .models-wrap .content-item02 img.video_poster,
  .models-wrap .content-item02 img.only-kvimg {
    height: 360px;
    object-fit: cover;
  }

  .models-wrap .content-item02 .btn-groups {
    bottom: 12px;
    right: 12px;
  }
  .models-wrap .content-item03 {
    padding: 152px 24px 0 24px;
    margin-bottom: 152px;
  }
  .models-wrap [class*="max1440"] {
    max-width: 100%;
    gap: 44px;
    width: 100%;
  }
  .models-wrap.brand [class*="max1440"] {
    /* padding: 0 24px; */
  }
  .models-wrap .max1440.type2 {
    gap: 120px;
  }
  .models-wrap .max1440.type2 .max1440 {
    gap: 44px;
  }
  .models-wrap .max1440 .row-img {
    flex-wrap: wrap;
  }
  .models-wrap .max1440 .row-img img {
    width: 100%;
  }
  .models-wrap .max1440 .max1440-poster {
    position: static;
    gap: 28px;
    height: auto;
  }
  .models-wrap .max1440 .max1440-poster .text-col {
    position: static;
    transform: translateX(0);
    color: #000;
    width: 100%;
    padding: 0;
  }
  .models-wrap .models-nofull-box {
    width: 100%;
    max-width: calc(100vw - 48px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .models-wrap .related-wrap .models-nofull-box {
    padding-left: 24px;
    max-width: 100vw;
  }
  .models-wrap
    .related-wrap
    .models-nofull-box
    .models-cardbox
    > div:last-child,
  .models-wrap
    .related-wrap
    .models-nofull-box
    .models-cardbox
    .models-card:last-child {
    padding-right: 24px;
  }
  .models-wrap .blue-title {
    font-size: 17px;
    line-height: 23.8px;
    height: 33px;
  }
  /*
  .models-wrap .blue-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 0;
    border-style: solid;
    border-width: 0 0 33px 12px;
    border-color: transparent transparent #aacae6 transparent;
    left: -24px;
    top: 0;
  }
  .models-wrap .blue-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 0;
    border-style: solid;
    border-width: 33px 12px 0 0;
    border-color: #aacae6 transparent #aacae6 transparent;
    right: -24px;
    top: 0;
  } */
  .models-wrap .text-strong {
    font-size: 36px;
    line-height: 45px;
  }
  .models-wrap .text-strong-md {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .models-wrap .text-strong-xs {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .models-wrap .text-normal {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
  }
  .models-wrap .text-normal-xs {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
  }
  .models-wrap .text-col .text-strong,
  .models-wrap .text-col .text-normal {
    width: 100%;
    max-width: 100%;
  }
  .models-wrap .text-col .text-strong:not(.txt-left),
  .models-wrap .text-col .text-normal:not(.txt-left) {
    text-align: center;
  }
  .models-wrap .models-full {
    /* padding: 152px 24px 0 24px; */
    padding: 120px 24px 0 24px;
  }
  .models-wrap .perfor-wrap p:not(.txt-left) {
    text-align: center;
  }
  .models-wrap .perfor-wrap .models-cardbox p.txt-left {
    text-align: left;
  }
  .models-wrap .spec-eachbox {
    min-width: 100%;
    position: static;
  }
  .models-wrap .spec-eachbox p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    line-height: 50px;
    text-align: start !important;
  }
  .models-wrap .spec-eachbox p span:first-child > span {
    font-size: 40px;
    line-height: 50px;
  }
  .models-wrap .spec-eachbox p > span:first-child {
    flex: 0 0 52%;
  }
  .models-wrap .unit {
    font-size: 20px;
    line-height: 28px;
    flex: 0 0 48%;
    text-align: left;
  }
  .models-wrap .perfor-spec {
    gap: 0;
    flex-direction: column;
    width: 100%;
  }
  .models-wrap .spec-eachbox + .spec-eachbox {
    padding-top: 32px;
    margin-top: 34px;
    border-top: 1px solid #595c5f;
  }
  .models-wrap .spec-eachbox + .spec-eachbox::before {
    display: none;
  }
  .models-wrap .text-col .text-strong + .text-normal,
  .models-wrap .text-strong + .text-normal {
    margin-top: 12px;
  }
  .models-wrap .text-col .text-strong + .text-normal-s,
  .models-wrap .text-strong + .text-normal-s {
    margin-top: 12px;
  }
  .models-wrap .models-nofull {
    /* padding: 152px 24px 0 24px; */
    padding: 120px 24px 0 24px;
    margin-bottom: 152px;
  }
  .models-wrap .models-nofull .max1440 {
    gap: 120px;
  }
  .models-wrap .models-full .max1440 > .text-col {
    width: 100%;
  }
  .models-wrap .models-nofull .type-col {
    gap: 44px;
  }
  .models-wrap .models-nofull .type-col2 {
    flex-direction: column-reverse;
    gap: 0;
  }
  .models-wrap .models-nofull .type-col2 > *:not(:last-child) {
    margin-top: 44px;
  }
  .models-wrap .models-nofull [class*="type-col"] > div + img,
  .models-wrap .models-nofull [class*="type-col"] > img + div,
  .models-wrap .models-nofull [class*="type-col"] > .models-cardbox {
    margin-top: 0;
  }
  .models-wrap .models-nofull [class*="type-col"] > img + div.text-col2 {
    margin-top: 28px;
  }
  .models-wrap .models-nofull [class*="type-col"] > img + div.col-top28 {
    margin-top: 28px;
  }
  .models-wrap .models-nofull .type-row {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    justify-content: center;
  }
  .models-wrap .models-nofull .type-row > *:not(:last-child) {
    margin-top: 44px;
  }
  .models-wrap .models-nofull [class*="type-row"] > div,
  .models-wrap .models-nofull [class*="type-row"] > img {
    width: 100%;
  }
  .models-wrap .models-nofull .type-row80 {
    display: flex;
    flex-direction: column;
    gap: 44px;
    justify-content: center;
  }
  .models-wrap .models-nofull .type-row24 {
    gap: 24px;
  }
  .models-wrap .models-nofull .type-col2 > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .models-wrap .models-nofull .type-col2 > img + div {
    margin-top: 0;
  }
  .models-wrap .models-nofull .type-col2 > div p:first-child,
  .models-wrap .models-nofull .type-col2 > div p:last-child {
    width: 100%;
  }
  .models-wrap .models-nofull .type-col3 p {
    text-align: left;
  }
  .models-wrap .models-nofull .type-col3 > div + img,
  .models-wrap .models-nofull .type-col3 > div + img + img.mo-only,
  .models-wrap .models-nofull .type-col3 > .text-col + .models-cardbox {
    margin-top: 44px;
  }
  .models-wrap .models-nofull .type-col3 > div + img + div {
    margin-top: 28px;
  }
  .models-wrap .text-col .text-strong-xs + .text-normal-xs {
    margin-top: 0;
  }
  .models-wrap .models-cardbox {
    display: flex;
    gap: 44px;
    flex-direction: column;
  }
  .models-wrap .models-cardbox + .btn-wrap,
  .models-wrap .text-col + .btn-wrap {
    margin-top: 44px;
  }
  .models-cardbox-bigimg {
    /* margin-top: 44px; */
  }
  .text-strong + .models-cardbox-bigimg,
  .text-col + .models-cardbox-bigimg {
    margin-top: 44px;
  }
  .models-wrap .models-cardbox > div,
  .models-wrap .models-cardbox .models-card {
    gap: 28px;
    flex: 1;
    width: 100%;
  }
  .models-wrap .models-cardbox > div p,
  .models-wrap .models-cardbox .models-card p {
    padding: 0;
  }
  .models-wrap .models-cardbox.w30 > div,
  .models-wrap .models-cardbox.w30 .models-card {
    gap: 44px;
    flex: 1;
  }
  .models-wrap .models-cardbox > div img,
  .models-wrap .models-cardbox .models-card img {
    height: fit-content;
  }
  .models-wrap .models-cardbox.w30 + .btn-wrap {
    margin-top: 44px;
  }
  .models-wrap .text-strong + .models-cardbox,
  .models-wrap .text-col + .models-cardbox {
    margin-top: 44px;
  }
  .models-wrap .desgin-wrap .models-cardbox.w30 > div,
  .models-wrap .desgin-wrap .models-cardbox.w30 .models-card {
    gap: 28px;
  }
  .models-wrap [class*="type-col"].type-col5 {
    margin: 44px 0;
  }
  .models-wrap [class*="type-col"].type-col5 > img + div {
    margin-top: 28px;
  }
  .models-wrap .type-col .row-img {
    margin-top: 0;
  }
  .models-wrap .models-nofull.type2 {
    padding: 44px 24px 0 24px;
    margin-bottom: 152px;
  }
  .models-wrap .models-nofull.type3 {
    padding: 120px 24px 0 24px;
    margin-bottom: 0;
  }
  .models-wrap .models-nofull.type4 {
    padding: 28px 24px 0 24px;
    margin-bottom: 152px;
  }
  .models-wrap .models-nofull.type5 {
    padding: 120px 24px 0 24px;
    margin-bottom: 152px;
  }
  .models-wrap .tech-wrap .kona-tech {
    padding: 152px 24px;
  }
  .models-wrap .tech-wrap .kona-tech-box {
    gap: 44px;
    flex-direction: column;
    max-width: 100%;
  }
  .models-wrap .tech-wrap .kona-tech-box > div {
    flex: 0 0 100%;
    gap: 28px;
  }
  .models-wrap .tech-wrap .kona-tech-box > div > div {
    padding: 0;
  }
  .models-wrap .tech-des,
  .models-wrap .tech-des.type2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .models-wrap .tech-des.type3 {
    gap: 0;
  }
  .models-wrap .tech-des > div {
    flex: 0 0 100%;
    padding: 0;
  }
  .models-wrap .tech-des.type3 > div {
    flex: 0 0 100%;
  }
  .models-wrap .tech-des.type2 .perfor-num {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    flex: 0 0 28px;
    height: 28px;
    margin-top: 0;
  }
  .models-wrap .tech-des > div + div {
    padding-top: 28px;
    margin-top: 28px;
    border-top: 1px solid #bbbbbb;
  }
  .models-wrap .tech-des.type2 > div:last-child {
    padding-bottom: 28px;
    border-bottom: 1px solid #bbbbbb;
  }
  .models-wrap .specification-wrap {
    padding: 152px 24px;
  }
  .models-wrap .specification-wrap dl {
    margin: 12px 0 0 0;
    max-width: 100%;
  }
  .models-wrap .specification-wrap .specification-box > img {
    margin-top: 28px;
    margin-bottom: 12px;
  }
  .models-wrap .specification-wrap dl dt {
    flex: 100%;
    font-size: 16px;
    line-height: 22.4px;
    padding: 24px 0 0 0;
    border-bottom: 0;
  }
  .models-wrap .specification-wrap dl dd {
    flex: 0 0 100%;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 0 24px 0;
    font-family: "Hyundai Sans Head", "Hyundai Sans Head KR", sans-serif;
  }
  .models-wrap .specification-txt {
    margin-top: 24px;
    max-width: 100%;
  }
  .models-wrap .specification-wrap .specification-box img {
    width: 312px;
    height: 234px;
  }
  .models-wrap .specification-wrap .specification-box .tab-head {
    justify-content: center;
    margin-top: 28px;
  }
  .models-wrap .specification-wrap .specification-box .tab-head .tabs {
    justify-content: center;
  }
  .models-wrap .specification-wrap .specification-box .tab-head .tab2 {
    flex-wrap: wrap;
  }
  .models-wrap .specification-wrap .specification-box .tab-head .tab2 li {
    width: 100%;
    border-right: 1px solid #777;
  }
  .models-wrap
    .specification-wrap
    .specification-box
    .tab-head
    .tab2
    li
    :first-child {
    border-bottom: 0;
  }
  .models-wrap .specification-wrap .specification-box .tab-head .tab2 li a,
  .models-wrap .specification-wrap .specification-box .tab-head .tab3 li a {
    width: 100%;
  }
  .models-wrap .gallery-wrap .img-area .lg-txt-btn02 {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .models-wrap .related-wrap {
    padding: 80px 0px 120px 0px;
  }
  .models-wrap .related-wrap .text-strong {
    padding-left: 24px;
  }
  .models-wrap .related-wrap .models-cardbox {
    --size: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    gap: 12px;
    min-width: calc(258px * var(--size) + 48px);
  }
  .models-wrap .related-wrap .models-cardbox.w30 > div,
  .models-wrap .related-wrap .models-cardbox.w30 .models-card {
    scroll-snap-align: start;
    width: 368px;
  }
  .models-wrap .specification-wrap .specification-box p.text-strong {
    margin-bottom: 12px;
  }
  .models-wrap img + .tech-des {
    margin-top: 28px;
  }
  /* 0726 추가 */
  .models-wrap img + .tech-des .text-strong-md + .text-normal-xs {
    margin-top: 12px;
  }
  .models-wrap .gallery-wrap {
    padding: 152px 0 0 0;
    margin-bottom: 152px;
  }
  .models-wrap .gallery-wrap .max1440 {
    padding: 0 24px 44px 24px;
  }
  .models-wrap .kona-notice-wrap {
    padding: 100px 24px;
  }
  .models-wrap .kona-notice-wrap .max1440 {
    gap: 12px;
  }
  .models-wrap .kona-notice-wrap ul {
    width: 100%;
  }
  .models-wrap .kona-notice-wrap ul li {
    position: relative;
  }
  .models-wrap .kona-notice-wrap ul li::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    margin-top: 11px;
    left: -16px;
  }
  .models-wrap .kona-notice-wrap ul li + li {
    margin-top: 12px;
  }
  .perfor-wrap .perfor-slide-box {
    max-width: 100%;
  }
  .perfor-wrap .perfor-slide-box .img-move-btn button {
    width: 42px;
    height: 42px;
    margin-right: -21px;
  }
  .models-wrap .perfor-wrap .models-full.icon20 {
    background: url(../../inc/images/Models/i20N/i20N_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1333px;
  }
  .models-wrap .perfor-wrap .models-full.icon30 {
    background: url(../../inc/images/Models/i30N/i30N_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.icon30fast {
    background: url(../../inc/images/Models/i30NFastbackN/i30NFastbackN_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.ioniq5N_en1 {
    background: url(../../inc/images/Models/ioniq5N_en1/ioniq5N_en1_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.ioniq5N_ta {
    background: url(../../inc/images/Models/ioniq5N_ta/ioniq5N_ta_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 1053px;
  }
  .models-wrap .perfor-wrap .models-full.rn_22e {
    background: url(../../inc/images/Models/RN_22e/RN_22e_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.rm20e {
    background: url(../../inc/images/Models/RM20e/RM20e_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1598px;
  }
  .models-wrap .perfor-wrap .models-full.rm19 {
    background: url(../../inc/images/Models/RM19/RM19_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.project_rm {
    background: url(../../inc/images/Models/projectRM/projectRM_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 960px;
  }
  .models-wrap .perfor-wrap .models-full.vision_gt {
    background: url(../../inc/images/Models/VisionGT/VisionGT_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1643px;
  }
  .models-wrap .perfor-wrap .models-full.rn30 {
    background: url(../../inc/images/Models/RN30/RN30_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1863px;
  }
  .models-wrap .perfor-wrap .models-full.veloster_n {
    background: url(../../inc/images/Models/VELOSTER_N/VELOSTER_N_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.veloster_n_new {
    background: url(../../inc/images/Models/VELOSTER_N_new/VELOSTER_N_new_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .perfor-wrap .models-full.kona_n {
    background: url(../../inc/images/Models/kona_N/kona_N_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1415px;
  }
  .models-wrap .perfor-wrap .models-full.ioniq5n {
    background: url(../../inc/images/Models/ioniq5N/ioniq5N_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1026px;
  }
  .models-wrap .perfor-wrap .models-full.elantra_n {
    background: url(../../inc/images/Models/elantraN/elantraN_performance_bg_mo.png)
      center top no-repeat;
    background-size: cover;
    position: relative;
    height: 1207px;
  }
  .models-wrap .perfor-wrap .models-full.vision74 {
    background: url(../../inc/images/Models/NVision74/NVision74_performance_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  /* design */
  .models-wrap .desgin-wrap .models-full.icon20 {
    background: url(../../inc/images/Models/i20N/i20N_desgin_bg_mo.png) center
      bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .tech-wrap .models-full.icon20 {
    background: url(../../inc/images/Models/i20N/i20N_technology_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.icon30 {
    background: url(../../inc/images/Models/i30N/i30N_desgin_bg_mo.png) center
      bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.icon30fast {
    background: url(../../inc/images/Models/i30NFastbackN/i30NFastbackN_desgin_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.ioniq5N_en1 {
    background: url(../../inc/images/Models/ioniq5N_en1/ioniq5N_en1_desgin_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.rn_22e {
    background: url(../../inc/images/Models/RN_22e/RN_22e_desgin_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.ioniq5n_npx1 {
    background: url(../../inc/images/Models/ioniq5N_npx1/ioniq5N_npx1_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.rm20e {
    background: url(../../inc/images/Models/RM20e/RM20e_design_bg_mo.png) center
      bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.project_rm {
    background: url(../../inc/images/Models/projectRM/projectRM_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 1220px;
  }
  .models-wrap .desgin-wrap .models-full.vision_gt {
    background: url(../../inc/images/Models/VisionGT/VisionGT_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 1232px;
  }
  .models-wrap .desgin-wrap .models-full.rn30 {
    background: url(../../inc/images/Models/RN30/RN30_design_bg_mo.png) center
      bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 1742px;
  }
  .models-wrap .desgin-wrap .models-full.veloster_n {
    background: url(../../inc/images/Models/VELOSTER_N/VELOSTER_N_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.show_car {
    background: url(../../inc/images/Models/ShowCar/ShowCar_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 1400px;
  }
  .models-wrap .desgin-wrap .models-full.veloster_n_new {
    background: url(../../inc/images/Models/VELOSTER_N_new/VELOSTER_N_new_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.kona_n {
    background: url(../../inc/images/Models/kona_N/kona_N_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.ioniq5n {
    background: url(../../inc/images/Models/ioniq5N/ioniq5N_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.elantra_n {
    background: url(../../inc/images/Models/elantraN/elantraN_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap .desgin-wrap .models-full.vision74 {
    background: url(../../inc/images/Models/NVision74/NVision74_design_bg_mo.png)
      center bottom no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
  }
  .models-wrap
    .models-nofull-box.type-col2
    .text-col
    .text-strong
    + .text-normal {
    margin-top: 12px;
  }
  /* 0709 모델 내 갤러리 다운로드 버튼 수정 */
  .models-wrap .gallery-wrap .img-area .icon-download-wh {
    margin-left: 0;
  }

  .models-wrap .ty02Swiper .swiper-wrapper {
    padding-bottom: 38px;
  }
  .models-wrap .ty02Swiper .swiper-bottom-wrap {
    display: none;
  }
  .models-wrap .ty02Swiper .swiper-slide .img-area {
    /* min-height: 234px; */
  }
  .models-wrap .ty02Swiper .swiper-status-wrap {
    position: unset;
    justify-content: center;
    transform: none;
  }

  .models-wrap
    [class*="content-item"]
    [class*="max1440"]
    .btn-wrap:last-child
    .btn[class*="lg-txt-btn"],
  .models-wrap .btn-wrap-default:last-child .btn[class*="lg-txt-btn"],
  .brand .motor_tab .motor_tab_con .lg-txt-btn01 {
    padding: 8px 0;
  }

  .brand .motor_tab .motor_tab_con .lg-txt-btn01:hover::after,
  .brand .motor_tab .motor_tab_con .lg-txt-btn01:active::after,
  .models-wrap
    .btn-wrap-default:last-child
    .btn[class*="lg-txt-btn"]:hover::after,
  .models-wrap
    .btn-wrap-default:last-child
    .btn[class*="lg-txt-btn"]:active::after,
  .models-wrap
    [class*="content-item"]
    [class*="max1440"]
    .btn-wrap:last-child
    .btn[class*="lg-txt-btn"]:hover::after,
  .models-wrap
    [class*="content-item"]
    [class*="max1440"]
    .btn-wrap:last-child
    .btn[class*="lg-txt-btn"]:active::after {
    bottom: 3px;
  }

  .model-mo-full {
    gap: 44px;
    padding: 0;
  }
  .model-mo-full.middle {
    margin-top: -32px;
    margin-bottom: -76px;
  }
  .model-mo-full:last-child {
    margin-bottom: 152px;
  }
  .models-nofull + .model-mo-full {
    margin-top: -32px;
  }
  .models-full + .model-mo-full {
    margin-top: 120px;
  }
  .model-mo-full .text-col {
    padding: 0 24px;
  }
  .model-mo-full .img-wrap .text-col {
    margin-top: 28px;
    padding: 0 24px;
  }
  .model-mo-full .tech-des {
    padding: 0 24px;
  }
  .models-nofull .img-wrap {
    margin-top: 44px;
  }
  .models-nofull .img-wrap .text-col {
    margin-top: 28px;
    padding: 0;
  }
  .models-nofull .img-wrap + .btn-wrap {
    margin-top: 44px;
  }
}
