/*** model 내 팝업 ***/

.popup.model-popup.forModel {
  max-width: 1200px;
  overflow: hidden;
}

.popup.model-popup.forModel .popup-wrapper .popup-header {
  padding: 28px 40px 27px 40px;
}

.popup.model-popup.forModel .popup-body {
  max-height: calc(100vh - 160px);
  padding: 40px 40px 160px 40px;
  margin-bottom: 0;
}

.popup.model-popup.forModel .popup-wrapper .popup-body .inner-body-model {
  padding: 40px 0 0 0;
  max-height: 100%;
  gap: 60px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body.single
  .inner-body-model {
  padding: 0;
  max-height: calc(100vh - 250px);
  gap: 60px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model:first-child {
  padding-top: 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox {
  padding: 60px 0 0 0;
  border-bottom: 1px solid #bbbbbb;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox:first-child {
  padding-top: 0;
  padding-bottom: 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox:last-child {
  padding-top: 60px;
  padding-bottom: 0;
  border-bottom: 0;
}

/** 팝업에 표시할 컨텐츠가 하나일 때(.popup-body-innerbox가 하나일 때 시작 **/
.popup.model-popup.forModel
  .popup-wrapper
  .popup-body.single
  .inner-body-model
  .popup-body-innerbox {
  padding-top: 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body.single
  .inner-body-model
  .popup-body-innerbox
  .container-desc {
  padding: 24px 0 160px 0;
}

/* 추가 케이스: 팝업 안에 영상 3개 들어가는 레이아웃 한 묶음이 하나일 때 시작 */
.popup.model-popup.forModel
  .popup-wrapper
  .popup-body.single
  .inner-body-model
  .popup-body-innerbox
  .container-desc.video-func {
  padding: 0 0 160px 0;
}
/* 추가 케이스 끝 */

/** 팝업에 표시할 컨텐츠가 하나일 때(.popup-body-innerbox가 하나일 때 끝 **/

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0 60px 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .popup-body-innerbox:last-child
  .container-desc {
  padding: 24px 0 0 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .wrap-function {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .desc-note {
  font-family: "Hyundai Sans Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  color: #555;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc
  .wrap-function
  .wrap-desc
  .tit-type04 {
  font-size: 20px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.lg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.sm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc.none {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc
  .box-desc-divide {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-desc
  .box-desc-divide.gap8 {
  gap: 8px;
}

.popup .popup-wrapper .popup-body .inner-body-model .wrap-desc.lg .txt-type03 {
  font-weight: 500;
}

/** s **/
.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func {
  width: 100%;
  display: flex;
  gap: 40px;
  padding: 0 0 60px 0;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func {
  width: calc(100% / 3);
  display: grid;
  gap: 20px;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func
  .box-video {
  width: 100%;
  height: fit-content;
  position: relative;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func
  .box-video
  video {
  width: 100%;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func
  .box-video
  button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func
  .box-video
  button.btn:not(.btn-only-icon-notbg):hover,
.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .box-video-func
  .box-video
  button.btn:not(.btn-only-icon-notbg):active {
  background-color: #de3111;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .txt-type03 {
  display: flex;
  font-weight: 500;
}

.popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .container-desc.video-func
  .wrap-video-func
  .txt-type03
  > span {
  max-width: 24px;
  width: 100%;
}

/* e */

/** 모델 팝업 내 영상 시작 **/
.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video {
  max-width: 1120px;
  height: 630px;
  max-height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../images/img/img_model_popup_bg.png") no-repeat;
  background-size: cover;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video
  button {
  margin: 0 auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video
  button:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s all ease;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video
  button:hover
  > img {
  transition: 0.3s all ease;
  opacity: 0.9;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video
  button
  img {
  width: 200px;
  height: 200px;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video {
  width: 100%;
  height: 630px;
  max-height: 100%;
  position: relative;
}

.popup.model-popup.forModel
  .popup-wrapper
  .popup-body
  .inner-body-model
  .wrap-model-video
  video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/** 모델 팝업 내 영상 끝 **/

/** .formodel 내 닫기 버튼 **/
.popup.model-popup.forModel
  .btn-wrap
  button.btn-only-icon-notbg.popup-close-btn-x {
  top: 32px;
}

@media screen and (max-width: 1023px) {
  .popup.model-popup.forModel {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  .popup.model-popup.forModel .popup-wrapper .popup-header {
    padding: 16px 24px;
  }

  .popup .popup-wrapper .popup-header .inner-header-txt {
    padding-right: 35px;
  }

  .popup.model-popup.forModel .popup-wrapper {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  .popup.model-popup.forModel .popup-wrapper .popup-header {
    position: sticky;
    width: 100%;
  }

  .popup.model-popup.forModel .popup-wrapper .popup-body {
    max-height: calc(100% - 60px);
    padding: 40px 24px 024px;
  }

  .popup.model-popup.forModel .popup-wrapper .video-wrapper .popup-body {
    max-height: calc(100vh - 60px);
    padding: 40px 24px 0 24px;
  }

  .popup.model-popup.forModel .popup-wrapper .popup-body.single {
    max-height: calc(100% - 60px);
    padding: 40px 24px 100px 24px;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body.single
    .inner-body-model {
    padding: 0;
    max-height: calc(100% - 60px);
  }

  .popup.model-popup.forModel .popup-wrapper .popup-body .inner-body-model {
    max-height: 100%;
    padding: 0 0 100px 0;
    gap: 36px;
  }

  .popup.model-popup.forModel .popup-wrapper .popup-body .inner-body-model {
    padding: 40px 0 100px 0;
    gap: 36px;
    display: grid;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .type01 {
    padding: 40px 24px 100px 24px;
    gap: 36px;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .type02 {
    padding: 28px 24px 100px 24px;
    gap: 36px;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .wrap-model-video {
    height: 256px;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .wrap-model-video
    button
    img {
    width: 100px;
    height: 100px;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox {
    padding: 0;
    border-bottom: 1px solid #bbbbbb;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc {
    padding: 24px 0 36px 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body.single
    .inner-body-model
    .container-desc {
    padding: 24px 0 36px 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox:last-child
    .container-desc {
    padding: 24px 0 0 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox:last-child {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .wrap-desc.lg {
    gap: 12px;
  }

  .popup.model-popup.forModel
    .btn-wrap
    button.btn-only-icon-notbg.popup-close-btn-x {
    top: 12px;
    height: fit-content;
    right: 24px;
  }

  .popup.model-popup.forModel
    button.btn-only-icon-notbg.popup-close-btn-x
    span.model-closebtn.icon-close {
    top: 0;
    position: relative;
  }

  /* 0701 레이아웃 추가 */
  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func {
    gap: 28px;
    padding: 0 0 36px 0;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .popup-body-innerbox:last-child
    .container-desc.video-func {
    /* video, 설명 텍스트 전체 다 감싸는 컨테이너 */
    padding: 0 0 28px 0;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func {
    /* video, 하단 재생 컨트롤버튼만 감싸는 컨테이너 */
    flex-direction: column;
    gap: 28px;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    /* video, video 하단 설명만 감싸는 컨테이너 */
    .box-video-func {
    width: 100%;
    display: grid;
    gap: 12px;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    .txt-type03 {
    gap: 10px;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    .txt-type03
    > span {
    max-width: 20px;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    .box-video-func
    .box-video
    button {
    width: 20px;
    height: 20px;
    bottom: 16px;
    right: 12px;
  }

  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    .box-video-func
    .box-video
    button
    .icon-pause-wh,
  .popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .container-desc.video-func
    .wrap-video-func
    .box-video-func
    .box-video
    button
    .icon-play-wh {
    width: 12px;
    height: 12px;
  }
}

/* 이하 팝업 헤더의 제목 말줄임 처리 */
/* .ellip.small의 경우 제목이 조금 더 길 때 작업  */
@media screen and (max-width: 1280px) {
  .popup-wrapper .popup-header .ellip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 100px);
  }

  .popup-wrapper .popup-header .ellip.small {
    width: 100%;
  }

  .popup.model-popup.forModel
    .popup-wrapper
    .popup-body
    .inner-body-model
    .wrap-model-video {
    height: fit-content;
  }
}

@media screen and (max-width: 820px) {
  .popup-wrapper .popup-header .ellip {
    width: calc(100% - 200px);
  }
  .popup-wrapper .popup-header .ellip.small {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .popup-wrapper .popup-header .ellip {
    width: calc(100% - 320px);
  }
}

@media screen and (max-width: 450px) {
  .popup-wrapper .popup-header .ellip.small {
    width: calc(100% - 100px);
  }
}
