<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width, viewport-fit=cover" />
  <title>N브랜드 | Join_Logout_Login_Popup</title>
  <script type="text/javascript" src="../../inc/js/jquery-3.7.1.slim.min.js"></script>
  <script type="text/javascript" src="../../inc/js/plugins.js"></script>
  <script type="text/javascript" src="../../inc/js/com-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="../../inc/css/common.css" />
</head>

<body>
  <div class="skip-navigation">
    <a href="#container">본문 바로가기</a>
  </div>
  <div class="wrap">
    <header class="header-wrap">
      <div class="header-cont">
        <h1 class="logo">
          <a href="/"><img src="../../inc/images/img/img_logo.svg" loading="lazy" alt="N브랜드" /></a>
        </h1>
        <div class="sitemap-wrap">
          <button class="nav-btn" data-label="전체 메뉴 닫기" aria-label="전체 메뉴 열기" aria-expanded="true"
            aria-controls="navWrap">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </button>
        </div>

        <div class="utile-wrap">
          <div class="utile-cont">
            <div class="utile-item">
              <button class="lang-btn" data-txt="KR" data-label="현재 국문, 영문로 변경하기" aria-label="현재 영문, 국문으로 변경하기">
                <span>EU</span>
              </button>
            </div>
            <div class="utile-item02">
              <button class="login-btn" title="로그인"></button>

              <!-- 로그인 이후 -->
              <!-- <button class="alarm-btn" title="미확인 알림"></button> -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--  -->
    <section id="container" class="content-wrap">
      <div class="content-area">
        <button class="pop-open" aria-controls="pop02" aria-haspopup="true" aria-expanded="false" title="팝업오픈">
          CM070102C01 하단 팝업 열기
        </button>
        <br>
        <button class="pop-open" aria-controls="pop01" aria-haspopup="true" aria-expanded="false" title="팝업오픈">
          CM030101C01 하단 팝업 열기
        </button>
        <br>
        <button class="pop-open" aria-controls="pop03" aria-haspopup="true" aria-expanded="false" title="팝업오픈">
          CM030101C02 하단 팝업 열기
        </button>
      </div>
    </section>
    <footer class="footer-wrap">
      <div class="footer-area"></div>
    </footer>
  </div>
  <div id="pop01" class="popup bottom-popup logout_popup_wrap ty02" role="dialog" aria-modal="true" aria-labelledby="tit">
    <div class="pop-wrap">
      <p class="logout_popup_text">This service requires login.</p>
      <div class="btn-wrap-type2">
        <button type="button" class="btn btn-md-outline01 pop-close">
          Cancel
          <span class="btn-icon16 icon-right" aria-hidden="true"></span>
        </button>
        <a href="#" class="btn btn-md-primary01">
          Login
          <span class="btn-icon16 icon-right-wh" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <div id="pop02" class="popup bottom-popup inquiry_popup_wrap" role="dialog" aria-modal="true" aria-labelledby="tit">
    <div class="pop-wrap">
      <p>1:1 inquiry has been accepted.</p>
      <ul>
        <li>You will be notified by notification when the 1:1 inquiry is answered. </li>
        <li>Answers to 1:1 inquiries can be found in the <span>Mypage > 1:1 Inquiry</span> menu.</li>
      </ul>
      <div class="btn-wrap-default">
        <button type="button" class="btn btn-md-primary01 pop-close">
          Confirmation
          <span class="btn-icon20 icon-right-wh" aria-hidden="true"></span>
        </button>
      </div>
      <!-- <div class="btn-wrap">
        <button type="button" class="btn btn-only-icon-notbg popup-close-btn-x" onclick="NbrandUI.popClose(this)" title="close"> 
          <span class="visually-hidden">close</span>
          <span class="btn-icon36 icon-close" aria-hidden="true"></span>
        </button>
      </div> -->
    </div>
  </div>
  <div id="pop03" class="popup bottom-popup logout_popup_wrap" role="dialog" aria-modal="true" aria-labelledby="tit">
    <div class="pop-wrap">
      <p class="logout_popup_text">
        You have <span>124</span> unread notifications.
      </p>
      <div class="btn-wrap-type3">
        <button type="button" class="btn btn-md-outline01 pop-close">
          Cancel
          <span class="btn-icon16 icon-right" aria-hidden="true"></span>
        </button>
        <a href="#" class="btn btn-md-primary01">
          View notifications
          <span class="btn-icon16 icon-right-wh" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- NbrandUI.toastPopup 함수 사용하면 토스트 팝업 노출 -->
  <div id="toast" class="toast-popup" role="alert" aria-live="polite" aria-atomic="true">
    <p>I copied the link. Please paste it wherever you want.</p>
  </div>

  <script>
    $(document).ready(function () {
      NbrandUI.toastPopup(".toast-popup");
    })
  </script>
</body>

</html>